@media screen and (max-width: 850px) {

    .mypage_container .mypage_wrap .gnb_menu {
        flex-basis: 0 !important;
        flex-shrink: 0;
    }

    .gnb_menu_list {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1.3684rem 0;
        display: none;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        z-index: 10;
        margin-top: 0;
        padding: 0 2.9999rem 2.6rem;
    }

    .now_tab_text {
        width: 100%;
        height: 9.8rem !important; 
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        /* background-color: #000; */
        font-size: 3rem !important;
        font-weight: 700;
        background: var(--bs-point) url(/images/btn/arrow_down_m.png) no-repeat right 1.7316rem center/ auto;
        background-size: 2.4001rem 1.6999rem;
    }


    .gnb_menu_list li {
        width: 100%;
        height: 100%;
        border: none;
        /* display: flex;
        align-items: center;
        justify-content: center; */
        text-align: center;
        color: #000;
        font-size: 2.2534rem;
        font-weight: 400;
        background-color: transparent;
        border-bottom: 0.1999rem solid #dbdbdb !important;
    }

    .gnb_menu_list li:last-child {
        border-bottom: none;
    }

    .mypage_container .gnb_menu {
        position: relative;
        overflow-y: visible;
    }

    .mypage_container .gnb_menu_list>li .menu_level_1 {
        height: 7.3666rem;
        border-bottom: none;
        justify-content: center;
    }

    .mypage_container .gnb_menu_list>li .menu_level_1.has_submenu {
        background: url(../assets/img/ico/gnb_menu_list_w.png) no-repeat right 1.7316rem center/ auto;
        background-size: 1.9999rem 1rem;
    }

    .mypage_container .gnb_menu_list>li .menu_level_1 .btn_togle {
        display: none;
    }

    .mypage_container .gnb_menu li .menu_level_1 a {
        font-size: 2.6rem;
        font-family: "Noto Sans KR";
        font-weight: 400;
        color: #252525;
    }

    .mypage_container .gnb_menu li .menu_level_2 a {
        font-size: 2.6rem;
        font-family: "Noto Sans KR";
        font-weight: 400;
        color: #656565;
    }

    .gnb_menu_list>li .menu_level_2 {
        flex-direction: column !important;
        border-bottom: none !important;
        padding: 2.9999rem 0 !important;
        color: #656565 !important;
        gap: 2.9999rem !important;
        background-color: #fafafa !important;
        border-top: 0.1999rem solid #dbdbdb !important;
    }

    .mypage_container .content .details_table.mo colgroup {
        display: none;
    }

    .mypage_container .content .details_table.mo tbody tr .check {
        width: 4.0001rem;
    }

    .mypage_container .content .details_table.mo tbody tr .des {
        order: 0;
        flex-basis: 93%;
        padding-left: 2.4001rem;
    }

    .mypage_container .content .details_table.mo tbody tr .des a {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        height: 3.8399rem;
        line-height: 1.5;
        text-align: left;
    }

    .mypage_container .content .details_table.mo tbody tr .stt {
        text-align: center;
        color: #999999;
        font-size: 2.4001rem;
        font-weight: 500;
    }

    .mypage_container .content .details_table.mo tbody tr .no {
        display: none;
    }

    .mypage_container .content .details_table.mo tbody tr .num {
        text-align: center;
        color: #454545;
        order: 2;
        padding-right: 2.3rem;
        position: relative;
    }

    .mypage_container .content .details_table.mo tbody tr .num::before {
        content: '구분: ';
        font-size: 2.6rem;
        color: #454545;
    }

    .mypage_container .content .details_table.mo tbody tr .num::after {
        width: 0.1999rem;
        height: 2.08rem;
        background-color: #757575;
        content: '';
        position: absolute;
        right: 0.9799rem;
        top: 0.3754rem;
    }

    .mypage_container .content .details_table.mo tbody tr .stt {
        text-align: center;
        color: #454545;
        order: 3;
        padding-right: 2.3rem;
        position: relative;
    }


    .mypage_container .content .point_table tbody tr .history span {
        height: 100% !important;
    }


    .mypage_container .content .details_table.mo tbody tr .stt::before {
        content: '상태: ';
        font-size: 2.6rem;
        color: #454545;
        font-weight: 400;
    }

    .mypage_container .content .details_table.mo tbody tr .stt::after {
        width: 0.1999rem;
        height: 2.08rem;
        background-color: #757575;
        content: '';
        position: absolute;
        right: 0.9799rem;
        top: 0.22rem;
    }

    .mypage_container .content .details_table.mo tbody tr .date {
        text-align: left;
        color: #454545;
        order: 4;
        padding-right: 2.3rem;
        width: 35.4rem;
        padding: 0 !important;
    }

    .mypage_container .content .details_table.mo tbody tr .date.spe {
        padding: 0 !important;
        text-align: left;
        width: fit-content;
    }

    .mypage_container .content .details_table.mo tbody tr .date::before {
        content: '등록일: ';
        font-size: 2.6rem;
        color: #454545;
    }

    .mypage_container .content .details_table.mo tbody tr .date.spe::before {
        content: unset;
        font-size: 2.6rem;
        color: #454545;
    }

    .mypage_container .content .details_table.mo tbody tr .date::after {
        display: none;
    }
}