@media only screen and (min-width: 300px) and (max-width: 850px) {

    .mypage_container {
        margin-top: 7.9999rem;
        margin-bottom: 20rem;
    }

    .mypage_container .mypage_wrap {
        display: flex;
        justify-content: start;
        gap: 7rem;
        flex-direction: column;
    }


    .mypage_container .mypage_wrap .gnb_menu .gnb_title {
        font-size: 3.6rem;
        padding-bottom: 2.9999rem;
        border-bottom: 0.769px solid;
    }



    .mypage_container .content .ttl_table {
        font-size: 3.4rem;
        font-weight: 500;
    }

    .mypage_container .content .details_search input {
        height: 7rem;
        flex: 1;
    }

    .mypage_container .content .details_search {
        margin-top: 2.4001rem;
        gap: 1.6rem;
    }

    .mypage_container .content .details_search select {
        width: 20rem;
        height: 7rem;
    }

    .mypage_container .content .details_search .search_button {
        width: 10.0001rem;
        height: 7rem;
    }

    .mypage_container .content .count {
        font-size: 2.7999rem;
        margin-top: 6rem;
        padding-bottom: 4.0001rem;
        border-bottom: 0.1999rem solid;
    }



    .mypage_container .content .details_filter {
        display: none;
    }

    .mypage_container .content .details_table thead {
        display: none;
    }

    .mypage_container .content .details_table,
    .mypage_container .content .details_table tbody {
        width: 100%;
        display: block;
    }

    .mypage_container .content .details_table tbody tr {
        display: flex;
        flex-wrap: wrap;
        min-height: 15.9999rem;
        border-bottom: 0.1999rem solid #e5e5e5;
        padding: 2.9999rem 0 2.9999rem 0;
        align-items: center;
        gap: 2.9999rem 0;
        height: unset;
    }

    .mypage_container .content .details_table tbody tr .des {
        width: 90%;
        order: 0;
        font-size: 3rem;
        font-weight: 500;
    }

    .mypage_container .content .details_table .des span {
        display: inline-block;
        /* width: 59.9999rem; */
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: left;
    }

    .mypage_container .content .details_table tbody tr .date {
        text-align: center;
        color: #757575;
        order: 2;
        font-size: 2.6rem;
        width: calc(100% / 3);
        position: relative;
    }

    .mypage_container .content .details_table tbody tr .ttl {
        padding: 0 2.9999rem 0 1.9999rem !important;
    }

    .mypage_container .content .details_table tbody tr .date {
        padding: 0 2.9999rem 0 0 !important;
    }

    .mypage_container .content .details_table tbody tr .date.date_1 {
        text-align: left;
        width: 100%;
    }

    .mypage_container .content .details_table tbody tr .date_s {
        order: 1;
    }

    .mypage_container .content .details_table tbody tr .date_s::after {
        content: '|';
        padding-left: 2.3rem;
    }

    .mypage_container .content .details_table tbody tr .date_s::before {
        content: '발행일: ';
        color: #454545;
    }

    .mypage_container .content .details_table tbody tr .date_e {
        order: 2;
    }

    .mypage_container .content .details_table tbody tr .date_e::before {
        content: '사용일자: ';
        color: #454545;
        padding-left: 2.3rem;
    }

    .mypage_container .content .details_table tbody tr .date:after {
        content: '|';
        padding-left: 2.3rem;
        padding-right: 0;
        font-size: 3rem;
        position: absolute;
        right: 0 !important;
        top: 1.2rem;
        margin-right: 2.3rem;
        display: none;
    }

    .mypage_container .content .details_table tbody tr .date::before {
        content: '시간: ';
        font-size: 2.6rem;
        color: #454545;
    }

    .mypage_container .content .details_table tbody tr .date.date_1::before {
        content: '날짜: ';
        font-size: 2.6rem;
        color: #454545;
    }


    .mypage_container .content .details_table tbody tr .ttl::before {
        /* content: '구분: '; */
        font-size: 2.6rem;
        color: #454545;
    }

    .mypage_container .content .details_table tbody tr .ttl {
        text-align: center;
        color: #454545;
        order: 3;
        color: #757575;
        padding-left: 2.3rem;
        width: calc(100% / 4);
    }

    .mypage_container .content .details_table tbody tr .ttl::after {
        /* content: '|';
        padding-left: 2.3rem; */
    }

    .mypage_container .content .details_table tbody tr .status {
        text-align: center;
        color: #454545;
        order: 5;
        padding: 0;
    }

    .mypage_container .content .details_table tbody tr .schedule {
        color: #454545;
        order: 4;
        margin-right: 0.8rem;
        padding: 0;
    }

    .mypage_container .content .details_table tbody tr .pay_btn {
        order: 6;
        margin-left: 4.5999rem;
    }

    .mypage_container .content .details_table tbody tr .pay_btn.pay_btn_1 a {
        width: 13rem;
        height: 5.0001rem;
        font-size: inherit;
        line-height: 5.0001rem;
        margin: 0;
    }

    .mypage_container .content .details_table tbody tr .pay_btn.pay_btn_1 .no_click {
        font-size: inherit;
    }

    .mypage_container .content .details_table tbody tr .status::before {
        content: '상태: ';
        padding-left: 2.3rem;
    }

    .mypage_container .content .details_table tbody tr .schedule a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 13rem;
        height: 5.0001rem;
        border: 0.1999rem solid #c2c2c2;
        border-radius: 0.3rem;
        margin: 0 auto;
        font-weight: 500;
        color: #454545;
    }

    .mypage_container .content .details_table tbody tr .schedule a i {
        display: inline-block;
        width: 2.2001rem;
        height: 2.2001rem;
        background: url(/images/mypage/mypage_table_schedule.ico_w.png) no-repeat center / auto;
        background-size: 2.2001rem;
    }

    /* fav_list_table_s */
    .mypage_container .content .fav_list_table thead {
        display: none;
    }

    .mypage_container .content .fav_list_table {
        width: 100%;
        /* display: block; */
    }

    .mypage_container .content .fav_list_table tbody tr {
        display: flex;
        flex-wrap: wrap;
        height: 15.9999rem;
        border-bottom: 0.1999rem solid #e5e5e5;
        padding: 2.9999rem 0 2.9999rem 0;
        align-items: center;
        width: 100%;
    }

    .mypage_container .content .fav_list_table tbody tr .des {
        order: 0;
        flex-basis: 93%;
        padding-left: 7.6001rem;
        margin-top: -3.38rem;
    }

    .mypage_container .content .fav_list_table tbody tr .date {
        text-align: center;
        color: #757575;
        order: 2;
        font-size: 2.6rem;
    }

    .mypage_container .content .fav_list_table tbody tr .check {
        width: 4.0001rem;
    }

    .mypage_container .content .fav_list_table tbody tr .date::before {
        content: '|';
        padding-right: 2.3rem;
    }

    .mypage_container .content .fav_list_table tbody tr .schedule {
        color: #454545;
        order: 5;
        margin-left: 16.64rem;
    }

    .mypage_container .content .fav_list_table tbody tr .des span {
        display: inline-block;
        width: 58.5rem;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }

    .mypage_container .content .fav_list_table tbody tr .schedule a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 13rem;
        height: 5.0001rem;
        border: 0.1999rem solid #c2c2c2;
        border-radius: 0.3rem;
        margin: 0 auto;
        font-weight: 500;
        color: #454545;
    }

    .mypage_container .content .fav_list_table tbody tr .schedule a i {
        display: inline-block;
        width: 2.2001rem;
        height: 2.2001rem;
        background: url(../assets/img/ico/mypage_table_schedule.ico_m.png) no-repeat center / auto;
        background-size: 2.2001rem;
    }

    .mypage_container .content .fav_list_table tbody tr .no {
        display: none;
    }

    .mypage_container .content .fav_list_table tbody tr .no,
    .mypage_container .content .fav_list_table tbody tr .num {
        text-align: center;
        color: #454545;
        order: 2;
        padding-right: 2.3rem;
    }

    .mypage_container .content .fav_list_table tbody tr .num::before {
        content: '상품번호: '
    }

    .mypage_container .content .cancel button {
        width: 13rem;
        height: 6rem;
        border: 0.1001rem solid #aaaaaa;
        border-radius: 0.3rem;
    }

    .mypage_container .cancel a.btn.btn-lg {
        height: 6rem;
        line-height: 6rem;
    }

    .mypage_container .content .cancel {
        gap: 1.9999rem;
        margin-top: 2.9999rem;
        margin-left: 1.1999rem;
    }

    /* fav_list_table_e */

    /* travel_review_table_s */
    .mypage_container .content .travel_review_table thead {
        display: none;
    }

    .mypage_container .content .travel_review_table {
        width: 100%;
        display: block;
    }

    .mypage_container .content .travel_review_table tbody tr {
        display: flex;
        flex-wrap: wrap;
        min-height: 15.9999rem;
        border-bottom: 0.1999rem solid #e5e5e5;
        padding: 2.9999rem 0 2.9999rem 0;
        align-items: center;
        height: unset;
    }

    .mypage_container .content .travel_review_table tbody tr .des {
        order: 0;
        display: inline-block;
        width: 65.1999rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        height: 100%;
        padding-left: 0;
        line-height: normal;
        padding-right: 0;
    }

    .mypage_container .content .travel_review_table tbody tr .date {
        text-align: center;
        color: #757575;
        order: 2;
        font-size: 2.6rem;
    }

    .mypage_container .content .travel_review_table tbody tr .check {
        width: 4.0001rem;
    }

    .mypage_container .content .travel_review_table tbody tr .date::before {
        content: '|';
        padding-right: 2.3rem;
    }

    .mypage_container .content .travel_review_table tbody tr .schedule {
        color: #454545;
        order: 5;
        margin-left: auto;
        margin-right: 0.8rem;
    }

    .mypage_container .content .travel_review_table tbody tr .schedule a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 13rem;
        height: 5.0001rem;
        border: 0.1999rem solid #c2c2c2;
        border-radius: 0.3rem;
        margin: 0 auto;
        font-weight: 500;
        color: #454545;
    }

    .mypage_container .content .travel_review_table tbody tr .schedule a i {
        display: inline-block;
        width: 2.2001rem;
        height: 2.2001rem;
        background: url(../assets/img/ico/mypage_table_schedule.ico_m.png) no-repeat center / auto;
        background-size: 2.2001rem;
    }

    .mypage_container .content .travel_review_table tbody tr .no {
        display: none;
    }

    .mypage_container .content .travel_review_table tbody tr .no,
    .mypage_container .content .travel_review_table tbody tr .num {
        text-align: center;
        color: #757575;
        order: 2;
        padding-right: 2.3rem;
    }

    .mypage_container .content .travel_review_table tbody tr .num::before {
        content: '구분: ';
        color: #454545;
    }


    /* travel_review_table_e */


    /* point_table_s */
    .mypage_container .content .point_table thead {
        display: none;
    }

    .mypage_container .content .point_table {
        width: 100%;
        display: block;
    }

    .mypage_container .content .point_table tbody tr {
        display: flex;
        flex-wrap: wrap;
        height: 15.9999rem;
        border-bottom: 0.1999rem solid #e5e5e5;
        padding: 2.9999rem 0 2.9999rem 0;
        align-items: center;
    }

    .mypage_container .content .point_table tbody tr .date {
        text-align: center;
        color: #757575;
        order: 1;
        font-size: 2.6rem;
        padding-right: 2.3rem;
        position: relative;
    }

    .mypage_container .content .point_table tbody tr .date::after {
        content: '';
        position: absolute;
        top: 0.26rem;
        right: 0;
        width: 0.1001rem;
        height: 1.9999rem;
        background-color: #252525;
    }

    .mypage_container .content .point_table tbody tr .used::before {
        content: '사용: ';
        color: #454545;
    }

    .mypage_container .content .point_table tbody tr .used::after {
        content: '';
        position: absolute;
        top: 0.26rem;
        right: 0;
        width: 0.1001rem;
        height: 1.9999rem;
        background-color: #252525;
    }

    .mypage_container .content .point_table tbody tr .remaining::before {
        content: '잔여: ';
        padding-left: 2.3rem;
        color: #454545;
    }

    .mypage_container .content .point_table tbody tr .history {
        width: 100%;
        line-height: 1.5;
        padding-left: 0;
    }

    .mypage_container .content .point_table tbody tr .used {
        order: 2;
        color: #757575;
        padding: 0 1.4999rem;
        position: relative;
    }

    .mypage_container .content .point_table tbody tr .remaining {
        order: 3;
        color: #757575;
    }

    .mypage_container .content .point_table tbody tr .des {
        width: 100%;
    }

    .mypage_container .content .point_table tbody tr .date_s {
        order: 1;
        padding-right: 2.3rem;
    }

    .mypage_container .content .point_table tbody tr .date_e {
        order: 2;
    }

    .mypage_container .content .point_table tbody tr .date_s::before {
        content: '발행일: ';
        color: #454545;
    }

    .mypage_container .content .point_table tbody tr .date_e::before {
        content: '사용일자: ';
        color: #454545;
        padding-left: 2.3rem;
    }

    /* point_table_e */


    /* coupon_table_s */
    .mypage_container .content .coupon_table thead {
        display: none;
    }

    .mypage_container .content .coupon_table {
        width: 100%;
        display: block;
    }

    .mypage_container .content .coupon_table tbody tr {
        display: flex;
        flex-wrap: wrap;
        /* height: 26.5rem; */
        height: 100%;
        border-bottom: 0.1999rem solid #e5e5e5;
        padding: 2.9999rem 0 2.9999rem 0;
        align-items: center;
        width: 66rem;
    }

    .mypage_container .content .coupon_table tbody tr .coupon .cp_logo {
        font-family: "Suit";
        font-weight: 300;
        font-size: 2.4001rem;
        transform: rotate(-90deg);
        color: #fff;
        background-color: #1f9de9;
        border-radius: 0.6001rem;
        padding: 1.3rem 2.3rem;
    }

    .mypage_container .content .coupon_table tbody tr .coupon .price {
        font-family: "Suit";
        font-weight: 800;
        font-size: 3.6rem;
        border-radius: 0.6001rem;
        border: 0.1001rem solid #dbdbdb;
        padding: 4.0999rem 3.6rem;
        margin-left: -3.5001rem;
    }

    .mypage_container .content .coupon_table tbody tr .coupon .price span {
        font-weight: 400;
        font-size: 2.6rem;
    }

    .mypage_container .content .coupon_table tbody tr .des {
        padding-left: 2.7999rem;
        font-size: 2.7999rem;
        line-height: 4.0001rem;
        width: 37.5999rem;
    }

    .mypage_container .content .coupon_table tbody tr .des p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .mypage_container .content .coupon_table tbody tr .des .note {
        font-size: 2.6rem;
        color: #757575;
    }

    .mypage_container .content .coupon_table tbody tr .date::before {
        content: '사용기간: \00a0';
        padding-left: 3.6rem;
        color: #454545;
    }

    .mypage_container .content .coupon_table tbody tr .date {
        padding: 2.6rem 0 0;
    }

    .mypage_container .content .coupon_table tbody tr .down {
        margin-left: auto;
        padding: 3.9rem 0 0;
    }

    .mypage_container .content .coupon_table tbody tr .down button {
        color: #2e3e92;
        border: 0.1001rem solid #2e3e92;
        width: 14rem;
        height: 5.0001rem;
        border-radius: 0.3rem;
    }

    /* coupon_table_e */


    .mypage_container .travel_review_bottom {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .mypage_container .sub_write {
        align-self: center;
        font-size: 2.7999rem;
        font-weight: 500;
        color: #ffffff;
        width: 100%;
        height: 8.9999rem;
        background: #2e3e92;
        border-radius: 0.3999rem;
        text-align: center;
        line-height: 6.5rem;
        margin-top: 7.9999rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mypage_container .content .top_content .benefit_ttl {
        font-size: 3.4rem;
        font-weight: 500;
        padding-bottom: 4.2rem;
    }


    .mypage_container .content .top_content .benefit_info {
        height: 31.0001rem;
        border: 0.1999rem solid #2e3e92;
    }

    .mypage_container .content .top_content .benefit_info .point {
        flex-basis: 50%;
        gap: 2.6rem;
        padding-left: unset;
        flex-direction: column;
    }

    .mypage_container .content .top_content .benefit_info .point .point_ico img {
        width: 8.9999rem;
        height: 8.9999rem;
    }

    .mypage_container .content .top_content .benefit_info .point .ttl {
        font-weight: 500;
        padding-bottom: 2.6rem;
    }

    .mypage_container .content .top_content .benefit_info .point .num {
        font-family: 'SUIT';
        font-weight: 800;
        font-size: 5.0001rem;
        text-align: center;
    }

    .mypage_container .content .top_content .benefit_info .discount {
        position: relative;
        flex-basis: 50%;
        gap: 2.6rem;
        padding-left: unset;
        flex-direction: column;
        padding-right: 3.6rem;
    }

    .mypage_container .content .top_content .benefit_info .discount .discount_ico img {
        width: 8.9999rem;
        height: 8.9999rem;
    }

    .mypage_container .content .top_content .benefit_info .discount .num {
        font-family: 'SUIT';
        font-weight: 800;
        font-size: 5.0001rem;
        text-align: center;
    }

    .mypage_container .content .top_content .benefit_info .discount .ttl {
        font-weight: 500;
        padding-bottom: 2.6rem;
    }

    .mypage_container .content .top_content .benefit_info .discount .discount_detail_ico {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin-left: auto;
        margin-right: 3.2999rem;
    }

    .mypage_container .content .top_content .note {
        padding-top: 4.2rem;
        padding-bottom: 6.3999rem;
        font-size: 3.2001rem;
    }

    .mypage_container .content .slide_tab .slide_tab_btn {
        flex-shrink: 0;
        height: 8.3rem;
        width: 100%;
        flex-basis: 50%;
        border: 0.1999rem solid #dbdbdb;
        border-bottom: 0.1999rem solid;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #757575;
    }

    .mypage_container .content .bot_content .filter {
        margin-top: 7rem;
        padding-bottom: 11.0001rem;
        border-bottom: 0.1999rem solid;
        flex-direction: column;
        align-items: start;
        gap: 2.3rem;
    }

    .mypage_container .content .bot_content .filter .left {
        gap: 1.9999rem;
    }

    .mypage_container .content .bot_content .filter .left .m_filter {
        border: 0.1999rem solid #dbdbdb;
        border-radius: 0.3rem;
        padding: 1.6rem 2.7001rem;
        color: #757575;
    }

    .mypage_container .content .bot_content .filter .right .departure_date input[type="text"] {
        width: 28.8001rem;
        height: 8.9999rem;
        border-radius: 0.3rem;
    }

    .mypage_container .content .bot_content .filter .right .check_btn {
        color: #2e3e92;
        border: 0.1999rem solid #2e3e92;
        padding: 2.6rem 1.9999rem;
        border-radius: 0.3rem;
    }

    .mypage_container .content .bot_content .filter .right .depart span {
        margin-left: 1.3rem;
    }

    .mypage_container .content .bot_content .filter .right .depart {
        gap: 1rem;
        margin-right: 3.5001rem;
    }



    .mypage_container .content .slide_tab.discount .slide_tab_btn {
        flex-basis: 33.33%;
    }

    .mypage_container .content .ttl_table_discount {
        font-size: 3.4rem;
        font-weight: 500;
        margin-bottom: 6.6999rem;
    }

    /*정보수정*/
    /* 반응형 적용함 */

    .sub_wrap {
        width: 100%;
    }

    .sub_wrap .sub_content {
        padding: 0;
        /* padding-top: 2.1666rem;
        width: calc(100% - 2.2532rem);
        margin: 0 0.8658rem 0 1.04rem; */
    }

    .sub_wrap .sub_content.user_mange {
        padding-bottom: 4.0001rem;
    }

    .sub_wrap .sub_content .imfor_tb table {
        width: 100%;
        border-top: 0.769px solid #252525;
        display: block;
        margin-top: 2.9999rem !important;
    }

    .sub_wrap .sub_content .imfor_tb table tbody {
        display: block;
        width: 100%;
    }

    .sub_wrap .sub_content .imfor_tb table colgroup {
        display: none;
    }

    .sub_wrap .sub_content.imfor_change {
        padding-bottom: 15%;
    }

    .sub_wrap .sub_content.user_mange h4.imfor_tit {
        font-size: 2.4001rem;
        margin: 2.4999rem 0 1rem;
    }

    .color_btn_box {
        margin-top: 2.9999rem;
        gap: 1.4999rem;
        justify-content: center;
    }

    .color_btn_box button {
        width: 15.1rem;
        height: 6rem;
        border-radius: 0.3999rem;
    }

    .sub_wrap .sub_content.user_mange .imfor_tb .color_btn_box {
        text-align: center;
        margin-top: 2.9999rem;
    }

    .sub_wrap .sub_content .imfor_tb table tbody tr {
        border-bottom: 0.385px solid #ddd;
        display: block;
        width: 100%;
        overflow: hidden;
    }

    .sub_wrap .sub_content .imfor_tb table tbody tr td {
        display: block;
        width: 100%;
        padding: 2.9999rem 0;
    }

    .sub_wrap .sub_content .imfor_tb table tbody tr td.wrap_element {
        display: flex;
        gap: 3.846px;
    }

    .sub_wrap .sub_content .imfor_tb table tbody tr td.wrap_element_email {
        gap: 3.846px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .sub_wrap .sub_content .imfor_tb table tbody tr td.wrap_element_email .wrap_input_email {
        width: 100%;
    }

    .sub_wrap .sub_content .imfor_tb table tbody tr th {
        color: #333;
        font-size: 2.8rem;
        text-align: left;
        display: block;
        width: 100%;
        box-sizing: border-box;
        clear: both;
        font-weight: bold;
        padding: 5.0001rem 0 0 0;
    }

    /* .sub_wrap .sub_content .imfor_tb table tbody tr:first-of-type th {
        float: left;
        width: 24%;
        padding: 7.692px 0;
    }

    .sub_wrap .sub_content .imfor_tb table tbody tr:first-of-type td {
        display: block;
        padding: 7.692px 0;
        box-sizing: border-box;
        float: left;
        width: 76%;
    } */

    .sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr th.gender_th {
        padding: 1.9999rem 0 0 0;
        border-top: 0;
    }

    .sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td.gender_td {
        border-top: 0;
    }

    .sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td p {
        height: auto;
        font-size: 2.2534rem;
    }

    .sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td p.no_write {
        padding: 0 0 0 1.9999rem;
        font-size: 2.6rem;
        line-height: 1;
    }

    .sub_wrap .sub_content .imfor_tb table tbody tr td input {
        background: #fff;
        border: 0.385px solid #dbdbdb;
        height: 7.8rem;
        box-sizing: border-box;
        border-radius: 0.385px;
        line-height: 1.4;
        padding-left: 1.4999rem;
    }

    .sub_wrap .sub_content.user_mange .imfor_tb table tbody tr td input {
        padding-left: 1.4999rem;
    }

    .sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td input[type="text"] {
        padding-left: 0.8666rem;
        font-size: 2.2001rem;
    }

    .sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td input.pass_input {
        width: 100%;
        padding-left: 0.8666rem;
        line-height: 1.4;
    }

    .sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td select.wd_sel {
        width: 33.33%;
    }

    .sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td select.jop_sel {
        width: 100%;
    }

    .sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td p.sm_text.sm_text1 {
        font-size: 2.6rem;
        word-break: break-word;
        word-break: keep-all;
        margin-top: 1.3rem;
        margin-bottom: 1.3rem;
        color: #656565;
        line-height: 3.7999rem;
    }

    .sub_wrap .sub_content .imfor_tb table tbody tr td select {
        border: 0.385px solid #dbdbdb;
        height: 7.8rem;
        box-sizing: border-box;
        padding-left: 3%;
        background-size: 1.7334rem 1.1999rem;
        font-size: 2.2534rem;
        border-radius: 0.26rem;
    }

    .sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td input.wd_md {
        width: 33.33%;
    }

    .sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td button.find_btn {
        width: 40%;
        font-size: 1.9066rem;
        height: 7.8rem;
        border-radius: 0.769px;
    }

    .sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr.mail_tr td input.mail_write {
        width: 50% !important;
        margin: 0;
    }

    .sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr.mail_tr td em {
        width: 5%;
        font-size: 2.2534rem;
    }

    .sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr.mail_tr select {
        width: 100%;
        margin-right: 0;
    }

    .sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td label {
        font-size: 2.2534rem;
        margin-right: 15.385px;
    }

    .sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td label span {
        width: 4.3334rem;
        height: 4.3334rem;
        ;
        margin-right: 1.538px;
        margin-bottom: 1.154px;
    }

    .sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td input[type="radio"]:checked+span::before {
        width: 3.12rem;
        height: 3.12rem;
    }

    .sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr.adress_tr td div.input_box:first-child {
        margin-bottom: 2%;
    }

    .sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr.adress_tr td div.input_box:first-child input {
        width: 40%;
    }

    .sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr.adress_tr td div.input_box:last-child input:first-child {
        width: 100%;
        margin-bottom: 2%;
    }

    .sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr.adress_tr td div.input_box:last-child input:last-child {
        width: 100%;
        margin-top: 0;
    }

    .sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td input.mar_l {
        margin-left: 5.769px;
    }

    .sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr.birth_tr td select {
        width: 27%;
    }

    .sub_wrap .sub_content.imfor_change .imfor_tb .color_btn_box {
        margin: 0 auto;
        margin-top: 6%;
    }

    .sub_wrap .sub_content.imfor_change .imfor_tb .color_btn_box button {
        width: 50%;
        height: 8.9999rem;
    }

    /* 환불 정보 정리 */

    .sub_wrap .sub_content .sub_tit {
        font-size: 2.6rem;
    }

    .sub_wrap .sub_content.user_mange .imfor_tb table tbody tr td select {
        width: 100%;
        font-size: 2.6rem;
        margin: 2.9999rem 0;
    }

    .sub_wrap .sub_content.user_mange .imfor_tb table tbody tr td input.account_write {
        width: 100%;
        font-size: 2.6rem;
        margin: 2.9999rem 0;

    }

    .sub_wrap .sub_content.user_mange .imfor_tb table tbody tr td input.holder_write {
        width: 100%;
        font-size: 2.6rem;
        margin: 2.9999rem 0;

    }

    .sub_wrap .sub_content.user_mange .imfor_tb .color_btn_box .blue_btn {
        width: 100%;
        height: 9.4999rem;
        font-size: 3.2001rem;
    }

    /* 회원탈퇴 */

    .money_content .top_content .benefit_ttl {
        font-size: 3.4rem;
        font-weight: 500;

    }

    .mypage_wrap .money_content .info {
        margin-top: 2.9999rem;
        font-size: 2.6rem;
        line-height: 3.7999rem;
        font-weight: 350;
    }

    .mypage_container .money_content .user_info {
        width: 100%;
        margin-top: 4.5001rem;
    }

    .mypage_container .money_content .user_info .user_wrap {
        display: flex;
        align-items: start;
        gap: 0;
        padding-left: 0;
        height: 100%;
        flex-direction: column;
        padding: 1.9999rem !important;
        border-bottom: none;
    }

    .mypage_container .money_content .user_info .user_wrap .list_select_option .type_of_reason {
        /* position: relative; */
        display: flex;
        align-items: center;
        gap: 1.4999rem;
    }

    .mypage_container .money_content .user_info .user_wrap .list_select_option {
        margin-top: 0;
        gap: 4.0001rem;
        padding: 0 1.9999rem;
        width: 100%;
    }

    .mypage_container .money_content .user_info .user_wrap label {
        font-size: 2.6rem;
        line-height: 6rem;
        margin-bottom: 1.9999rem !important;
    }

    input[type="checkbox"]+label {
        background-size: 3.6rem;
        padding-left: 4.5001rem;
    }

    input[type="checkbox"]:checked+label {
        background-size: 3.6rem;
    }

    .mypage_container .money_content .user_info .user_wrap:nth-child(2) .user_name {
        margin-left: 0;
    }

    .mypage_container .money_content .user_info .user_wrap .wrap_mobile {
        width: 100%;
        gap: 0.5rem;
    }

    .mypage_container .money_content .user_info .user_wrap select {
        margin-left: 0;
        height: 8.4999rem;
        width: 33.33%;
        font-size: 2.6rem;
    }

    .mypage_container .money_content .user_info .user_name {
        width: 100%;
        height: 8.4999rem;
    }

    .mypage_container .money_content .user_info .user_wrap:nth-child(3) .user_name {
        width: 33.33%;
        height: 8.4999rem;
    }

    .mypage_container .money_content .user_info .reason {
        position: unset;
        height: 100%;
    }

    .mypage_container .money_content .user_info .reason #reason {
        position: unset;
        height: 26rem;
        width: 100%;

    }

    .mypage_container .money_content .user_info .user_wrap .list_select_option .element_select_option {
        width: 4.0001rem;
        height: 4.0001rem;
    }

    .mypage_container .money_content .user_info .user_wrap:nth-child(4) {
        height: 100%;
    }

    .mypage_container .money_content .user_info .user_wrap .list_select_option .type_of_reason #element_select_option_text {
        height: 8.4999rem;
        width: 100%;
        padding: 1.9999rem;
    }

    .mypage_container .money_content .user_info .user_wrap .list_select_option .type_of_reason #element_select_option_text::placeholder {
        font-size: 2.6rem;
    }
    .mypage_container .money_content .user_info .reason label {
        padding: 3.5001rem 0;
        font-size: 2.6rem;
    }

    .mypage_container .money_content .user_info .submit {
        gap: 1rem;
    }

    .mypage_container .money_content .user_info .submit button {
        width: 50%;
        height: 9.4999rem;
        border: 0.385px solid #dbdbdb;
        border-radius: 1.923px;
        margin-top: 7.5rem;
        font-size: 2.7999rem;
        font-weight: 500;
        line-height: 2.6rem;
    }


    .mypage_container .money_content .user_info .user_wrap .list_select_option [type="radio"]:checked,
    .mypage_container .money_content .user_info .user_wrap .list_select_option [type="radio"]:not(:checked) {
        position: absolute;
        left: -3845.769px;
    }

    .mypage_container .money_content .user_info .user_wrap .list_select_option [type="radio"]:checked+label,
    .mypage_container .money_content .user_info .user_wrap .list_select_option [type="radio"]:not(:checked)+label {
        position: relative;
        padding-left: 6.5rem;
        cursor: pointer;
        line-height: 2.9999rem;
        display: inline-block;
        color: #666;
    }

    .mypage_container .money_content .user_info .user_wrap .list_select_option [type="radio"]:checked+label:before,
    .mypage_container .money_content .user_info .user_wrap .list_select_option [type="radio"]:not(:checked)+label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 4.0001rem;
        height: 4.0001rem;
        border: 0.385px solid #ddd;
        border-radius: 100%;
        background: #fff;
    }

    .mypage_container .money_content .user_info .user_wrap .list_select_option [type="radio"]:checked+label:after,
    .mypage_container .money_content .user_info .user_wrap .list_select_option [type="radio"]:not(:checked)+label:after {
        content: '';
        width: 1.4999rem;
        height: 1.4999rem;
        background: #252525;
        position: absolute;
        top: 1.3rem;
        left: 1.222rem;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .mypage_container .money_content .user_info .user_wrap .list_select_option [type="radio"]:not(:checked)+label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    .mypage_container .money_content .user_info .user_wrap .list_select_option [type="radio"]:checked+label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .mypage_container .ttl_table_discount {
        font-size: 3.4rem;
    }



    .sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td input.pass_input {
        height: 8.9999rem;
    }

    .popup_wrap .popup .top {
        height: 6rem;
        line-height: 3.4rem;
        font-size: 2.7999rem;
        font-weight: 400;
        background: #fff;
        padding: 1.1999rem 1.1999rem 1.1999rem 1.4999rem;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .popup_wrap .popup .close img {
        width: 2.2001rem;
        height: 2.2001rem;
    }

    .popup_wrap .popup .content {
        height: calc(100% - 6rem);
        background: #fff;
        padding: 0 1.4999rem 1.4999rem 1.4999rem;
        font-size: 1.9999rem;
        line-height: 1.5;
    }

    .popup_wrap .popup .content .title {
        text-align: center;
        font-size: 3.2001rem;
        font-weight: 500;
        padding: 1.3rem 0 2.9999rem;
    }

    .popup_wrap .popup .content .content_1 {
        font-size: 2.2001rem;
        padding-bottom: 2.9999rem;
    }

    .popup_wrap .popup .content .content_2 {
        font-size: 2.2001rem;
        color: #757575;
    }

    .customer-center-page .page-link {
        display: inline-block;
        padding: 1rem 1.5rem;
        margin: 0 0.5rem;
        text-decoration: none;
        color: #333;
        border: 1px solid #ddd;
        border-radius: 0.5rem;
        transition: background-color 0.3s, color 0.3s;
    }

    .customer-center-page .page-link img {
        padding-top: 0.6rem;
    }

    /** booklist **/
    .booklist_wrap {
        width: 100%;
    }
    .booklist_wrap .book_big_ttl h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
        gap: 0.3rem;
    }

    .booklist_wrap .book_big_ttl p {
        font-size: 2.6rem;
    }

    .booklist_wrap .book_num_order {
        margin-bottom: 7rem;
    }

    .booklist_wrap .book_num_order .top {
        padding: 3rem;
        gap: 6rem;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .booklist_wrap .book_num_order .top .num_order {
        gap: 1rem;
    }

    .booklist_wrap .book_num_order .top .num_order:nth-of-type(odd) {
        min-width: 11rem;
    }

    .booklist_wrap .book_num_order .top .num_order:nth-of-type(6) {
        position: absolute;
        right: 7rem;
    }

    .booklist_wrap .book_num_order .top .num_order:nth-of-type(6) img {
        transform: rotate(90deg);
    }

    .booklist_wrap .book_num_order .top .num_order:nth-of-type(8) img {
        transform: rotate(180deg);
    }

    .booklist_wrap .book_num_order .top .num_order .titles {
        font-size: 2.6rem;
    }

    .booklist_wrap .book_num_order .top .num_order .desc {
        display: flex;
        align-items: flex-end;
        gap: 0.3rem;
    }

    .booklist_wrap .book_num_order .top .num_order .desc p {
        font-size: 4rem;
    }

    .booklist_wrap .book_num_order .top .num_order .desc p span {
        font-size: 2.4rem;
    }

    .booklist_wrap .book_num_order .top .num_order img {
        width: 2.8rem;
    }

    .booklist_wrap .book_num_order .process {
        padding: 2.5rem;
        gap: 3.5rem;
        flex-wrap: wrap;
    }

    .booklist_wrap .book_num_order .process p {
        font-size: 2.6rem;
    }

    .booklist_wrap .book_num_order .process span {
        font-size: 2.6rem;
        padding: 0 0.2rem;
    }

    .booklist_wrap .result_book {
        gap: 0;
        padding-bottom: 5rem;
    }

    .booklist_wrap .book_big_ttl .total {
        font-size: 2.6rem;
    }

    .booklist_wrap .book_big_ttl .total span {
        color: red;
    }

    .booklist_wrap .result_book .tab_box {
        overflow-x: auto;
    }

    .booklist_wrap .result_book .tab_box ul li {
        padding: 1.2rem 4rem 3rem;
        border: unset;
        display: flex;
        gap: 1rem;
        border-bottom: 1px solid #dbdbdb;
    }

    .booklist_wrap .result_book .tab_box ul li.on {
        border: unset;
        border-bottom: 0.3rem solid #333;
        border-radius: 0.2rem;
        color: #454545;
    }

    .booklist_wrap .result_book .tab_box ul li img {
        width: 3.7rem;
    }

    .booklist_wrap .search_form {
        gap: 25px;
    }

    .booklist_wrap .select_search_wrap {
        gap: 5px;
    }

    .booklist_wrap .select_search_wrap select {
        width: 120px;
        height: 32px;
        border: 1px solid #eee;
        background: #fff url(/images/ico/select_ico.png) right 5px center no-repeat;
        font-size: 14px;
    }

    .booklist_wrap .datepick .ui-datepicker-trigger {
        right: 10px;
    }

    .booklist_wrap .select_search_wrap .input-row {
        gap: 5px;
    }

    .booklist_wrap .input-row>*+* {
        margin-top: 0;
    }

    .booklist_wrap .select_search_wrap .input-row input {
        width: 120px;
        height: 32px;
        border: 1px solid #eee;
        font-size: 14px;
        padding: 10px 5px;
    }

    .booklist_wrap .filter_ic img {
        width: 7.5rem;
    }

    .booklist_wrap .details_search {
        gap: 2rem;
    }

    .booklist_wrap .details_search input {
        width: 40.6rem;
        height: 7rem;
    }

    .booklist_wrap .details_search button {
        width: 12rem;
        height: 7rem;
        border-radius: 0.3rem;
    }

    .booklist_wrap .booking_product {
        margin-top: 2.5rem;
    }

    .booklist_wrap .booking_product .product_box + .product_box {
        margin-top: 2.5rem;
    }

    .booklist_wrap .booking_product .product_box .book_group_wrap {
        padding: 2rem;
    }

    .booklist_wrap .bs-input-check input[type="checkbox"]+label {
        padding-left: 4.105rem;
        line-height: 2.5rem;
        font-size: 2rem;
        background: unset;
    }

    .bs-input-check input[type="checkbox"]+label::after {
        top: 0;
        transform: translateY(0);
        width: 2.5789rem;
        height: 2.5789rem;
        background-size: 0.8421rem;
        border-radius: 0.2631rem;
    }

    .booklist_wrap .booking_product .product_box .book_group_wrap .group_r {
        gap: 2rem;
    }

    .booklist_wrap .booking_product .product_box .book_group_wrap .group_r .total p {
        font-size: 2.4rem;
    }

    .booklist_wrap .booking_product .product_box .book_group_wrap .group_r .group_print {
        padding: 1rem;
        border-radius: 0.6rem;
        background-color: #ffffff;
        border: 0.2rem solid #cdcdcd;
    }

    .booklist_wrap .booking_product .product_box .book_group_wrap .group_r .group_print img {
        width: 3.3rem;
    }

    .booklist_wrap .booking_product .product_detail {
        padding: 2.5rem 2rem;
        display: flex;
        gap: 5rem;
        flex-direction: column;
    }

    .booklist_wrap .booking_product .product_detail .info_product {
        width: 100%;
    }

    .booklist_wrap .booking_product .product_detail .product_tit {
        font-size: 2.6rem;
        margin: 2rem 0;
    }

    .booklist_wrap .booking_product .product_detail .info_payment {
        gap: 2rem;
    }

    .booklist_wrap .booking_product .product_detail .bs-input-check input[type="radio"]+label, 
    .booklist_wrap .booking_product .product_detail .bs-input-check input[type="checkbox"]+label {
        font-size: 2.2rem;
    }

    .booklist_wrap .booking_product .product_detail .info_payment .tag {
        padding: 1rem;
        border-radius: 0.6rem;
        font-size: 2.2rem;
    }

    .booklist_wrap .booking_product .product_detail .info_payment span {
        font-size: 2.2rem;
        color: #454545;
    }

    .booklist_wrap .booking_product .product_detail .info_user {
        margin: 1.5rem 0;
    }

    .booklist_wrap .booking_product .product_detail .info_user p {
        font-size: 2.2rem;
        color: #454545;
        padding-right: 1.5rem;
        position: relative;
    }

    .booklist_wrap .booking_product .product_detail .info_user p + p {
        padding-left: 1.5rem;
    }

    .booklist_wrap .booking_product .product_detail .info_user p::after {
        content: '';
        position: absolute;
        top: 11%;
        right: 0;
        width: 0.1rem;
        height: 80%;
        background-color: #454545;
        opacity: 0.5;
    }

    .booklist_wrap .booking_product .product_detail .info_name p {
        font-size: 2.2rem;
    }

    .booklist_wrap .booking_product .product_detail .note {
        margin: 1.8rem 0 1.2rem;
        gap: 0.5rem;
        align-items: flex-start;
    }

    .booklist_wrap .booking_product .product_detail .note img {
        width: 2.8rem;
    }

    .booklist_wrap .booking_product .product_detail .note p {
        font-size: 2.2rem;
        color: #454545;
        line-height: 1.3;
        padding-right: 2rem;
    }

    .booklist_wrap .booking_product .product_detail .info_link {
        color: #2e3e92;
        font-size: 2.2rem;
        text-decoration: underline;
        margin-top: 1rem;
        cursor: pointer;
    }

    .booklist_wrap .booking_product .info_price {
        width: 100%;
        gap: 4.5rem;
        justify-content: space-between;
    }

    .booklist_wrap .booking_product .info_price .info_total_price {
        gap: 1rem;
        flex-direction: column;
    }

    .booklist_wrap .booking_product .info_price .info_total_price .pri_won {
        color: #ff6300;
    }

    .booklist_wrap .booking_product .info_price .info_total_price .pri_bath {
        font-size: 2.2rem;
    }

    .booklist_wrap .booking_product .info_price .info_total_price .btn_payment {
        padding: 1.2rem 3rem;
        border-radius: 0.6rem;
        border: 1px solid #dbdbdb;
    }

    .booklist_wrap .booking_product .info_price .info_total_price .btn_payment p {
        font-size: 2.2rem;
        color: #2e3e92;
        font-weight: 600;
    }

    .booklist_wrap .booking_product .info_price .estimate_wrap {
        flex-direction: column;
        gap: 0.8rem;
    }

    .booklist_wrap .booking_product .info_price .info_reservation.btn_info {
        min-width: 12.8rem;
    }

    .booklist_wrap .booking_product .info_price .btn_info {
        padding: 1.5rem 2.2rem;
        background-color: #f6f6f6;
        border-radius: 0.6rem;
        border: 1px solid #dbdbdb;
        gap: 0.8rem;
        font-size: 2.2rem;
    }

    .booklist_wrap .booking_product .info_price .btn_info img {
        width: 1.8rem;
    }

    .booklist_wrap .customer-center-page .pagination {
        margin: 7rem 0 8rem 0 !important;
    }

    .booklist_wrap .p_box {
        border: unset;
        position: absolute !important;
        background: #373c4f;
        bottom: 0;
        left: -1.3rem;
        padding: 1.5rem 2rem 1.5rem 6rem;
        border-bottom: none;
        width: 103%;
        max-width: 1050px;
        z-index: 99;
        display: flex;
        justify-content: space-between;
    }

    .booklist_wrap .p_box .ord_info {
        padding-top: 0.6rem;
        align-items: center;
    }

    .booklist_wrap .p_box .count_total {
        padding-left: 0;
        color: #fff;
        padding-right: 2rem;
        border-right: 1px solid #666;
        margin-right: 2rem;
        font-size: 2.5rem;
    }

    .booklist_wrap .f_nilegreen {
        color: #2ab6ad !important;
    }

    .booklist_wrap .price_total {
        font-size: 2.5rem;
        padding-right: 4rem;
    }

    .booklist_wrap .p_box .price_total {
        color: #fff;
        margin-top: -1rem;
    }

    .booklist_wrap .f_orange {
        color: #fb7622 !important;
    }

    .booklist_wrap .price_total span {
        font-size: 2.3rem;
    }

    .booklist_wrap .price_total strong {
        font-size: 3.5rem;
        font-weight: 500;
    }

    .booklist_wrap .custom_btn2 {
        display: inline-block !important;
        outline: none !important;
        cursor: pointer !important;
        text-align: center !important;
        text-decoration: none !important;
        line-height: normal !important;
        vertical-align: middle !important;
        border: 0;
        overflow: visible;
        font-size: 2.4rem;
        height: 100%;
    }

    .booklist_wrap .b_orange {
        color: #fff !important;
        border: solid 1px #d86619;
        background: #fb7622;
    }

    .booklist_wrap .b_p1040 {
        padding: 2rem 5.5rem;
    }

    .booklist_wrap .popup_filter {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 9999;
    }

    .booklist_wrap .popup_filter .popups {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 66rem;
        width: calc(100% - 3rem);
        background: #fff;
        border-radius: 0.4rem;
        z-index: 1;
        overflow-y: auto;
        max-height: 82rem;
    }

    .booklist_wrap .popup_filter .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
    }

    .booklist_wrap .popup_filter .popups .close {
        position: absolute;
        top: 1.7692rem;
        right: 2.7692rem;
        background: url(/images/ico/close_icon_popup.png) no-repeat center;
        width: 3.5385rem;
        height: 3.5385rem;
        background-size: 3.5385rem;
    }

    .booklist_wrap .popup_filter .filter_content {
        padding-top: 9.5rem;
        width: calc(100% - 3rem);
        margin: 0 auto;
    }

    .booklist_wrap .popup_filter .filter_content .filter_wrap {
        border-top: 0.2rem solid #eee;
        padding-bottom: 4rem;
    }

    #ui-datepicker-div {
        z-index: 99999 !important;
    }

    .booklist_wrap .popup_filter .filter_content .box_category {
        padding: 3.5rem 0;
        border-bottom: 0.2rem solid #eee;
    }

    .booklist_wrap .popup_filter .filter_content .box_category .box_date {
        justify-content: space-between;
    }

    .booklist_wrap .popup_filter .filter_content .box_category .box_date .datepick {
        width: calc(50% - 1rem);
    }

    .booklist_wrap .popup_filter .filter_content .box_category .box_date input {
        width: 100%;
        height: 9rem;
        font-size: 2.2rem;
    }

    .booklist_wrap .popup_filter .filter_content .box_category .ttl{
        font-size: 2.6rem;
        letter-spacing: -1px;
        line-height: 1.3;
        text-transform: uppercase;
        color: #252525;
        font-weight: 500;
        margin-bottom: 3rem;
    }

    .booklist_wrap .popup_filter .filter_content .box_category .wrap_input label {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 2.6rem;
        color: #353535;
        padding-left: 7.2rem;
        position: relative;
    }

    .booklist_wrap .popup_filter .filter_content .box_category .category_list {
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
    }

    .booklist_wrap .popup_filter .filter_content .box_category .wrap_input label::before {
        content: "";
        position: absolute;
        width: 4.2rem;
        height: 4.2rem;
        border-radius: 50%;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        background-color: #fff;
        border: 1px solid #dbdbdb;
    }

    .booklist_wrap .popup_filter .filter_content .box_category .wrap_input input:checked+label::after {
        content: "";
        position: absolute;
        width: 1.8rem;
        height: 1.8rem;
        background-color: #0075ff;
        top: 50%;
        left: 1.2rem;
        transform: translateY(-50%);
        border-radius: 50%;
    }

    .ui-datepicker .ui-datepicker-title {
        line-height: 6.8em;
        text-align: center;
        margin: 0px 2.3em;
        font-size: 2.3rem;
        font-weight: bold;
        letter-spacing: 0;
        display: flex
    ;
        align-items: center;
        justify-content: center;
    }

    .ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
        width: 11.4rem;
        height: 3.8667rem;
        line-height: 1.4;
        background: rgba(0, 0, 0, 0.15) url(../img/btn/arrow-button.png) 100% -0.9rem no-repeat;
        margin: 0 0.1333rem;
        padding: 0 0.2rem;
        border: 0;
        border-radius: 0.1rem;
        color: #fff;
        font-size: 1.4333rem;
        font-weight: bold;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding-right: 1rem !important;
    }

    .booklist_wrap .popup_filter .filter_content .box_category .category_list .wrap_input {
        width: calc(50% - 2rem);
    }

    .ch_visit input[type="radio"]+label, .ch_visit input[type="checkbox"]+label {
        padding-left: 5rem !important;
    }

    .mypage_container .content .details_table tbody tr .no
    {
        display: none;
    }

    .mypage_container .content .details_table tbody tr .check {
        order: 0;
    }

    .mypage_container .content .details_table tbody tr .stt {
        font-size: 2.6rem;
        order: 2;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        position: relative;
    }

    .mypage_container .content .details_table tbody tr .stt:after {
        content: '';
        position: absolute;
        top: 19%;
        right: 0;
        width: 0.1rem;
        height: 70%;
        background-color: #454545;
        opacity: 0.5;
    }

    .mypage_container .content .details_table tbody tr .stt::before {
        content: '답변상태: ';
        font-size: 2.6rem;
        color: #454545;
    }

    .mypage_container .content .details_table tbody tr .num {
        font-size: 2.6rem;
        order: 1;
        padding-right: 1.5rem;
        position: relative;
    }

    .mypage_container .content .details_table tbody tr .num:after {
        content: '';
        position: absolute;
        top: 19%;
        right: 0;
        width: 0.1rem;
        height: 70%;
        background-color: #454545;
        opacity: 0.5;
    }


    .mypage_container .content .details_table tbody tr .num::before {
        content: '구분: ';
        font-size: 2.6rem;
        color: #454545;
    }
}