@charset "utf-8";

.mypage_container {
    margin-top: 60px;
    margin-bottom: 120px;
}

.mypage_container .mypage_wrap {
    display: flex;
    justify-content: start;
    gap: 70px;
}

.mypage_container .mypage_wrap .gnb_menu {
    flex-basis: 160px;
    flex-shrink: 0;
}

.mypage_container .mypage_wrap .gnb_menu .gnb_title {
    font-size: 26px;
    padding-bottom: 30px;
    border-bottom: 2px solid;
}

.mypage_container .travel_review_bottom {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.mypage_container .input-wrap.Agree{
    margin-top: 20px;
}

.mypage_container .input-row .btn {
    height: 45px;
}
.mypage_container .sub_write {
    justify-self: flex-end;
    align-self: flex-end;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    width: 127px;
    height: 56px;
    background: #2e3e92;
    border-radius: 4px;
    text-align: center;
    line-height: 56px;
}
.gnb_menu_list {
    flex-direction: column;
}

.gnb_menu_list>li .menu_level_1 {
    height: 55px;
    border-bottom: 1px solid #dbdbdb;
}

.gnb_menu_list>li .menu_level_1 a {
    cursor: pointer;
    user-select: none;
    font-weight: 500;
}

.gnb_menu_list>li .menu_level_1 img {
    padding-right: 10px;
    cursor: pointer;
}

.gnb_menu_list>li .menu_level_2 {
    flex-direction: column;
    border-bottom: 1px solid #dbdbdb;
    padding: 20px 0 20px 20px;
    color: #656565;
    gap: 20px;
    background-color: #fafafa;
}

.gnb_menu_list>li .menu_level_1 img.up {
    padding-left: 10px;
    padding-right: 0;
    transform: rotate(180deg);
}

.gnb_menu_list>li.on .menu_level_1 {
    color: #2e3e92;
}

.gnb_menu_list>li.on .menu_level_2 a.on {
    color: #252525;
}

.sub_wrap .sub_content h3 {
    color: #333;
    font-size: 22px;
    margin-top: 40px;
    font-weight: 500;
    line-height: 1;
}

.mypage_container .content {
    width: 100%;
}

.mypage_container .content .ttl_table {
    font-size: 24px;
    font-weight: 500;
}

.mypage_container .content .count {
    font-size: 18px;
    margin-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
}

.mypage_container .content .count span {
    color: #e5001a;
}

.mypage_container .content .details_table {
    width: 100%;
table-layout: fixed;
    }

.mypage_container .content .details_table thead tr {
    height: 60px;
    border-bottom: 1px solid rgb(170, 170, 170);
}

.mypage_container .content .details_table thead tr th {
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-size: 16px;
    min-width: 100px;
    color: #252525;
}

.mypage_container .content .details_table tbody tr {
    height: 65px;
    border-bottom: 1px solid #e5e5e5;
}

.mypage_container .content .details_table tbody tr .date {
    text-align: center;
    color: #757575;
}

.mypage_container .content .details_table tbody tr .date_s,
.mypage_container .content .details_table tbody tr .date_e {
    text-align: center;
    color: #757575;
}

.mypage_container .content .details_table tbody tr .stt {
    text-align: center;
    color: #999999;
    font-size: 14px;
    font-weight: 500;
}

.mypage_container .content .details_table tbody tr .used,
.mypage_container .content .details_table tbody tr .remaining {
    text-align: center;
}

.mypage_container .content .details_table tbody tr .ttl {
    text-align: center;
    color: #454545;
}
.pay_btn.pay_btn_1{
    min-width: 110px;
    padding: 0 15px;
}
.mypage_container .content .details_table tbody tr .des{
    text-align: left;
}

.mypage_container .content .details_table tbody tr .des a {
    display: block;
    /* width: 500px; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    line-height: 1.3;
}
.mypage_container .content .details_table tbody tr .schedule {
    color: #454545;
    padding: 0 15px;
}

.mypage_container .content .details_table tbody tr .check {
    text-align: right;
}

.mypage_container .content .details_table tbody tr .no,
.mypage_container .content .details_table tbody tr .num {
    text-align: center;
    color: #454545;
}

.mypage_container .content .details_table thead tr th .ch_visit {
    text-align: right;
}

.mypage_container .content .details_table tbody tr .schedule a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 76px;
    height: 34px;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    margin: 0 auto;
}

.mypage_container .content .details_table tbody tr .schedule a i {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url('/images/mypage/mypage_table_schedule.ico_w.png') no-repeat center / auto;
}

.mypage_container .content .details_table tbody tr .status {
    text-align: center;
    color: #454545;
    padding: 0 15px;
}
/* 
.mypage_container .content .details_wrap {
    border-bottom: 1px solid;
} */

.mypage_container .content .details_wrap .count {
    border: none;
}

.mypage_container .content .details_search {
    gap: 10px;
}

.mypage_container .content .details_search input {
    width: 210px;
    height: 35px;
}

.mypage_container .content .details_search button {
    width: 60px;
    height: 35px;
    border: 1px solid #2e3e92;
    color: #2e3e92;
    border-radius: 3px;
}

.mypage_container .content .details_filter {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    padding-bottom: 20px;
}

.mypage_container .content .details_filter .filter_btn {
    gap: 10px;
    color: #757575;
}

.mypage_container .content .details_filter .filter_btn i {
    display: inline-block;
    width: 5px;
    height: 5px;
    background: url('/images/mypage/mypage_detail_dot.png') no-repeat center;
    background-size: 5px 5px;
}

.mypage_container .content .details_filter .filter_btn.active i {
    display: inline-block;
    width: 5px;
    height: 5px;
    background: url('/images/mypage/mypage_detail_dot_active.png') no-repeat center;
    background-size: 5px 5px;
}

.mypage_container .content .details_filter .filter_btn.active {
    color: #454545;
    font-weight: 700;
}

.mypage_container .content .details_table tbody tr .pay_btn a {
    display: flex;
    justify-content: center;
    width: 75px;
    height: 38px;
    line-height: 36px;
    text-align: center;
    border: 1px solid #2e3e92;
    font-size: 16px;
    color: #2e3e92;
    border-radius: 3px;
    /* margin-bottom: 10px; */
    background: #ffffff;
    margin: 0 auto;
    padding: 0;
}

.mypage_container .content .details_table tbody tr .pay_btn.pay_btn_1 a {
    margin: 0 auto;
    height: 34px;
    line-height: 32px;
}

.mypage_container .content .details_table .des span {
    display: block;
    /* width: 500px; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.mypage_container .content .details_table .pay_btn .no_click {
    display: block;
    font-size: 16px;
    color: #454545;
    text-align: center;
}

/* fav_list_table_s */
.mypage_container .content .fav_list_table {
    width: 100%;
}

.mypage_container .content .fav_list_table thead tr {
    height: 60px;
    border-bottom: 1px solid rgb(170, 170, 170);
}

.mypage_container .content .fav_list_table thead tr th {
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-size: 16px;
    color: #252525;
}

.mypage_container .content .fav_list_table tbody tr {
    height: 65px;
    border-bottom: 1px solid #e5e5e5;
}

.mypage_container .content .fav_list_table tbody tr .date {
    text-align: center;
    color: #757575;
}

.mypage_container .content .fav_list_table tbody tr .date_s,
.mypage_container .content .fav_list_table tbody tr .date_e {
    text-align: center;
    color: #757575;
}

.mypage_container .content .fav_list_table tbody tr .stt {
    text-align: center;
    color: #999999;
    font-size: 14px;
    font-weight: 500;
}

.mypage_container .content .fav_list_table tbody tr .used,
.mypage_container .content .fav_list_table tbody tr .remaining {
    text-align: center;
}

.mypage_container .content .fav_list_table tbody tr .ttl {
    text-align: center;
    color: #454545;
}

.mypage_container .content .fav_list_table tbody tr .schedule {
    text-align: center;
    color: #454545;
}

.mypage_container .content .fav_list_table tbody tr .des span {
    display: inline-block;
    width: 550px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.mypage_container .content .fav_list_table tbody tr .check {
    text-align: right;
}

.mypage_container .content .fav_list_table tbody tr .no,
.mypage_container .content .fav_list_table tbody tr .num {
    text-align: center;
    color: #454545;
}

.mypage_container .content .fav_list_table thead tr th .ch_visit {
    text-align: right;
}


.mypage_container .content .fav_list_table tbody tr .status {
    text-align: center;
    color: #454545;
}

/* fav_list_table_e */

/* travel_review_table_s */
.mypage_container .content .travel_review_table {
    width: 100%;
}

.mypage_container .content .travel_review_table thead tr {
    height: 60px;
    border-bottom: 1px solid rgb(170, 170, 170);
}

.mypage_container .content .travel_review_table thead tr th {
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-size: 16px;
    color: #252525;
}

.mypage_container .content .travel_review_table tbody tr {
    height: 65px;
    border-bottom: 1px solid #e5e5e5;
}

.mypage_container .content .travel_review_table tbody tr .date {
    text-align: center;
    color: #757575;
}

.mypage_container .content .travel_review_table tbody tr .date_s,
.mypage_container .content .travel_review_table tbody tr .date_e {
    text-align: center;
    color: #757575;
}

.mypage_container .content .travel_review_table tbody tr .stt {
    text-align: center;
    color: #999999;
    font-size: 14px;
    font-weight: 500;
}

.mypage_container .content .travel_review_table tbody tr .used,
.mypage_container .content .travel_review_table tbody tr .remaining {
    text-align: center;
}

.mypage_container .content .travel_review_table tbody tr .ttl {
    text-align: center;
    color: #454545;
}

.mypage_container .content .travel_review_table tbody tr .schedule {
    color: #454545;
}

.mypage_container .content .travel_review_table tbody tr .check {
    text-align: right;
}

.mypage_container .content .travel_review_table tbody tr .no,
.mypage_container .content .travel_review_table tbody tr .num {
    text-align: center;
    color: #454545;
}

.mypage_container .content .travel_review_table tbody tr .des {
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 65px;
    padding-left: 20px;
    padding-right: 100px;
}

.mypage_container .content .travel_review_table thead tr th .ch_visit {
    text-align: right;
}


.mypage_container .content .travel_review_table tbody tr .status {
    text-align: center;
    color: #454545;
}

/* travel_review_table_e */

/* point_table_s */
.mypage_container .content .point_table {
    width: 100%;
}

.mypage_container .content .point_table thead tr {
    height: 60px;
    border-bottom: 1px solid rgb(170, 170, 170);
}

.mypage_container .content .point_table thead tr th {
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-size: 16px;
    color: #252525;
}

.mypage_container .content .point_table tbody tr {
    height: 65px;
    border-bottom: 1px solid #e5e5e5;
}

.mypage_container .content .point_table tbody tr .date {
    text-align: center;
    color: #757575;
}

.mypage_container .content .point_table tbody tr .history {
    /* padding-left: 20px; */
    line-height: 64px;
    display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        padding-left: 20px;
}

.mypage_container .content .point_table tbody tr .used,
.mypage_container .content .point_table tbody tr .remaining {
    text-align: center;
}

.mypage_container .content .point_table tbody tr .date_s,
.mypage_container .content .point_table tbody tr .date_e {
    text-align: center;
    color: #757575;
}

/* point_table_e */









.mypage_container .content .cancel {
    gap: 18px;
    margin-top: 20px;
    margin-left: 17px;
}

.mypage_container .content .cancel button {
    width: 76px;
    height: 34px;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
}

.mypage_container .content .top_content .benefit_ttl {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 30px;
}

.mypage_container .content .top_content .benefit_info {
    height: 150px;
    border: 2px solid #2e3e92;
}

.mypage_container .content .top_content .benefit_info .point {
    flex-basis: 50%;
    gap: 30px;
    padding-left: 40px;
}

.mypage_container .content .top_content .benefit_info .point .ttl {
    font-weight: 500;
    padding-bottom: 10px;
}

.mypage_container .content .top_content .benefit_info .point .num {
    font-family: 'SUIT';
    font-size: 40px;
}

.mypage_container .content .top_content .benefit_info .point .num span {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 18px;
}

.mypage_container .content .top_content .benefit_info .discount .ttl {
    font-weight: 500;
    padding-bottom: 10px;
}

.mypage_container .content .top_content .benefit_info .discount .num {
    font-family: 'SUIT';
    font-size: 40px;
}

.mypage_container .content .top_content .benefit_info .discount .num span {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 18px;
}

.mypage_container .content .top_content .benefit_info .discount {
    position: relative;
    flex-basis: 50%;
    gap: 30px;
    padding-left: 40px;
}

.mypage_container .content .top_content .benefit_info .discount::before {
    position: absolute;
    left: 0;
    top: 15;
    height: 60px;
    border-right: 1px solid #dbdbdb;
    content: "";
    display: block;
}

.mypage_container .content .top_content .benefit_info .discount .discount_detail_ico {
    margin-left: auto;
    margin-right: 33px;
}

.mypage_container .content .benefit_info_cover {
    border-bottom: 5px solid #f0f0f0;
}

.mypage_container .content .top_content .note {
    color: #757575;
    padding-top: 32px;
    padding-bottom: 40px;
}

.mypage_container .slide_tab div {
    border-bottom: 1px solid;
    flex-basis: 100%;
}

.mypage_container .slide_tab .slide_tab_btn {
    flex-shrink: 0;
    height: 52px;
    width: 100%;
    flex-basis: 161px;
    border: 1px solid #dbdbdb;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #757575;
}

.mypage_container .slide_tab .slide_tab_btn.active {
    border-bottom: unset !important;
    border: unset !important;
    border-left: 1px solid black !important;
    border-top: 1px solid black !important;
    border-right: 1px solid black !important;
    color: unset !important;
}

.mypage_container .content .bot_content .filter {
    margin-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
}

.mypage_container .content .bot_content .filter .left {
    gap: 10px;
}

.mypage_container .content .bot_content .filter .left .m_filter {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding: 6px 10px;
    color: #757575;
}

.mypage_container .content .bot_content .filter .left .m_filter.active {
    color: #2e3e92;
    border-color: #2e3e92;
}

.mypage_container .content .bot_content .filter .right .depart {
    gap: 5px;
    margin-right: 25px;
}

.mypage_container .content .bot_content .filter .right .departure_date input[type="text"] {
    width: 140px;
    height: 36px;
    border-radius: 3px;
}

.mypage_container .content .bot_content .filter .right .date_pic+.ui-datepicker-trigger {
    margin-left: -33px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.mypage_container .content .bot_content .filter .right .depart span {
    margin-left: 13px;
}

.mypage_container .content .bot_content .filter .right .check_btn {
    color: #2e3e92;
    border: 1px solid #2e3e92;
    padding: 6px 15px;
    border-radius: 3px;
}

.mypage_container .ttl_table_discount {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}

.mypage_container .content .coupon_table {
    width: 100%;
}

.mypage_container .content .coupon_table thead tr {
    height: 60px;
    border-bottom: 1px solid rgb(170, 170, 170);
}

.mypage_container .content .coupon_table thead tr th {
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-size: 16px;
    color: #252525;
}

.mypage_container .content .coupon_table tbody tr {
    height: 140px;
    border-bottom: 1px solid #e5e5e5;
}

.mypage_container .content .coupon_table tbody tr .date {
    text-align: center;
    color: #757575;
}

.mypage_container .content .coupon_table tbody tr .coupon .cp_logo {
    font-family: "Suit";
    font-weight: 300;
    font-size: 18px;
    transform: rotate(-90deg);
    color: #fff;
    background-color: #1f9de9;
    border-radius: 6px;
    padding: 11px 13px;
}

.mypage_container .content .coupon_table tbody tr .coupon .price {
    font-family: "Suit";
    font-weight: 800;
    font-size: 26px;
    border-radius: 6px;
    border: 1px solid #dbdbdb;
    padding: 27px 13px;
    margin-left: -21px;
    flex: 1;
}

.mypage_container .content .coupon_table tbody tr .coupon .price span {
    font-weight: 400;
    font-size: 18px;
}

.mypage_container .content .coupon_table tr .des {
    padding-left: 50px;
    font-size: 18px;
    line-height: 28px;
}

.mypage_container .content .coupon_table tbody tr .des .note {
    font-size: 16px;
    color: #757575;
}

.mypage_container .content .coupon_table tbody tr .down {
    text-align: center;
}

.mypage_container .content .coupon_table tbody tr .down button {
    color: #2e3e92;
    border: 1px solid #2e3e92;
    width: 100px;
    height: 36px;
    border-radius: 3px;
}

.popup_wrap {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99999;
}

.popup_wrap .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25.1rem;
    height: unset;
    z-index: 2;
}

.popup_wrap .popup .top {
    height: 60px;
    line-height: 34px;
    font-size: 18px;
    font-weight: 400;
    background: #fff;
    padding: 12px 12px 12px 15px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.popup_wrap .popup .top button.close {
    opacity: unset;
}

.popup_wrap .popup .content {
    height: calc(100% - 60px);
    background: #fff;
    padding: 0 15px 15px 15px;
    font-size: 14px;
    line-height: 1.5;
}

.popup_wrap .bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

.popup_wrap .popup .content .title {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 30px;
}

.popup_wrap .popup .content .content_1 {
    font-size: 16px;
    padding-bottom: 30px;
}

.popup_wrap .popup .content .content_2 {
    font-size: 16px;
    color: #757575;
}


/* withdraw money */
.mypage_wrap .money_content .info {
    margin-top: 40px;
    line-height: 28px;
    font-size: 18px;
    font-weight: 350;
    font-family: "Noto Sans KR";
}

.mypage_wrap .money_content .benefit_ttl {
    font-size: 22px;
    line-height: 27px;
    font-weight: 500;
    margin-top: 40px;
    color: #252525;
}

.mypage_container .money_content .user_info {
    border-top: 1px solid #252525;
    width: 970px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    /* line-height: 80px; */
    font-family: "Noto Sans KR";
    color: rgb(37, 37, 37);
}

.mypage_container .money_content .user_info .user_name {
    width: 340px;
    height: 45px;
}

.mypage_container .money_content .user_info .user_wrap {
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    gap: 90px;
    padding-left: 25px;
    height: 90px;
    width: 100%;
}

.mypage_container .money_content .user_info .user_wrap.wrap_reason {
    height: 100%;
    padding: 20px 25px;
}

.mypage_container .money_content .user_info .user_wrap label {
    color: rgb(37, 37, 37);
    font-size: 16px;
    font-family: "Noto Sans KR";
    /* line-height: 80px; */
    font-weight: 400;
}

.mypage_container .money_content .user_info .user_wrap #phone_num_text {
    margin-top: -200px;
}

.mypage_container .money_content .user_info .user_wrap:nth-child(2) .user_name {
    margin-left: -13px;
}

.mypage_container .money_content .user_info .user_wrap:nth-child(3) {
    display: flex;
    gap: 90px;
}

.mypage_container .money_content .user_info .user_wrap .wrap_mobile {
    gap: 10px;
}

.mypage_container .money_content .user_info .user_wrap:nth-child(3) .user_name {
    width: 160px;
    height: 45px;
}

.mypage_container .money_content .user_info .user_wrap select {
    height: 45px;
    width: 140px;
    margin-left: 44px;
}

.mypage_container .money_content .user_info .user_wrap:nth-child(4) {
    height: 360px;
}

.mypage_container .money_content .user_info .user_wrap .list_select_option {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* margin-top: -10px; */
    padding-left: 105px;

    /* width: 200px; */
}

.mypage_container .money_content .user_info .user_wrap .list_select_option .type_of_reason {
    /* position: relative; */
    display: flex;
    align-items: center;
    gap: 10px;
}

.mypage_container .money_content .user_info .user_wrap .list_select_option .type_of_reason label {
    /* position: absolute;
    top: -85%;
    left: 18%; */
}

.mypage_container .money_content .user_info .user_wrap .list_select_option .type_of_reason .reason_text_ttl {
    align-self: flex-start;
    font-size: 16px;
    color: #252525;
}

.mypage_container .money_content .user_info .user_wrap .list_select_option .type_of_reason #element_select_option_text {
    height: 75px;
    width: 550px;
    /* margin-bottom: -10px; */
    margin-top: 2px;
    resize: none;
    padding: 20px 0 0 20px;
    font-size: 16px;
}

input[type="checkbox"]+label {
    font-size: 16px;
    color: #252525;
    font-weight: 400;
    font-family: "Noto Sans KR";
    padding-left: 35px;
    line-height: 2.5;
    background: url(/images/mypage/mypage_checkbox.png) no-repeat left center;
    cursor: pointer;
}

input[type="checkbox"]:checked+label {
    background: url(/images/mypage/mypage_checkbox_tick.png) no-repeat left center;
}

.mypage_container .money_content .user_info .reason {
    position: relative;
    height: 155px;
}

.mypage_container .money_content .user_info .reason label {
    padding-top: 51px;
    padding-left: 34px;
}

.mypage_container .money_content .user_info .reason #reason {
    position: absolute;
    height: 140px;
    width: 783px;
    right: 0;
    top: 15px;
    resize: none;
    padding-top: 15px;
}

.mypage_container .money_content .user_info .submit {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.mypage_container .money_content .user_info .submit button {
    width: 269px;
    height: 62px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    margin-top: 60px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Noto Sans KR";
    line-height: 26px;
}

.mypage_container .money_content .user_info .submit button:first-child {
    background-color: #2e3e92;
    color: white;
}


.sub_wrap .sub_content.imfor_change {
    padding-bottom: 40px;
}

.sub_wrap .sub_content.imfor_change .imfor_tb {}

.sub_wrap .sub_content h4.imfor_tit {
    font-size: 22px;
    color: #252525;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 30px;
}

.sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr th.gender_th {}

.sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td p.no_write {
    font-size: 15px;
    color: #333;
    line-height: 28px;
    padding-left: 10px;
    box-sizing: border-box;
    min-height: 28px;
}

.sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td input[type="text"] {
    padding-left: 8px;
}

.sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td input.pass_input {
    width: 340px;
    font-family: "Nanum Gothic";
    padding-left: 8px;
    height: 45px;
}

.sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td select.wd_sel {
    width: 120px;
    height: 45px;
}

.sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td select.jop_sel {
    width: 196px;
}

.sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td label {
    color: #333;
    font-size: 15px;
    margin-left: 0px;
    position: relative;
    margin-right: 60px;
}

.sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td label input[type="radio"] {
    width: 1px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td label span {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
    margin-bottom: 3px;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td input[type="radio"]:checked+span::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
}

.sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td p.sm_text {
    font-size: 16px;
    color: #656565;
    font-weight: 400;
    line-height: 22px;
    display: inline-block;
}

.sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td p.sm_text span {
    display: block;
}

.sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td p.sm_text.sm_text1 {
    vertical-align: bottom;
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 12px;
}

.sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td p.sm_text.sm_text2 {
    display: none;
}

.sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td input.mar_l {
    margin-left: 60px;
}

.sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td input.wd_md {
    width: 140px;
    height: 45px;
}

.sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr td button.find_btn {
    height: 38px;
    line-height: 38px;
    display: inline-block;
    width: 120px;
    border: 0;
    background: #bda365;
    font-size: 15px;
    color: #fff;
    border-radius: 3px;
}

.sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr.mail_tr td input.mail_write {
    width: 292px;
    /* margin: 0 10px; */
}

.sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr.mail_tr td em {
    width: 20px;
    font-size: 14px;
    color: #333;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
}

.sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr.mail_tr select {
    width: 130px;
    margin-right: 20px;
}

.sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr.mail_tr .mar_l {}

.sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr.adress_tr td {}

.sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr.adress_tr td div.input_box:first-child {
    margin-bottom: 9px;
}

.sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr.adress_tr td div.input_box:first-child input {
    width: 122px;
    margin-right: 10px;
}

.sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr.adress_tr td div.input_box:last-child input:first-child {
    width: 392px;
    margin-right: 10px;
}

.sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr.adress_tr td div.input_box:last-child input:last-child {
    width: 252px;
    margin-top: 8px;
}

.sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr.brith_tr {}

.sub_wrap .sub_content.imfor_change .imfor_tb table tbody tr.birth_tr td select {
    width: 75px;
}

.color_btn_box {
    margin-top: 30px;
    gap: 10px;
    justify-content: center;
}

.color_btn_box button {
    width: 125px;
    height: 55px;
    border-radius: 4px;
}

.color_btn_box .btn_submit {
    /* filter: drop-shadow(0px 16px 8px rgba(46,62,146,0.28)); */
    background-color: #2e3e92;
    color: #fff;
}

.color_btn_box .gray_btn {
    background-color: #fff;
    color: #252525;
    border: 1px solid #dbdbdb;
}

.sub_wrap .sub_content .imfor_tb table {
    width: 100%;
    border-top: 2px solid #555;
}

.sub_wrap .sub_content .imfor_tb table caption {
    display: none;
}

.sub_wrap .sub_content .imfor_tb table tbody {}

.sub_wrap .sub_content .imfor_tb table tbody tr {
    border-bottom: 1px solid #dfdfdf;
}

.sub_wrap .sub_content .imfor_tb table tbody tr th {
    color: #333;
    font-size: 14px;
    text-align: left;
    padding-left: 20px
}

.sub_wrap .sub_content .imfor_tb table tbody tr td {
    padding: 10px 10px 10px 30px;
    gap: 10px;
}


.sub_wrap .sub_content .imfor_tb table tbody tr td input {
    background: #fff;
    border: 1px solid #ddd;
    height: 38px;
    line-height: 38px;
    box-sizing: border-box;
    border-radius: 3px;
}

.mypage_container .sub_wrap .sub_content .imfor_tb table tbody tr td input {
    height: 45px;
    line-height: 45px;
}

.sub_wrap .sub_content .imfor_tb table tbody tr td input[type="text"] {
    font-size: 13px;
    color: #333;
}

.sub_wrap .sub_content .imfor_tb table tbody tr td input[type="text"]::placeholder {
    color: #999 !important;
}

.sub_wrap .sub_content .imfor_tb table tbody tr td select {
    border: 1px solid #ddd;
    height: 38px;
    line-height: 38px;
    box-sizing: border-box;
    padding-left: 8px;
    background: #fff;
    border-radius: 3px;
    background: url("/images/ico/gnb_menu_list_w.svg")no-repeat 92% center;
    -webkit-appearance: none;
    /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}

.sub_wrap .sub_content .imfor_tb table tbody tr td select::-ms-expand {
    display: none;
}

.sub_wrap .sub_content .imfor_tb table tbody tr td em.ig_line {
    width: 24px;
    display: inline-block;
    text-align: center;
}

.sub_wrap .sub_content .imfor_tb table tbody tr td em.ig_line img {
    vertical-align: middle;
}


/*환불 정보 관리*/

.sub_wrap .sub_content.user_mange {
    padding-bottom: 40px;
}

.sub_wrap .sub_content.user_mange h4.imfor_tit {
    margin-top: 36px;
}

.sub_wrap .sub_content.user_mange .imfor_tb table {
    border-bottom: 1px solid #bbb;
    margin-top: 30px;
}

.sub_wrap .sub_content.user_mange .imfor_tb table tbody tr td {
    padding-top: 7px;
    padding-bottom: 7px;
}

.sub_wrap .sub_content.user_mange .imfor_tb table tbody tr td input {
    padding-left: 6px;
    /* margin-right: 15px; */
}

.sub_wrap .sub_content.user_mange .imfor_tb table tbody tr td input.account_write {
    width: 335px;
}

.sub_wrap .sub_content.user_mange .imfor_tb table tbody tr td input.holder_write {
    width: 335px;
}

.sub_wrap .sub_content.user_mange .imfor_tb table tbody tr td input::-webkit-input-placeholder {
    color: #333;
}

.sub_wrap .sub_content.user_mange .imfor_tb table tbody tr td input:-moz-placeholder {
    color: #333;
}

.sub_wrap .sub_content.user_mange .imfor_tb table tbody tr td select {
    padding-left: 6px;
    width: 335px;
    /* margin-right: 15px; */
    font-size: 13px;
}

.sub_wrap .sub_content.user_mange .imfor_tb table tbody tr td .cer_write {
    width: 179px;
    margin-right: 0;
}

.sub_wrap .sub_content.user_mange .imfor_tb table tbody tr td label {
    font-size: 14px;
    color: #333;
    margin-right: 6px;
}

.sub_wrap .sub_content.user_mange .imfor_tb .color_btn_box {
    text-align: center;
    margin-top: 30px;
}

.sub_wrap .sub_content.user_mange .imfor_tb .color_btn_box .blue_btn {
    font-size: 18px;
    color: #fff;
    height: 62px;
    line-height: 47px;
    border-radius: 5px;
    text-align: center;
    width: 269px;
    display: inline-block;
    background-color: #2e3e92;
}

.mypage_container .imfor_tb_option {
    gap: 20px;
}

.mypage_container .imfor_tb_option .imfor_tb_element {
    /* flex-direction: column; */
    width: 50%;
    gap: 20px;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    padding: 30px 0;
}

.mypage_container .imfor_tb_option .imfor_tb_element img {
    width: 68px;
    height: 68px;
}

.mypage_container .imfor_tb_option .imfor_tb_element .imfor_tb_text {
    gap: 10px;
}

.contact_btn { position: absolute; right: 0; top: 0; max-width: 127px; display: block;}
.sub_wrap {
    width: 1200px;
    margin: 0 auto;
    /* padding-top: 60px; */
    box-sizing: border-box;
    padding-bottom: 100px;
    padding-inline: 12px;
}

/** booklist **/
.booklist_wrap {
    width: 100%;
}
.booklist_wrap .book_big_ttl h2 {
    font-size: 20px;
    font-weight: 800;
    color: #252525;
    line-height: 1.3;
    margin-bottom: 15px;
    align-items: flex-end;
    gap: 3px;
}

.booklist_wrap .book_big_ttl p {
    font-size: 16px;
    font-weight: 400;
    color: #777;
}

.booklist_wrap .book_num_order {
    border: 1px solid #eee;
    border-top: 1px solid #999;
    margin-bottom: 55px;
}

.booklist_wrap .book_num_order .top {
    padding: 20px 0;
    gap: 45px;
}

.booklist_wrap .book_num_order .top .num_order {
    flex-direction: column;
    gap: 10px;
}

.booklist_wrap .book_num_order .top .num_order .titles {
    font-size: 18px;
    font-weight: 500;
    color: #777;
    line-height: 1.3;
}

.booklist_wrap .book_num_order .top .num_order .desc {
    display: flex;
    align-items: flex-end;
    gap: 3px;
}

.booklist_wrap .book_num_order .top .num_order .desc p {
    font-size: 30px;
    color: #ff6300;
    font-weight: 600;
}

.booklist_wrap .book_num_order .top .num_order .desc p span {
    font-size: 14px;
    font-weight: 400;
    color: #454545;
}

.booklist_wrap .book_num_order .process {
    padding: 15px 0;
    gap: 35px;
    background-color: #f7f7f7;
}

.booklist_wrap .book_num_order .process p {
    font-size: 16px;
    color: #757575;
    font-weight: 500;
}

.booklist_wrap .book_num_order .process span {
    font-size: 16px;
    color: #ff6300;
    font-weight: 500;
    padding: 0 2px;
}

.booklist_wrap .result_book {
    gap: 25px;
    padding-bottom: 25px;
}

.booklist_wrap .result_book .total {
    font-size: 16px;
    color: #252525;
    font-weight: 500;
}

.booklist_wrap .result_book .total span {
    color: red;
}

.booklist_wrap .result_book .tab_box ul li {
    padding: 12px 20px;
    border: 1px solid #eee;
    display: flex;
    gap: 20px;
    align-items: center;
    color: #777;
    line-height: 1.3;
    border-bottom: 1px solid #999;
}

.booklist_wrap .result_book .tab_box ul li.on {
    border: 1px solid #999;
    color: #454545;
}

.booklist_wrap .search_form {
    gap: 25px;
}

.booklist_wrap .select_search_wrap {
    gap: 5px;
}

.booklist_wrap .select_search_wrap select {
    width: 120px;
    height: 32px;
    border: 1px solid #eee;
    background: #fff url(/images/ico/select_ico.png) right 5px center no-repeat;
    font-size: 14px;
}

.booklist_wrap .datepick .ui-datepicker-trigger {
    right: 10px;
}

.booklist_wrap .select_search_wrap .input-row {
    gap: 5px;
}

.booklist_wrap .input-row>*+* {
    margin-top: 0;
}

.booklist_wrap .select_search_wrap .input-row input {
    width: 120px;
    height: 32px;
    border: 1px solid #eee;
    font-size: 14px;
    padding: 10px 5px;
}

.booklist_wrap .details_search {
    gap: 10px;
}

.booklist_wrap .details_search input {
    width: 130px;
    height: 32px;
}

.booklist_wrap .details_search button {
    width: 60px;
    height: 32px;
    border: 1px solid #2e3e92;
    color: #2e3e92;
    border-radius: 3px;
}

.booklist_wrap .booking_product {
    margin-top: 12px;
}

.booklist_wrap .booking_product .product_box + .product_box {
    margin-top: 20px;
}

.booklist_wrap .booking_product .product_detail + .product_detail {
    border-top: 1px dashed #eee;
}

.booklist_wrap .booking_product .product_box .book_group_wrap {
    padding: 10px;
    background-color: #f4f6ff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.booklist_wrap .booking_product .product_box .book_group_wrap .group_r {
    gap: 15px;
}

.booklist_wrap .booking_product .product_box .book_group_wrap .group_r .total p {
    font-size: 14px;
    color: #252525;
}

.booklist_wrap .booking_product .product_box .book_group_wrap .group_r .group_print {
    gap: 3px;
    padding: 8px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #999;
    font-size: 14px;
    color: #252525;
    cursor: pointer;
}

.booklist_wrap .booking_product .product_detail {
    padding: 15px 10px;
    display: flex;
    gap: 30px;
}

.booklist_wrap .booking_product .product_detail .info_product {
    width: 60%;
}

.booklist_wrap .booking_product .product_detail .product_tit {
    font-size: 18px;
    font-weight: 700;
    color: #252525;
    line-height: 1.3;
    margin: 10px 0;
    display: block;
}

.booklist_wrap .booking_product .product_detail .info_payment {
    gap: 10px;
}

.booklist_wrap .booking_product .product_detail .bs-input-check input[type="radio"]+label, 
.booklist_wrap .booking_product .product_detail .bs-input-check input[type="checkbox"]+label {
    font-size: 14px;
}

.booklist_wrap .booking_product .product_detail .info_payment .tag {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ff6300;
    background-color: #fff;
    font-size: 14px;
    font-weight: 700;
    color: #ff6300;
}

.booklist_wrap .booking_product .product_detail .info_payment .tag.gray {
    background-color: #c3c3c3;
    color: #fff;
    border: unset;
}

.booklist_wrap .booking_product .product_detail .info_payment span {
    font-size: 14px;
    color: #454545;
}

.booklist_wrap .booking_product .product_detail .info_user {
    margin: 5px 0 10px;
}

.booklist_wrap .booking_product .product_detail .info_user p {
    font-size: 14px;
    color: #454545;
    padding-right: 10px;
    position: relative;
}

.booklist_wrap .booking_product .product_detail .info_user p + p {
    padding-left: 10px;
}

.booklist_wrap .booking_product .product_detail .info_user p::after {
    content: '';
    position: absolute;
    top: 15%;
    right: 0;
    width: 1px;
    height: 80%;
    background-color: #454545;
    opacity: 0.5;
}

.booklist_wrap .booking_product .product_detail .info_user p:last-of-type:after {
    display: none;
}

.booklist_wrap .booking_product .product_detail .info_name p {
    font-size: 14px;
    color: #757575;
    line-height: 1.3;
}

.booklist_wrap .booking_product .product_detail .note {
    margin: 10px 0 12px;
    gap: 3px;
}

.booklist_wrap .booking_product .product_detail .note p {
    font-size: 14px;
    color: #454545;
    line-height: 1.3;
    padding-right: 20px;
}

.booklist_wrap .booking_product .product_detail .note p span {
    color: red;
}

.booklist_wrap .booking_product .product_detail .info_link {
    color: #2e3e92;
    font-size: 14px;
    text-decoration: underline;
    margin-top: 10px;
    cursor: pointer;
}

.booklist_wrap .booking_product .info_price {
    width: 40%;
    gap: 45px;
    justify-content: flex-end;
}

.booklist_wrap .booking_product .info_price .info_total_price {
    gap: 8px;
    flex-direction: column;
}

.booklist_wrap .booking_product .info_price .info_total_price .pri_won {
    color: #ff6300;
    font-size: 14px;
    text-wrap: nowrap;
}

.booklist_wrap .booking_product .info_price .info_total_price .pri_bath {
    color: #454545;
    font-size: 14px;
    text-wrap: nowrap;
}

.booklist_wrap .booking_product .info_price .info_total_price .btn_payment {
    padding: 8px 4px;
    background-color: #f6f6f6;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
}

.booklist_wrap .booking_product .info_price .info_total_price .btn_payment p {
    font-size: 14px;
    color: #2e3e92;
    font-weight: 600;
}

.booklist_wrap .booking_product .info_price .estimate_wrap {
    flex-direction: column;
    gap: 8px;
}

.booklist_wrap .booking_product .info_price .info_reservation.btn_info {
    min-width: 108px;
}

.booklist_wrap .booking_product .info_price .btn_info {
    padding: 10px 25px;
    background-color: #f6f6f6;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    gap: 5px;
    font-size: 14px;
    color: #2e3e92;
    font-weight: 600;
    width: fit-content;
    height: fit-content;
}

.booklist_wrap .customer-center-page .pagination {
    margin: 70px 0 60px 0 !important;
}

.booklist_wrap .p_box {
    border: 2px solid #000;
    position: fixed;
    background: #373c4f;
    bottom: 0;
    padding: 15px 20px 15px 60px;
    border-bottom: none;
    width: 100%;
    max-width: 975px;
    z-index: 2000;
    display: flex;
    justify-content: space-between;
}

.booklist_wrap .p_box .ord_info {
    padding-top: 6px;
    align-items: center;
}

.booklist_wrap .p_box .count_total {
    padding-left: 0;
    color: #fff;
    padding-right: 20px;
    border-right: 1px solid #666;
    margin-right: 20px;
    font-size: 15px;
}

.booklist_wrap .f_nilegreen {
    color: #2ab6ad !important;
}

.booklist_wrap .price_total {
    font-size: 15px;
    padding-right: 40px;
}

.booklist_wrap .p_box .price_total {
    color: #fff;
    margin-top: -10px;
}

.booklist_wrap .f_orange {
    color: #fb7622 !important;
}

.booklist_wrap .price_total span {
    font-size: 13px;
}

.booklist_wrap .price_total strong {
    font-size: 25px;
    font-weight: 500;
}

.booklist_wrap .custom_btn2 {
    display: inline-block !important;
    outline: none !important;
    cursor: pointer !important;
    text-align: center !important;
    text-decoration: none !important;
    line-height: normal !important;
    vertical-align: middle !important;
    border: 0;
    overflow: visible;
    font-size: 16px;
}

.booklist_wrap .b_orange {
    color: #fff !important;
    border: solid 1px #d86619;
    background: #fb7622;
}

.booklist_wrap .b_p1040 {
    padding: 10px 40px;
}

.booklist_wrap .popup_filter {
    display: none;
}



.estimate_popup_wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99999;
    display: none;
}

.estimate_popup_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 740px;
    height: 780px;
    padding: 34px;
    border-radius: 8px;
    background-color: #fff;
}

.estimate_popup_content  .btn_close_popup {
    position: absolute;
    top : 0;
    right: 0;
    padding: 20px;
    cursor: pointer;
}

.estimate_popup_wrap h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px
}

.estimate_popup_wrap .sec1 {
    display: flex;
    /* gap: 30px; */
    justify-content: space-between;
}

.estimate_popup_wrap .sec1 .left {
    position: relative;
    width: 294px;
}

.estimate_popup_wrap .sec1 .left .img_stem {
    position: absolute;
    top: 12px;
    right: 5px;
    width: 60px;
}

.estimate_popup_wrap .sec1 .ttl {
    font-size: 16px;
    margin-bottom: 8px;
    color: #353535;
    font-weight: 600;
}

.estimate_popup_wrap .sec1 .left>span {
    font-size: 14px;
    color: #757575;
    margin-bottom: 5px;
    display: block;
}

.estimate_popup_wrap .sec1 .left .day,
.estimate_popup_wrap .sec1 .left .name {
    font-size: 14px;
    color: #252525;
    padding: 10px 0;
    border-bottom: 1px solid #999
}

.estimate_popup_wrap table {
    border-collapse: collapse;
    width: 100%;
}

.estimate_popup_wrap td,
.estimate_popup_wrap th {
    border: 1px solid #dbdbdb;
    padding: 6px;
    text-align: center;
    font-size: 14px;
    color: #252525
}

.estimate_popup_wrap th {
    background-color: #fafafa
}

.estimate_popup_wrap tr .total {
    color: rgb(250, 17, 17)
}

.estimate_popup_wrap .sec2 {
    margin-top: 40px
}

.estimate_popup_wrap .sec2 .time {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 4px;

}

.estimate_popup_wrap .sec2 .time+p {
    text-align: left;
    color: #757575;
    font-size: 12px
}

.estimate_popup_wrap .sec2 td {
    padding: 12px
}

.estimate_popup_wrap .list_desc {
    margin-top: 20px;
    margin-bottom: 34px;
}

.estimate_popup_wrap .list_desc p {
    font-size: 13px;
    color: #656565;
    line-height: 1.4;
}

.estimate_popup_wrap .send_mail {
    display: flex;
    align-items: center;
    gap : 8px;
    padding-top: 35px;
    border-top: 1px solid #dbdbdb;
}

.estimate_popup_wrap .send_mail input {
    flex: 1;
    padding: 0 10px;
    border: 1px solid #dbdbdb;
    outline: none;
    height: 45px;
    font-size: 14px;
    color : #555
}

.estimate_popup_wrap .send_mail button {
    font-size: 14px;
    font-weight: 700;
    color: #666;
    border: 1px solid #dbdbdb;
    height: 45px;
    padding: 10px 20px;
}

.estimate_popup_wrap .btns_download {
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 4px;
    margin-top: 35px
}

.estimate_popup_wrap .btns_download button {
    font-size: 15px;
    font-weight: 700;
    padding: 16px 36px;
    background-color: #17469e;
    color: #fff;
    border: none;

}
