/*    Css for : w_sub_1호텔_1main.psd   */
.main_page_01 .sub_top_visual {
    position: relative;
    width: 100%;
    height: 100%;
}

.main_page_01 .sub_top_visual img {
    width: 100%;
    height: 100%;
    min-height: 260px;
}

.main_page_01 .main_visual_content_ {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    margin: 0 auto;
    width: -webkit-calc(100% - 2rem);
    width: -moz-calc(100% - 2rem);
    width: calc(100% - 2rem);
    max-width: 1200px;
}

.main_page_01 .main_visual_content_ .text_title {
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-family: "NanumSquare";
    text-shadow: 2px 2px #000;
}

.main_page_01 .main_visual_content_ .form_element_ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
    border-radius: 16px;
    background-color: #ffffff;
    padding: 20px;
    gap: 12px;
}

.main_page_01 .main_visual_content_ .form_element_ .form_input_ {
    width: 100%;
    max-width: calc(50% - 60px - 20px);
    height: auto;
    max-height: 72px;
    position: relative;
}

.main_page_01 .main_visual_content_ .form_element_ input {
    width: 100%;
    height: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    padding: 40px 20px 10px 20px;
    font-size: 19px;
    letter-spacing: -1px;
    line-height: 26px;
    text-transform: uppercase;
    color: #353535;
    font-weight: bold;
    font-family: "Pretendard";
}

.main_page_01 .main_visual_content_ .form_element_ input::placeholder {
    font-size: 19px;
    letter-spacing: -1px;
    line-height: 26px;
    text-transform: uppercase;
    color: #353535;
    font-weight: bold;
    font-family: "Pretendard";
}

.main_page_01 .main_visual_content_ .form_element_ .form_button_ {
    width: 100%;
    max-width: 120px;
    height: 100%;
    max-height: 72px;
}

.main_page_01 .main_visual_content_ label {
    font-size: 14px;
    letter-spacing: -1px;
    line-height: 26px;
    text-transform: uppercase;
    color: #999999;
    position: absolute;
    left: 20px;
    top: 10px;
}

.main_page_01 .main_visual_content_ button {
    border-radius: 6px;
    background-color: #17469E;
    font-size: 22px;
    letter-spacing: -1px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-family: "Pretendard";
    text-align: center;
    padding: 24px;
    width: 108px;
    margin-left: 8px;
}

.swiper-pagination-bullet-active {
    background: #17469E;
}

.thailand_hotel_ {}

.thailand_hotel_ .sub_section3__head {
    justify-content: start;
    padding-top: 100px;
}

.best_tour_section5_ .swiper-wrapper,
.thailand_hotel_ .thailand_hotel_swiper_ .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    gap: 20px;
}

.best_golf_section5_ .swiper-wrapper {
    align-items: normal;
}

.best_golf_section5_ {
    margin-top: 29px;
}

.thailand_hotel_ .thailand_hotel_swiper_ .swiper-wrapper {
    justify-content: start;
    align-items: start;
}

.thailand_hotel_ .thailand_hotel_swiper_ .thailand_hotel_swiper_item_ {
    /*margin: 0 !important;*/
}

.sub_tour_section6 .custom_pagination_,
.thailand_hotel_ .custom_pagination_ {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_tour_section6 .custom_pagination_ .pagination_show_,
.thailand_hotel_.sub_section5_ .custom_pagination_ .s_item_show_,
.thailand_hotel_ .custom_pagination_ .pagination_show_ {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 282px;
    height: 64px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 31px;
    cursor: pointer;
}

.thailand_hotel_.sub_section5_ .custom_pagination_ .s_item_show_ p {
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 26px;
    text-transform: uppercase;
    color: #353535;
    font-weight: bold;
}

.sub_tour_section6 .custom_pagination_ p,
.thailand_hotel_ .custom_pagination_ .pagination_show_ p {
    margin: 0 25px 0 10px;
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 26px;
    text-transform: uppercase;
    color: #252525;
    font-family: "Pretendard";
}

.sub_tour_section6 .custom_pagination_ .sub_tour_section6_swiper_pagination_,
.thailand_hotel_ .custom_pagination_ .thailand_hotel_swiper_pagination_ {
    display: flex;
    justify-content: center;
    align-items: center;
    width: unset;
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 26px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-weight: 500;
    font-family: "Pretendard";
}

.sub_tour_section6 .custom_pagination_ .sub_tour_section6_swiper_pagination_ .swiper-pagination-current,
.thailand_hotel_ .custom_pagination_ .thailand_hotel_swiper_pagination_ .swiper-pagination-current {
    color: #353535;
}

.best_tour_section5_ .prd_name,
.thailand_hotel_ .thailand_hotel_swiper_ .prd_name {
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 26px;
    text-transform: uppercase;
    color: #252525;
    font-weight: 500;
    font-family: "Pretendard";
}

.best_tour_section5_ .prd_keywords,
.thailand_hotel_ .prd_keywords {
    font-size: 15px;
    letter-spacing: -1px;
    line-height: 26px;
    text-transform: uppercase;
    color: #757575;
    font-family: "Pretendard";
    margin-top: 10px;
}

.swiper_product_list_pagination_ {
    width: auto !important;
}

.sub_tour_section4 {
    padding: 100px 0 0 0;
}

.sub_tour_section6 {
    padding: 100px 0 0 0;
}

.most_searched_ .tab_box_area_ {
    margin-top: 30px;
}

.most_searched_ .tab_box_area_ .tab_box_show_ {
    gap: 10px;
}

.tab_box_show__hotel {
    flex-wrap: wrap;
}

.most_searched_ .tab_box_area_ .tab_box_element_ {
    border-radius: 30px;
    width: 100%;
    height: auto;
    padding: 8px 15px;
    border: 1px solid #dbdbdb;
    text-wrap: nowrap;
    font-size: 16px;
    letter-spacing: -1px;
    line-height: 26px;
    text-transform: uppercase;
    color: #757575;
    font-weight: 500;
    font-family: "Pretendard";
    text-align: center;
    cursor: pointer;
}

.most_searched_ .tab_box_show__hotel .tab_box_element_ {
    width: auto;
}

.most_searched_ .tab_box_area_ .tab_box_element_.tab_active_ {
    border: 1px solid #17469E;
    color: #17469E;
}

.most_searched_ .content_tab_show_ {
    display: none;
}

.most_searched_ .tab_box_content_ {
    margin-top: 40px;
    overflow: hidden;
}

.most_searched_ .content_tab_show_.tab_active_ {
    display: block;
}

.most_searched_ .sub_tour_section7_product_item {
    /*width: calc((100% - 15px) / 4) !important;*/
    position: relative;
}

.most_searched_ .swiper-wrapper {
    max-width: 1200px;
}

.sub_tour_section8 {
    padding: 100px 0 180px 0;
}

/*    Css for : w_sub_1호텔_2list.psd   */
.main_page_product_result_ {
    margin: 0;
}

.main_page_product_result_ .breadcrumbs_custom_ a {
    display: flex;
    gap: 10px;
    align-items: center;
}

.main_page_product_result_ .breadcrumbs_custom_ a img {
    width: 18px;
    height: 18px;
}

.main_page_product_result_ .breadcrumbs_custom_ a img.img_c {
    width: 7px;
    height: 14px;
}

.main_page_product_result_ .breadcrumbs_custom_ a p {
    font-size: 15px;
    letter-spacing: -1px;
    line-height: 26px;
    text-transform: uppercase;
    color: #757575;
    font-family: "Pretendard";
}

.main_page_product_result_ .breadcrumbs_custom_ a.active_ p {
    color: #252525;
}

.main_page_product_result_ .breadcrumbs_custom_ ul {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

.main_page_product_result_ .breadcrumbs_custom_ {
    padding: 20px 0;
    border-bottom: 1px solid #eeeeee;
}

.main_page_product_result_ .product_result_content_ {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 40px;
    gap: 40px;
    margin-bottom: 50px;
}

.main_page_product_result_ .product_result_content_left_ {
    width: 100%;
    max-width: calc(23% - 20px);
}

.main_page_product_result_ .product_result_content_right_ {
    width: 100%;
    max-width: calc(77% - 20px);
}

.main_page_product_result_ .product_result_content_left_header_ {
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 26px;
    text-transform: uppercase;
    color: #252525;
    font-weight: bold;
    font-family: "Pretendard";
    border-bottom: 2px solid #000000;
    width: 100%;
    height: 50px;
    padding: 5px 0;
}

.main_page_product_result_ .product_result_content_right_header_ {
    width: 100%;
}

.main_page_product_result_ .form_search_ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main_page_product_result_ .form_search_ .form_element_ {
    width: 100%;
    max-width: 40%;
}

.main_page_product_result_ .form_search_ .render_date_to_text_ {
    width: 100%;
    max-width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 10px;
    border: 1px solid #dbdbdb;
    height: 50px;
}

.main_page_product_result_ .form_search_ .render_date_to_text_ .text_content_ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-size: 17px;
    letter-spacing: -1px;
    line-height: 26px;
    text-transform: uppercase;
    color: #353535;
    font-family: "Pretendard";
}

.main_page_product_result_ .form_search_ .text_placeholder_ {
    font-size: 17px;
    letter-spacing: -1px;
    line-height: 26px;
    text-transform: uppercase;
    color: #454545;
    font-family: "Pretendard";
}

.main_page_product_result_ .form_search_ button {
    border-radius: 6px;
    width: 100%;
    max-width: 80px;
    font-size: 17px;
    letter-spacing: -1px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Pretendard";
    background-color: #47beb0;
    height: 50px;
}

.main_page_product_result_ .form_search_ input::placeholder {
    font-size: 17px;
    letter-spacing: -1px;
    line-height: 26px;
    text-transform: uppercase;
    color: #999999;
    font-family: "Pretendard";
}

.main_page_product_result_ .form_search_ input {
    font-size: 17px;
    letter-spacing: -1px;
    line-height: 26px;
    text-transform: uppercase;
    color: #454545;
    font-family: "Pretendard";
    padding: 0 0 0 10px;
    border: 1px solid #dbdbdb;
}

.main_page_product_result_ .startDayRender,
.main_page_product_result_ .endDayRender {
    cursor: pointer;
}

/* Update css for: w_sub_8고객센터_4고객의소리.psd */
.form_notify_ {}

.form_notify_ .icon_star_5 {
    background-image: url("/images/ico/ico_star.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    width: 14px;
    height: 14px;
}

.form_notify_ .custom-select {
    position: relative;
    display: inline-block;
}

.form_notify_ .select-hide {
    display: none;
}

.form_notify_ .select-selected {
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    background: #fff url(/images/ico/select_ico.png) right 20px center no-repeat;
}

.form_notify_ .select-items {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    z-index: 99;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.form_notify_ .select-items div {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.form_notify_ .select-items div:hover {
    background-color: #ddd;
}

.form_notify_ .form_label_ {
    font-size: 16px;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #252525;
    font-weight: 500;
    font-family: "Pretendard", sans-serif;
    margin-bottom: 10px;
}

.form_notify_ .form_el {
    margin-bottom: 25px;
}

.form_notify_ .form_el_flex {
    justify-content: space-between;
}

.form_notify_ .form_input_ {
    height: 52px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    width: 280px;
    font-size: 16px;
    letter-spacing: -1px;
    /* text-transform: uppercase; */
    color: #454545;
    font-family: "Pretendard", sans-serif;
}

.form_notify_ input.form_input_ {
    width: 450px;
}

.form_notify_ input.form_input_.full {
    width: 100%;
}

.form_notify_ .form_textarea_ {
    width: 920px;
    height: 240px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
}

.form_notify_ .list_btn_ {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 60px;
    margin-bottom: 140px;
}

.form_notify_ .btn_cancel_ {
    width: 260px;
    height: 66px;
    border-radius: 6px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    font-size: 22px;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #454545;
    font-weight: 600;
    font-family: "Pretendard", sans-serif;
    text-align: center;
}

.form_notify_ .btn_submit_ {
    width: 260px;
    height: 66px;
    border-radius: 6px;
    background-color: #17469E;
    font-size: 22px;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Pretendard", sans-serif;
    text-align: center;
}

/* Update css for: w_sub_8고객센터_3일대일게시판.psd */
.form_table_notify_ {}

.form_table_notify_ .form_el {
    margin-bottom: 25px;
}

.form_table_notify_ .form_label_ {
    font-size: 16px;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #252525;
    font-weight: 500;
    font-family: "Pretendard", sans-serif;
    margin-bottom: 15px;
}

.form_table_notify_ .form_input_ {
    height: 52px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
}

.form_table_notify_ .form_input_.form_50 {
    width: 230px;
}

.form_table_notify_ .form_textarea_ {
    width: 920px;
    height: 440px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    padding: 10px;
}

.form_table_notify_ .form_upload_info {}

.form_table_notify_ .form_upload_button {
    width: 110px;
    height: 52px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #252525;
    font-size: 16px;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #252525;
    font-weight: 500;
    font-family: "Pretendard", sans-serif;
    text-align: center;
}

.form_table_notify_ .form_uploaded_file_list {}

.form_table_notify_ .form_upload_container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 570px;
    gap: 10px;
}

.form_table_notify_ .form_upload_text {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 16px;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #bbbbbb;
    font-family: "Pretendard", sans-serif;
    cursor: pointer;
}

.form_table_notify_ .form_uploaded_file_list {
    display: flex;
    gap: 25px;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin-top: 15px;
}

.form_table_notify_ .file_item_ {
    display: flex;
    gap: 5px;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    color: #757575;
    font-family: "Pretendard", sans-serif;
}

.form_table_notify_ .file_remove_ {
    cursor: pointer;
    justify-content: start;
    align-items: center;
    background-image: url("/images/admin/common_close.png");
    background-position: center;
    background-size: 12px 12px;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
}

.form_table_notify_ .form_el_cont {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.form_table_notify_ .form_radio {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.form_table_notify_ .form_radio input[type="radio"]:checked+label,
.form_table_notify_ .form_radio input[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 1.75rem;
    cursor: pointer;
    line-height: 1.25rem;
    display: inline-block;
    color: #252525;
}

.form_table_notify_ .form_radio input[type="radio"]:checked+label:before,
.form_table_notify_ .form_radio input[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 21px;
    height: 19px;
    background: url("/images/ico/icon_radio.png") no-repeat center;
    border-radius: 100%;
}

.form_table_notify_ .form_radio input[type="radio"]:checked+label:before {
    background: url("/images/ico/icon_radio_selected.png") no-repeat center;
}

.form_table_notify_ .list_btn_ {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 60px;
    margin-bottom: 120px;
}

.form_table_notify_ .btn_cancel_ {
    width: 260px;
    height: 66px;
    border-radius: 6px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    font-size: 22px;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #454545;
    font-weight: 600;
    font-family: "Pretendard", sans-serif;
    text-align: center;
}

.form_table_notify_ .btn_submit_ {
    width: 260px;
    height: 66px;
    border-radius: 6px;
    background-color: #17469E;
    font-size: 22px;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Pretendard", sans-serif;
    text-align: center;
}

.prd_info__left {
    display: flex;
    align-items: flex-start;
    gap: 4px;
}

.prd_info__left img {
    width: 14px;
    height: 13px;
}

.prd_keywords span:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 4px;
}

.prd_keywords span:nth-child(1) img {
    width: 7px;
    height: 14px;
}

.prd_keywords .prd_keywords_cus_span {
    display: flex;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
}

.prd_keywords .prd_keywords_cus_span img {
    width: 7px;
    height: 14px;
}

.main_page_01 .banner_section_main_page {
    height: 150px;
    margin-top: 100px;
}

.main_page_01 .banner_section_main_page .banner_section_image {
    background: url(/images/sub/banner__hotel01.png) no-repeat center;
    background-size: cover;
    height: 150px;
    display: block;
}

.main_page_01 .banner_section_main_page .box-text {
    position: absolute;
    top: 45px;
    left: 120px;
}

.main_page_01 .banner_section_main_page .box-text .title-box {
    font-size: 26px;
    color: #ffffff;
    margin-bottom: 16px;
}

.main_page_01 .banner_section_main_page .box-text .des-box {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
}

.main_page_01 .main_visual_content_ button:hover {
    opacity: 0.8;
}

.flex-center {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 850px) {
    .page_product_list_.main_page_01 .main_visual_content_ {
        width: 66rem;
    }

    .main_page_01 .main_visual_content_ .form_element_ input {
        width: 100%;
        height: 100%;
        border: 0.1rem solid #dbdbdb;
        border-radius: 0.6rem;
        padding: 4rem 2rem 1rem 2rem;
        font-size: 1.9rem;
        letter-spacing: -0.1rem;
        line-height: 2.6rem;
        text-transform: uppercase;
        color: #353535;
        font-weight: bold;
    }

    .main_page_01 .main_visual_content_ label {
        font-size: 2.2rem;
        letter-spacing: -0.1rem;
        line-height: 2.6rem;
        text-transform: uppercase;
        color: #999999;
        position: absolute;
        left: 2.2rem;
        top: 2rem;
    }

    .main_page_01 .main_visual_content_ .form_element_ input {
        width: 100%;
        height: 100%;
        border: 1px solid #dbdbdb;
        border-radius: 0.6rem;
        padding: 4rem 2rem 1rem 2rem;
        font-size: 3.2rem;
        letter-spacing: -0.1rem;
        line-height: 2.6rem;
        text-transform: uppercase;
        color: #353535;
        font-weight: bold;
        border-width: 2px;
    }

    .main_page_01 .main_visual_content_ .form_element_ input::placeholder {
        font-size: 2.8rem;
    }

    .main_page_01 .main_visual_content_ button {
        border-radius: 0.6rem;
        background-color: #17469E;
        font-size: 2.2rem;
        letter-spacing: -1px;
        line-height: 2.6rem;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: bold;
        font-family: "Pretendard";
        text-align: center;
        padding: 2.4rem;
        width: 10.8rem;
        height: 9rem;
        margin-left: 0.8rem;
    }

    .main_page_01 .main_visual_content_ .form_element_ {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 7.5rem;
        border-radius: 1.6rem;
        background-color: #ffffff;
        padding: 2rem;
    }

    .page_product_list_ .sub_section3__head__ttl {
        font-size: 3.8rem;
        width: 100%;
        margin-bottom: 3.6rem;
    }

    .best_tour_section5_ .prd_name,
    .thailand_hotel_ .thailand_hotel_swiper_ .prd_name {
        margin-top: 1rem;
        font-size: 2.8rem;
        letter-spacing: -1px;
        line-height: 2.6rem;
        text-transform: uppercase;
        color: #252525;
        font-weight: 500;
        font-family: "Pretendard";
    }

    .best_tour_section5_ .prd_keywords,
    .thailand_hotel_ .prd_keywords {
        font-size: 2.5rem;
        letter-spacing: -1px;
        line-height: 2.6rem;
        text-transform: uppercase;
        color: #757575;
        font-family: "Pretendard";
        margin-top: 2.5rem;
        flex-wrap: wrap;
    }

    .swiper_product_list_pagination_ {
        width: auto !important;
    }

    .sub_tour_section4 {
        padding: 10rem 0 0 0;
    }

    .sub_tour_section6 {
        padding: 10rem 0 0 0;
    }

    .most_searched_ .tab_box_area_ {
        margin-top: 3rem;
    }

    .most_searched_ .tab_box_area_ .tab_box_show_ {
        gap: 1rem;
    }

    .most_searched_ .tab_box_area_ .tab_box_element_ {
        border-radius: 99px;
        width: 100%;
        height: auto;
        padding: 2rem 3rem;
        border: 1px solid #dbdbdb;
        text-wrap: nowrap;
        font-size: 2.6rem;
        letter-spacing: -1px;
        line-height: 2.6rem;
        text-transform: uppercase;
        color: #757575;
        font-weight: 500;
        font-family: "Pretendard";
        text-align: center;
        cursor: pointer;
    }

    .most_searched_ .tab_box_area_ .tab_box_element_.tab_active_ {
        border: 1px solid #17469E;
        color: #17469E;
    }

    .most_searched_ .content_tab_show_ {
        display: none;
    }

    .most_searched_ .tab_box_content_ {
        margin-top: 4rem;
        overflow: hidden;
    }

    .most_searched_ .content_tab_show_.tab_active_ {
        display: block;
    }

    .most_searched_ .sub_tour_section7_product_item {
        /*width: calc((100% - 15px) / 4) !important;*/
        position: relative;
    }

    .most_searched_ .swiper-wrapper {
        max-width: 120rem;
    }

    .sub_tour_section8 {
        padding: 10rem 0 10rem 0;
    }

    /*    Css for : w_sub_1호텔_2list.psd   */
    .main_page_product_result_ {
        margin: 0;
    }

    .main_page_product_result_ .breadcrumbs_custom_ a {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .main_page_product_result_ .breadcrumbs_custom_ a img {
        width: 1.8rem;
        height: 1.8rem;
    }

    .main_page_product_result_ .breadcrumbs_custom_ a img.img_c {
        width: 0.7rem;
        height: 1.4rem;
    }

    .main_page_product_result_ .breadcrumbs_custom_ a p {
        font-size: 2.5rem;
        letter-spacing: -1px;
        line-height: 2.6rem;
        text-transform: uppercase;
        color: #757575;
        font-family: "Pretendard";
    }

    .main_page_product_result_ .breadcrumbs_custom_ a.active_ p {
        color: #252525;
    }

    .main_page_product_result_ .breadcrumbs_custom_ ul {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 3rem;
    }

    .main_page_product_result_ .breadcrumbs_custom_ {
        padding: 2rem 0;
        border-bottom: 1px solid #eeeeee;
    }

    .main_page_product_result_ .product_result_content_ {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-top: 4rem;
        gap: 4rem;
        margin-bottom: 5rem;
    }

    .main_page_product_result_ .product_result_content_left_ {
        width: 100%;
        max-width: calc(23% - 2rem);
    }

    .main_page_product_result_ .product_result_content_right_ {
        width: 100%;
        max-width: calc(77% - 2rem);
    }

    .main_page_product_result_ .product_result_content_left_header_ {
        font-size: 3.8rem;
        letter-spacing: -1px;
        line-height: 2.6rem;
        text-transform: uppercase;
        color: #252525;
        font-weight: bold;
        font-family: "Pretendard";
        border-bottom: 2px solid #000000;
        width: 100%;
        height: 5rem;
        padding: 0.5rem 0;
    }

    .main_page_product_result_ .product_result_content_right_header_ {
        width: 100%;
    }

    .main_page_product_result_ .form_search_ {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .main_page_product_result_ .form_search_ .form_element_ {
        width: 100%;
        max-width: 40%;
    }

    .main_page_product_result_ .form_search_ .render_date_to_text_ {
        width: 100%;
        max-width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        padding: 1rem;
        border: 0.1rem solid #dbdbdb;
        height: 5rem;
    }

    .main_page_product_result_ .form_search_ .render_date_to_text_ .text_content_ {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        font-size: 2.7rem;
        letter-spacing: -1px;
        line-height: 2.6rem;
        text-transform: uppercase;
        color: #353535;
        font-family: "Pretendard";
    }

    .main_page_product_result_ .form_search_ .text_placeholder_ {
        font-size: 2.7rem;
        letter-spacing: -1px;
        line-height: 2.6rem;
        text-transform: uppercase;
        color: #454545;
        font-family: "Pretendard";
    }

    .main_page_product_result_ .form_search_ button {
        border-radius: 0.6rem;
        width: 100%;
        max-width: 8rem;
        font-size: 2.7rem;
        letter-spacing: -1px;
        line-height: 2.6rem;
        text-transform: uppercase;
        color: #ffffff;
        font-family: "Pretendard";
        background-color: #47beb0;
        height: 5rem;
    }

    .main_page_product_result_ .form_search_ input::placeholder {
        font-size: 2.7rem;
        letter-spacing: -1px;
        line-height: 2.6rem;
        text-transform: uppercase;
        color: #999999;
        font-family: "Pretendard";
    }

    .main_page_product_result_ .form_search_ input {
        font-size: 2.7rem;
        letter-spacing: -1px;
        line-height: 2.6rem;
        text-transform: uppercase;
        color: #454545;
        font-family: "Pretendard";
        padding: 0 0 0 10px;
        border: 1px solid #dbdbdb;
    }

    .main_page_product_result_ .startDayRender,
    .main_page_product_result_ .endDayRender {
        cursor: pointer;
    }

    .main_page_01 .sub_top_visual img {
        width: 100%;
        height: 100%;
        min-height: 26rem;
    }

    .main_page_01 .sub_tour_section7 {
        padding: 10rem 0 0 0;
    }

    .main_page_01 .sub_swiper2_pagination {
        padding-top: 6rem;
    }

    .main_page_01 .thailand_hotel_ .sub_section3__head {
        padding-top: 10rem;
    }

    .main_page_01 .sub_section3.thailand_hotel_ .custom_pagination_ {
        margin: 7.75rem 0;
    }

    .main_page_01 .sub_tour_section6 .custom_pagination_ .pagination_show_,
    .main_page_01 .thailand_hotel_.sub_section5_ .custom_pagination_ .s_item_show_,
    .main_page_01 .thailand_hotel_ .custom_pagination_ .pagination_show_ {
        width: 32.6rem;
        height: 8rem;
        border-radius: 9.9rem;
    }

    .main_page_01 .thailand_hotel_ .custom_pagination_ .pagination_show_ img {
        width: 1.8rem;
        height: 2rem;
        background-size: cover;
    }

    .main_page_01 .sub_tour_section7_product_item {
        width: 56rem;
    }

    .main_page_01 .ico_special_prd {
        position: absolute;
        top: 2rem;
        left: 2rem;
        width: 8rem;
    }

    .main_page_01 .ico_block img {
        display: none;
    }

    .main_page_01 .most_searched_ .tab_box_area_ {
        margin-top: 3rem;
        overflow-x: scroll;
        justify-content: flex-start;
    }

    .main_page_01 .most_searched_ .tab_box_area_ .tab_box_show_ {
        flex-wrap: unset;
        padding-left: 0;
        gap: 2rem;
        padding-bottom: 2rem;
    }

    .main_page_01 .sub_tour_section4_banner .img_box__img {
        width: 66rem;
        height: 24rem;
        background-size: cover;
    }

    .prd_info__left {
        display: flex;
        align-items: baseline;
        gap: 0.4rem;
    }

    .prd_info__left img {
        width: 2.3rem;
        height: 2.2rem;
    }

    .prd_keywords span:nth-child(1) img {
        width: 1.1rem;
        height: 2rem;
    }

    .main_page_01 .main_visual_content_ .form_element_ .form_input_ {
        height: 10rem;
        max-height: unset;
    }

    .main_page_01 .banner_section_main_page {
        height: 24rem;
        margin-top: 10rem;
    }

    .main_page_01 .banner_section_main_page .banner_section_image {
        height: 24rem;
        background: url(/images/sub/banner__hotel01-m.png) no-repeat center;
        background-size: cover;
    }

    .main_page_01 .banner_section_main_page .box-text {
        position: absolute;
        top: 8rem;
        left: 3rem;
    }

    .main_page_01 .banner_section_main_page .box-text .title-box {
        font-size: 3.6rem;
        color: #ffffff;
        margin-bottom: 1.6rem;
    }

    .main_page_01 .banner_section_main_page .box-text .des-box {
        font-size: 2.6rem;
        color: rgba(255, 255, 255, 0.8);
        font-weight: 300;
    }

    .main_page_01 .sub_tour_section7_product_list {
        margin-bottom: 0;
    }

    .sub_tour_section6 .custom_pagination_ .pagination_show_,
    .thailand_hotel_.sub_section5_ .custom_pagination_ .s_item_show_,
    .thailand_hotel_ .custom_pagination_ .pagination_show_ {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28.2rem;
        height: 6.4rem;
        background-color: #ffffff;
        border: 0.21rem solid #dbdbdb;
        border-radius: 3.1rem;
        cursor: pointer;
    }

    .thailand_hotel_ .custom_pagination_ .pagination_show_ img {
        width: 1.8rem;
        height: 2rem;
    }

    .sub_tour_section6 .custom_pagination_ .sub_tour_section6_swiper_pagination_,
    .thailand_hotel_ .custom_pagination_ .thailand_hotel_swiper_pagination_ {
        display: flex;
        justify-content: center;
        align-items: center;
        width: unset;
        font-size: 2.8rem;
        letter-spacing: -1px;
        line-height: 2.6rem;
        text-transform: uppercase;
        color: #aaaaaa;
        font-weight: 500;
        font-family: "Pretendard";
    }

    .prd_keywords .prd_keywords_cus_span img {
        width: 1.1rem;
        height: 2rem;
    }
}