/* base */
@import url(./base/reset.css);
@import url(./base/root.css);

/* utilities */
/* @import url(./utilities/custom.css);
@import url(./utilities/ani_custom.css);
@import url(./utilities/font.css); */

/* lib */
/* @import url(./lib/slick.css);
@import url(./lib/aos.css);
@import url(./lib/swiper.min.css); */

/* layout */
@import url(./layout/header.css);
@import url(./layout/footer.css);

/* componets */
/* @import url(./components/form-control.css);
@import url(./components/modal.css); */

/* contents */
 @import url(./contents/common.css);
/* @import url(./contents/main.css);
@import url(./contents/sub.css);
@import url(./contents/table.css);  */

/* responsive */
/* @import url(./contents/responsive.css);
@import url(./contents/main_responsive.css);
@import url(./contents/sub_responsive.css);
@import url(./contents/table_responsive.css); */
