/* base */
@import url(./fonts/fonts.css);
@import url(./base/reset.css);
@import url(./base/root.css);

/* utilities */
/* @import url(./utilities/custom.css);
@import url(./utilities/ani_custom.css);
@import url(./utilities/font.css); */

/* lib */
/* @import url(./lib/slick.css);
@import url(./lib/aos.css);
@import url(./lib/swiper.min.css); */

/* layout */
@import url(./layout/header.css);
@import url(./layout/footer.css);

/* componets */
/* @import url(./components/form-control.css);
@import url(./components/modal.css); */

@import url(../lib/slick/slick.css);
@import url(./contents/root.css);
@import url(./layout/popup.css);
@import url(./contents/form-control.css);

/* contents */

 @import url(./contents/common.css);
@import url(./contents/main.css); 
@import url(./contents/main-responsive.css);
/*@import url(./contents/table.css);  */
@import url(./contents/sub.css);
@import url(./contents/sub_responsive.css); 
@import url(./contents/custom.css); 
@import url(./contents/slider_common.css); 
@import url(./contents/pagi.css); 
@import url(./contents/member.css);
@import url(./contents/item.css);
@import url(./button/button.css);

@import url(./tour/tour.css);
/* responsive */
/* @import url(./contents/responsive.css);
@import url(./contents/main_responsive.css);
@import url(./contents/sub_responsive.css);
@import url(./contents/table_responsive.css); */
@import url(./base.css);
@import url(./custom.css);
@import url(./tour/tour_responsive.css);

.hover-effect {
	width: 200px;
	height: 100px;
	background-color: lightblue;
	text-align: center;
	line-height: 100px;
}
