.magazines_page_ {}

.text_truncate_ {
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: unset;
    max-height: 4rem;
    text-overflow: ellipsis;
    position: relative;
}

/* magazines area */
.magazines_page_ .magazines_area_ {}

/* magazines list */
.magazines_page_ .magazines_area_ .magazines_breadcrumb_ {
    padding-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
}

.magazines_page_ .magazines_area_ .magazines_breadcrumb_ .breadcrumb_ {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.magazines_page_ .magazines_area_ .magazines_breadcrumb_ .breadcrumb_item_ {
    display: flex;
    align-items: center;
}

.magazines_page_ .magazines_area_ .magazines_breadcrumb_ a {
    display: flex;
    align-items: center;
}

.magazines_page_ .magazines_area_ .magazines_breadcrumb_ .home_icon_ {
    /* width: 14px;
    height: 12px; */
    object-fit: cover;
}

.magazines_page_ .magazines_area_ .magazines_breadcrumb_ .circle_direct_ {
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
}

.magazines_page_ .magazines_area_ .magazines_breadcrumb_ span {
    font-size: 15px;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #757575;
    font-family: "Pretendard";
    margin-right: 20px;
}

.magazines_page_ .magazines_area_ .magazines_list_ {
    margin-top: 40px;
}

.magazines_page_ .magazines_area_ .magazines_list_ .magazines_list__top_ {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.magazines_page_ .magazines_area_ .magazines_list_ .magazines_list__top_left_ {}

.magazines_page_ .magazines_area_ .magazines_list_ .magazines_list__top_left_ .total_ {
    font-size: 17px;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #252525;
    font-weight: 500;
    font-family: "Pretendard";
}

.magazines_page_ .magazines_area_ .magazines_list_ .magazines_list__top_left_ .count_ {
    color: #2a459f;
}

.magazines_page_ .magazines_area_ .magazines_list_ .magazines_list__top_right_ {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 10px;
}

.magazines_page_ .magazines_area_ .magazines_list_ .magazines_list__top_right_ .form_el_ {
    display: flex;
    position: relative;
}

.magazines_page_ .magazines_area_ .magazines_list_ .magazines_list__top_right_ .select_sort_ {
    width: 109px;
    height: 44px;
    border-radius: 6px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    padding-left: 18px;
}

.magazines_page_ .magazines_area_ .magazines_list_ .magazines_list__top_right_ .input_search_ {
    width: 220px;
    height: 44px;
    border-radius: 6px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    padding-right: 40px;
}

.magazines_page_ .magazines_area_ .magazines_list_ .magazines_list__top_right_ .icon_search_ {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translate(50%, -50%);
}

.magazines_page_ .magazines_area_ .magazines_list_ .magazines_list__content_ {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.magazines_page_ .magazines_area_ .magazines_list_ .magazines_list__item_ {
    width: 585px;
    height: auto;
    margin-bottom: 20px;
}

.magazines_page_ .magazines_area_ .magazines_list_ .magazines_list__item_image_ {
    width: 585px;
    height: 500px;
    object-fit: cover;
}

.magazines_page_ .magazines_area_ .magazines_list_ .magazines_list__item_title_ {
    font-size: 24px;
    letter-spacing: -1px;
    margin-top: 30px;
    text-transform: uppercase;
    color: #252525;
    font-weight: bold;
    font-family: "Pretendard";
}

.magazines_page_ .magazines_area_ .magazines_list_ .magazines_list__item_desc_ {
    opacity: 0.600;
    font-size: 16px;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #252525;
    font-family: "Pretendard";
    display: flex;
    gap: 6px;
    margin-top: 10px;
}

.magazines_page_ .magazines_area_ .magazines_list_ .magazines_list__item_desc_ .src_ {}

.magazines_page_ .magazines_area_ .magazines_list_ .magazines_list__item_desc_ .view_ {}

.magazines_page_ .magazines_area_ .magazines_list_ .magazines_list__item_author_ {
    margin-top: 20px;
    font-size: 16px;
    letter-spacing: -1px;
    color: #454545;
    font-weight: 500;
    font-family: "Pretendard";
}

.magazines_page_ .magazines_area_ .magazines_list_ .pagination {
    margin: 32px 0 0px 0;
    display: flex;
    list-style: none;
    padding: 0;
}

.magazines_page_ .magazines_area_ .magazines_list_ .page-link {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.magazines_page_ .magazines_area_ .magazines_list_ .page-link.active {
    color: var(--bs-point);
    border-color: var(--bs-point);
}

/* magazines detail */
.magazines_page_ .magazines_area_ .magazines_detail_ {
    padding: 50px 60px 140px 60px;
    border-radius: 6px;
    background-color: #ffffff;
}

.magazines_page_ .magazines_area_ .magazines_detail__title_ {
    font-size: 26px;
    letter-spacing: -1px;
    line-height: 38px;
    text-transform: uppercase;
    color: #252525;
    font-weight: bold;
    font-family: "Pretendard";
}

.magazines_page_ .magazines_area_ .magazines_detail__desc_ {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-family: "Pretendard";
}

.magazines_page_ .magazines_area_ .magazines_detail__desc_ .author_ {
    color: #252525;
}

.magazines_page_ .magazines_area_ .magazines_detail__desc_ .date_ {
    color: #757575;
}

.magazines_page_ .magazines_area_ .magazines_detail__desc_ .more_ {
    color: #757575;
}

.magazines_page_ .magazines_area_ .magazines_detail__desc_ .src_ {
    color: #757575;
}

.magazines_page_ .magazines_area_ .magazines_detail__content_ {
    margin-top: 40px;
    font-size: 17px;
    letter-spacing: -1px;
    line-height: 26px;
    text-transform: uppercase;
    color: #454545;
    font-family: "Pretendard";
}

.magazines_page_ .magazines_area_ .magazines_detail__content_ p.title_ {
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 34px;
    color: #252525;
    font-weight: bold;
    font-family: "Pretendard";
}

.magazines_page_ .magazines_area_ .magazines_detail__content_ p {
    margin-top: 20px;
}

.magazines_page_ .magazines_area_ .magazines_detail__content_ img:not(:first-child) {
    margin-top: 40px;
}

.time_sale_list {
    margin-top: 30px;
    display: flex;
    gap: 50px 20px;
    flex-wrap: wrap;
    padding-bottom: 30px;
    border-bottom: 1px solid #eeeeee;
}

.time_sale_list .time_sale_child {
    width: calc(100% / 3 - 40px / 3);
}

.time_sale_list .time_sale_child .time_sale_img {
    width: 100%;
    height: 284px;
    position: relative;
}

.time_sale_list .time_sale_child .time_sale_img .coating {
    background-color: #000000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.time_sale_list .time_sale_child .time_sale_img .time_status {
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    width: 200px;
    height: 42px;
    border-radius: 21px;
    background-color: #000000;
    font-family: "Pretendard";
    z-index: 2;
}

.time_sale_list .time_sale_child .time_sale_img .time_status span {
    font-weight: 500;
    font-size: 18px;
}

.time_sale_list .time_sale_child .time_sale_img .time_status.expired i {
    width: 12px;
    height: 12px;
    background: url("/images/time_sale/time_expired_ico.png") no-repeat center/cover;
    background-size: 12px 12px;
}

.time_sale_list .time_sale_child .time_sale_img .time_status.live i {
    width: 26px;
    height: 18px;
    background: url("/images/time_sale/time_live_ico.png") no-repeat center/cover;
    background-size: 26px 18px;
}

.time_sale_list .time_sale_child .time_sale_img .time_status.progress i {
    width: 12px;
    height: 12px;
    background: url("/images/time_sale/time_progress_ico.png") no-repeat center/cover;
    background-size: 12px 12px;
}

.time_sale_list .time_sale_child .time_sale_img .time_status.expired span {
    color: #cccccc;
}

.time_sale_list .time_sale_child .time_sale_img .time_status.progress span {
    color: #009e0f;
}

.time_sale_list .time_sale_child .time_sale_img .time_status.live span {
    color: #cf2a27;
}

.time_sale_list .time_sale_child .time_sale_img img {
    width: 100%;
    height: 100%;
}

.time_sale_list .time_sale_child .ttl {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    color: #252525;
    margin-top: 30px;
    font-family: "Pretendard";
}

.time_sale_list .time_sale_child .tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;
}

.time_sale_list .time_sale_child .tools .date {
    opacity: 0.6;
    font-size: 16px;
    text-transform: uppercase;
    color: #252525;
    font-family: "Pretendard";
}

.time_sale_list .tools {
    margin-top: 20px;
}

.tools_list {
    display: flex;
    gap: 15px;
    align-items: center;
}

.tools_list .tools_el {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tools_list .tools_el span {
    opacity: 0.600;
    font-size: 16px;
    color: #252525;
    font-family: "Pretendard";
}

.tools_list .tools_el.like i {
    width: 20px;
    height: 20px;
    background: url("/images/time_sale/ico_like.png") no-repeat center/cover;
    background-size: 20px 20px;
}

.tools_list .tools_el.like.active i {
    background: url("/images/ico/ico_like_active.png") no-repeat center/cover;
}

.tools_list .tools_el.view i {
    width: 31px;
    height: 19px;
    background: url("/images/time_sale/ico_eye.png") no-repeat center/cover;
    background-size: 31px 19px;
}

.tools_list .tools_el.comment i {
    width: 20px;
    height: 20px;
    background: url("/images/time_sale/ico_mess.png") no-repeat center/cover;
    background-size: 20px 20px;
}

.comment_content .status .expired {
    color: #757575;
}

.comment_content .status .live {
    color: #cf2a27;
}

.comment_content .status .progress {
    color: #009e0f;
}

@media screen and (max-width: 850px) {
    .magazines_page_ .magazines_area_ .magazines_list_ .magazines_list__item_ {
        height: auto;
        margin-bottom: 2rem;
        width: 100%;
    }

    .magazines_page_ .magazines_area_ .magazines_list_ .magazines_list__item_image_ {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .magazines_page_ .magazines_area_ .magazines_list_ .magazines_list__top_right_ .select_sort_ {
        width: 16rem;
        height: 7rem;
        border-radius: 6px;
        background-color: #ffffff;
        border: 1px solid #dbdbdb;
        padding-left: 18px;
    }

    .magazines_page_ .magazines_area_ .magazines_list_ .magazines_list__top_right_ .input_search_ {
        width: 35rem;
        height: 7rem;
        border-radius: 6px;
        background-color: #ffffff;
        border: 1px solid #dbdbdb;
        padding-right: 40px;
    }

    .magazines_page_ .magazines_area_ .magazines_list_ .magazines_list__top_ {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .magazines_page_ .magazines_area_ .magazines_list_ .magazines_list__top_left_ .total_ {
        font-size: 2.7rem;
    }

    .magazines_page_ .magazines_area_ .magazines_list_ .magazines_list__item_title_ {
        font-size: 3.4rem;
        letter-spacing: -1px;
        margin-top: 3rem;
    }

    .magazines_page_ .magazines_area_ .magazines_list_ .magazines_list__item_desc_ {
        opacity: 0.600;
        font-size: 2.6rem;
        letter-spacing: -0.1rem;
        text-transform: uppercase;
        color: #252525;
        font-family: "Pretendard";
        display: flex;
        gap: 0.6rem;
        margin-top: 1rem;
    }

    .magazines_page_ .magazines_area_ .magazines_list_ .magazines_list__item_author_ {
        margin-top: 2rem;
        font-size: 2.6rem;
        letter-spacing: -0.1rem;
        color: #454545;
        font-weight: 500;
        font-family: "Pretendard";
    }

    .magazines_page_ .magazines_area_ .magazines_list_ .magazines_list__content_ {
        display: flex;
        align-items: start;
        justify-content: start;
        flex-wrap: wrap;
        gap: 3rem;
        margin-bottom: 2rem;
        margin-top: 3rem;
    }

    .magazines_page_ .magazines_area_ .magazines_list_ .pagination {
        margin: 6rem 0 0 0;
    }

    .magazines_page_ .magazines_area_ .magazines_list_ .page-link:has(img) {
        padding: 1.8rem 2rem;
        height: 5.5rem;
    }

    .magazines_page_ .magazines_area_ .magazines_list_ .page-link {
        margin: 0 0.5rem;
        border-radius: 0.5rem;
    }
}