@font-face {
  font-family: "ONEMobileTitle";
  src: url("/fonts/ONEMobileTitle-regular.ttf");
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Regular.woff") format('woff');
  font-weight: 400;
  font-size: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Medium.woff") format('woff');
  font-weight: 500;
  font-size: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Semibold.woff") format('woff');
  font-weight: 600;
  font-size: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Bold.woff") format('woff');
  font-weight: 700;
  font-size: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-ExtraBold.woff") format('woff');
  font-weight: 800;
  font-size: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Black.woff") format('woff');
  font-weight: 900;
  font-size: normal;
}

@font-face {
  font-family: "Noto Sans CJK KR";
  font-weight: 400;
  src: url(/fonts/NotoSansCJKkr-Regular.otf);
  src: local("notocjkkr-regular"), url(/fonts/NotoSansCJKkr-Regular.otf) format("woff"), url(/fonts/notokr-regular.eot?#iefix) format("embedded-opentype"), url(/fonts/notokr-regular.woff) format("woff"), url(/fonts/notokr-regular.woff2) format("woff2"), url(/fonts/notokr-regular.ttf) format("truetype");
}

@font-face {
  font-family: "Noto Sans CJK KR";
  font-weight: 500;
  src: url(/fonts/NotoSansCJKkr-Medium.otf);
  src: local("notocjkkr-medium"), url(/fonts/NotoSansCJKkr-Medium.otf) format("woff"), url(/fonts/notokr-medium.eot?#iefix) format("embedded-opentype"), url(/fonts/notokr-medium.woff) format("woff"), url(/fonts/notokr-medium.woff2) format("woff2"), url(/fonts/notokr-medium.ttf) format("truetype");
}

@font-face {
  font-family: "Noto Sans CJK KR";
  font-weight: 700;
  src: url(/fonts/NotoSansCJKkr-Bold.otf);
  src: local("notocjkkr-bold"), url(/fonts/NotoSansCJKkr-Medium.otf) format("woff"), url(/fonts/notokr-bold.eot?#iefix) format("embedded-opentype"), url(/fonts/notokr-bold.woff) format("woff"), url(/fonts/notokr-bold.woff2) format("woff2"), url(/fonts/notokr-bold.ttf) format("truetype");
}