._wrap-info-payment {
    display: flex;
    gap: 24px;
    /*margin-bottom: 220px;*/
    margin-top: 40px;
}

div , p , ul, li, span {
    line-height: 1.3 !important;
}

._wrap-info-payment ._wrap-info {
    width: 820px
}

._wrap-info-payment ._wrap-payment {
    flex: 1;
}

.vertical-line {
    width: 2px;
    background-color: #f0f0f0;
}

/* .calendar {
    height: unset;
    padding: 0;
    width: calc(100% - 350px);
    padding-right: 30px;
    border-right: 1px solid #eeeeee;
} */

/* .calendar-con {
    display: flex;
    align-items: flex-start;
} */

.mt-20 {
    margin-top: 20px !important;
}

.deadline_date {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #fff;
    padding-inline: 5px;
}

.calendar .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.calendar .header p {
    font-weight: 600;
    font-size: 20px;
    font-family: "Pretendard";
    color: #252525;
    padding: 0 16px;
}

.calendar .canl_tabel {
    border: 1px solid #aaa;
}

.calendar .canl_tabel .heading {
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
}

.calendar .canl_tabel .heading p {
    flex: 1;
    text-align: center;
}

.calendar .canl_tabel .body {
    display: flex;
    flex-wrap: wrap;
}

.calendar .canl_tabel .body .day {
    position: relative;
    width: 116.8px;
    height: 100px;
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
    cursor: pointer;
    display: inline-block;
}

.calendar .canl_tabel .body .day:nth-child(7n) {
    border-right: none;
}

.calendar .canl_tabel .body .day.on {
    background-color: rgba(131, 164, 240, 0.1);
}

.calendar .canl_tabel .body .day.active {
    background-color: #cd151b !important;
}

.calendar .canl_tabel .body .day.active span,
.calendar .canl_tabel .body .day.active p {
    color: #fff !important;
}

.calendar .canl_tabel .body .day .weekend {
    color: #e5001c;
}

.calendar .canl_tabel .body .day span.label span.label {
    position: absolute;
    top: 50px;
    right: 20px;
    font-size: 14px !important;
    font-weight: 400;
    font-family: "Pretendard";
    color: white !important;
    padding: 0.38rem 0.9308rem;
}

.calendar .date_number {
    color: black !important;
    position: absolute;
    top: 20px;
    right: 20px;
}

.calendar .day.deadline {
    cursor: unset !important;
    background-color: rgb(237, 237, 237);
}

.calendar .day.deadline:hover {
    cursor: unset !important;
    background-color: unset !important;
}

.calendar .day.current-day {
    background-color: rgb(242, 246, 253);
}

.calendar .week .day:hover {
    background-color: #FFCB08;
}

.calendar span {
    font-size: unset;
    font-weight: unset;
}

.calendar .canl_tabel .body .day p {
    position: absolute;
    top: 42px;
    right: 20px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Pretendard";
    color: #656565;
}

.calendar .note {
    margin-top: 21px;
    color: #e5001c;
    font-family: "Pretendard";
    font-size: 16px;
    font-weight: 500;
}

.calendar .note span {
    color: #757575;
}

.calendar .week {
    display: flex;
}

.calendar .canl_tabel .body .day span.price {
    color: black;
    margin-top: 20px;

}


.spa-detail .allow-text {
    background-color: var(--bs-point);
    color: white;
    padding: 4px 6px;
    font-size: 12px;
    border-radius: 5px;
}

.spa-detail .sold-out-text {
    background-color: #8C8C8C;
    color: white;
    padding: 4px 6px;
    font-size: 12px;
    border-radius: 5px;
}

.spa-detail .accept-text {
    background-color: #6ABB2E;
    color: white;
    padding: 4px 6px;
    font-size: 12px;
    border-radius: 5px;
}

.spa-detail .wait-text {
    background-color: #B74FFE;
    color: white;
    padding: 4px 6px;
    font-size: 12px;
    border-radius: 5px;
}

.spa-detail .label-container,
.order-travel-page .label-container {
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
}


.order-travel-page .label-container {
    row-gap: 20px;
}

.order-travel-page .label-item {
    align-items: start;
}

.spa-detail .label-item,
.order-travel-page .label-item {
    width: 350px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.spa-detail .label,
.order-travel-page .label {
    display: inline-block;
    padding: 7px 10px;
    border-radius: 5px;
}

.spa-detail .label-text,
.order-travel-page .label-text {
    line-height: 1.2rem;
}

.spa-detail .label {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.spa-detail .price-right-c .label {
    font-size: 18px;
    padding: 0;
}

.spa-detail .price-right-c .label.item_label {
    font-size: 22px;
}

.spa-detail .cus-count-input {
    display: flex;
    align-items: center;
    gap: 50px;
}

.spa-detail .opt_select_wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.spa-detail .cus-label-r {
    padding: 8px 12px;
    border: 1px solid rgb(238, 238, 238);
    margin-bottom: 30px;
    margin-top: 20px;
    display: inline-block;
}

.spa-detail .item-info-check-first.click {
    background-color: #686868;
    margin-bottom: 16px;
    color: #fff;
}

.spa-detail .item-info-check-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 14px;
    border-radius: 6px;
    background-color: #f3f3f3;
    margin-bottom: 20px;
}

.spa-detail .item-info-check-first img {
    width: 25px;
    height: 17px;
}

.spa-detail .item-info-check img {
    width: 25px;
    height: 17px;
}

.spa-detail .item-info-check {
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    padding: 16px 14px;
    margin: 0 !important;
    font-size: 15px;
}

.spa-detail .item_check_term_all_,
.spa-detail .item_check_term_ {
    background: url(/uploads/icons/form_check_icon.png) no-repeat right 50% #fff;
    background-size: 23px 15px;
}

.spa-detail .item_check_term_all_.checked_,
.spa-detail .item_check_term_.checked_ {
    background: url(/images/ico/check_2.png) no-repeat right 50% #fff;
    background-size: 23px 15px;
}

.spa-detail .item_check_term_all_ label,
.spa-detail .item_check_term_ label {
    font-size: 16px;
    /*width: 90%;*/
    line-height: 1.3;
}

/*.spa-detail .item_check_term_:after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    width: 25px;*/
/*    height: 17px;*/
/*    top: 0;*/
/*}*/

.spa-detail .item-info-check:hover {
    background-color: #f3f3f3;
    cursor: pointer;
}

.spa-detail .below-sub-des {
    font-size: 15px;
}

.spa-detail .price-right-c .title-r {
    margin-top: 20px;
}

.content-sub-hotel-detail .section6 .list-label-tag {
    display: flex;
    gap: 80px;
    margin-top: 32px;
    flex-wrap: wrap;
}

.price-right-c .view_nav {
    padding-left: 0;
}

.view_nav .total_paymemt .money {
    display: flex;
    justify-content: space-between;
}

.view_nav .total_paymemt .money span,
.view_nav .total_paymemt .money strong {
    font-size: 18px;
    color: #252525
}

.view_nav .total_paymemt {
    background: #fff;
    padding: 0;
    border-radius: 0;
    padding-top: 20px;
    border-top: 1px dotted #dbdbdb;
    margin-top: 20px;
}

.view_nav .scroll_box {
    max-height: calc(100vh - 340px);
    overflow: unset;
    padding-right: 0px;
}

.view_nav .nav_btn_wrap .btn-point {
    box-shadow: none;
}

.content-sub-hotel-detail .section2 .tag_list_done {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 20px;
    width: 100%;
    font-weight: bold;
}

.content-sub-hotel-detail .section2 .tag_list_done .item_done {
    display: flex;
    align-items: center;
    gap: 6px;
    min-width: unset;
    width: 20%;
}

.section2 .price-table {
    width: 100%;
    border-collapse: collapse;
}

.section2 .price-table thead th {
    background-color: #f5f5f5;
    font-weight: bold;
    text-align: center;
    padding: 15px 10px;
    border: 1px solid #ccc;
    border-top: 2px solid #000;
}

.section2 .price-table tbody td {
    padding: 15px 10px;
    text-align: center;
    color: #666666;
    border: 1px solid #ccc;
}

.section2 .price-table-container .title-container {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
}

.section2 .con-label-cjt {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    gap: 3px;
}

.section2 .custom-label-cjt.extend {
    transform: translateY(40%);
}

.section2 .box3_2 .note {
    line-height: 1.5rem;
}

.section2 .price_in {
    width: 65px;
}

.section2 .box3_2 .note p:not(:first-child) {
    display: flex;
    align-items: center;
    gap: 4px;
}

.section6 .qa-section h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.content-sub-hotel-detail .section6 .title-sec6 {
    font-size: 24px;
}

.section6 .qa-form {
    display: flex;
    margin-bottom: 20px;
}

.section6 .qa-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.section6 .qa-submit {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.section6 .qa-list {
    list-style-type: none;
    padding: 0;
}

.section6 .qa-list {
    border-top: 1px solid #ddd;
}

/* .section6 .qa-item {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    gap: 30px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
} */

.section6 .qa-meta {
    font-size: 15px;
    text-wrap: nowrap;
}

.section6 .qa-question {
    display: flex;
    align-items: center;
}

.section6 .qa-number {
    margin: 0 28px;
    font-size: 17px;
}

.section6 .qa-tag {
    background-color: var(--bs-point);
    color: white;
    padding: 10px 16px 8px 16px;
    border-radius: 99px;
    font-size: 15px;
    margin-right: 10px;
    width: 93px;
}

.section6 .qa-tag.normal-style {
    background-color: white;
    color: var(--bs-point);
    padding: 10px 16px 8px 16px;
    border-radius: 99px;
    border: 1px solid var(--bs-point);
    font-size: 15px;
    margin-right: 10px;
    width: 93px;
}

.btn_orderIt {
    background-color: var(--bs-point);
    color: white;
    padding: 10px 16px 8px 16px;
    border-radius: 99px;
    font-size: 15px;
    margin-right: 10px;
    width: 93px;
    cursor: pointer;
}

.section4_map {
    width: 800px;
    height: 500px;
}
.customer-form-page .con-form .form-group .mo-cus-in-3 {
    width: 120px;
}

.customer-form-page .con-form .form-group select {
    width: 130px;
}

.customer-form-page .con-form.group-phone {
    justify-content: flex-start;
    gap: 20px;
}

.customer-form-page .form-group-cus-4input {
    margin-bottom: 0;
}

.customer-form-page .form-group-cus-4input input:nth-child(1) {
    width: 84px;
}

.customer-form-page .form-group.group-payment {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.customer-form-page .form-group.group-payment .payment-item {
    flex: 1;
}

.customer-form-page .form-group.group-payment .payment-input-wrap {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.customer-form-page .form-group-radio {
    margin-bottom: 20px;
}

.card-right2 .select-wrap {
    padding-bottom: 30px;
    border-bottom: 1px dotted #dbdbdb;
    margin-bottom: 30px;
}

.card-right2 select {
    margin-bottom: 10px;
}

.customer-form-page .container-card .btn-cancel {
    font-size: 22px;
    background-color: #fff;
    color: #2a459f;
    border-radius: 5px;
    padding: 12px 50px;
    width: 100%;
    margin-top: 25px;
    font-weight: bold;
    height: 66px;
    border: 1px solid currentColor;
}

.customer-form-page .container-card .card-left .more {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.customer-form-page .container-card .card-left .more p {
    color: #004ce7;
    font-weight: 500;
}

.customer-form-page .container-card .card-right2 {
    margin-bottom: 190px;
    height: auto;
}

.customer-form-page .container-card .card-right2 .schedule {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 22px;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
}

.card-right2 .schedule .wrap-text span {
    color: #ccc;
    font-size: 16px;

}

.card-right2 .schedule .wrap-text p {
    color: #252525;
    font-size: 16px;
    margin-top: 10px;
}


.card-right2 .schedule .wrap-btn {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.card-right2 .schedule .wrap-btn img {
    width: 32px;
}
.card_left_bottom_ {
    margin-bottom: 190px;
}

.form_booking_spa_ .button-action-con {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
}

.form_booking_spa_ .conn-icon {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-weight: 600;
}

.form_booking_spa_ .conn-icon span {
    color: #004ce7;
}

.form_booking_spa_ .con-form {
    flex-wrap: wrap;
}

.form_booking_spa_ .parent-form-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form_booking_spa_ #remove-item {
    display: none;
}

.form_booking_spa_ .w-375 {
    width: 375px;
}

@media screen and (max-width: 850px) {
    .content-sub-hotel-detail .hotel-image-container .grid_2_2>img {
        width: 49.2% !important;

    }

    ._wrap-info-payment ._wrap-info {
        width: 100%;
    }

    .calendar .week {
        display: flex;
        width: 100%;

    }

    .calendar .canl_tabel .body .day {
        position: relative;
        height: 9.8462rem;
        width: 100%;
        border-top: 1px solid #aaa;
        border-right: 1px solid #aaa;
        cursor: pointer;
        display: inline-block;

    }

    .calendar .date_number {
        color: black !important;
        position: absolute;
        top: 1.3846rem;
        right: 1.5769rem;
        font-size: 2.8rem;
    }

    .section4_map {
        width: 100%;
        height: 60vh;
    }

    .section2 {
        overflow: auto;
    }

    .allow-text,
    .sold-out-text {
        /* display: none !important; */
    }

    .label-container {
        flex-direction: column;
        margin-bottom: 1.538rem !important;
    }

    .section2 .price-table {
        table-layout: fixed;
    }

    .section2 .price_in {
        width: 10vw;
        height: 6vw;
    }

    .price_sl_ {
        flex-direction: column;
        gap: 10px;
    }

    .price_sl_ p {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
    }

    .tours-detail .section9 .select-time-c {
        width: 100%;
        height: 8rem;
    }

    .customer-form-page .con-form .form-group .mo-cus-in-3 {
        width: 18rem;
    }

    .customer-form-page .form-group-cus-4input input:nth-child(1) {
        width: 16rem;
    }

    .customer-form-page .form-group-cus-4input input:nth-child(1) {
        width: 17.5rem;
    }

    .customer-form-page .con-form .form-group select {
        width: 25rem;
    }


    .customer-form-page .cus-select-group input,
    .customer-form-page .cus-select-group select {
        width: 0;
        flex: 1;
    }

    .form-group.group-payment .payment-item {
        width: 100%;

    }

    .form-group.group-payment .payment-item input {
        flex: 1;
        width: 0;
    }

    .card-right2 .select-wrap select {
        width: 100%;
    }

    .customer-form-page .container-card .btn-cancel {
        font-size: 3.2rem;
        border-radius: 0.6rem;
        padding: 1.2rem 5rem;
        width: 100%;
        font-weight: bold;
        height: 10rem;
    }

    .mb-40 {
        margin-bottom: 2.5385rem;
    }

    .card-right2 .select-wrap {
        padding-bottom: 1.5385rem;
        border-bottom: 1px dotted #dbdbdb;
        margin-bottom: 2.5385rem;
    }

    .customer-form-page .container-card .card-right2 {
        margin-bottom: 7.3077rem;
    }

    .main-section {
        margin-bottom: 14.6923rem;
    }

    .calendar .header p {
        font-size: 3rem;
        padding: 0 1.6rem;
    }

    .spa-detail .label-item, .order-travel-page .label-item {
        width: 100%;
        gap: 1rem;
    }

    .spa-detail .allow-text {
        background-color: var(--bs-point);
        color: white;
        padding: 0.4rem 0.6rem;
        font-size: 2rem;
        border-radius: 0.5rem;
    }

    .spa-detail .sold-out-text {
        background-color: #8C8C8C;
        color: white;
        padding: 0.4rem 0.6rem;
        font-size: 2rem;
        border-radius: 0.5rem;
    }

    .spa-detail .label-text, .order-travel-page .label-text {
        line-height: 1.2rem;
        font-size: 2.2rem;
    }

    ._wrap-info-payment {
        display: flex;
        row-gap: 24px;
        margin-bottom: 130px;
        margin-top: 40px;
        flex-direction: column;
    }

    ._wrap-info-payment ._wrap-payment {
        flex: 1;
        padding-top: 6rem;
        padding-bottom: 34rem;
        border-top: 2px solid #dbdbdb;
    }

    .custom-golf-detail .pagination {
        margin: 8rem 0 0rem 0 !important;
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .calendar .canl_tabel .body .day span.label span.label {
        position: absolute;
        top: 5.7rem;
        right: 1rem;
        font-size: 1.7rem !important;
        font-weight: 400;
        font-family: "Pretendard";
        color: white !important;
        display: block !important;
    }

    /* .spa-detail .sold-out-text {
        background-color: #8C8C8C;
        color: white;
        padding: 0.38rem 0.9308rem;
        font-size: 0.4615rem;
        border-radius: 0.8rem;
    } */
    .content-sub-hotel-detail .section3 {
        margin-top: 0rem;
    }

    .view_nav .nav_btn_wrap button {
        display: block;
        width: 100%;
        border: 1px solid;
        font-size: 2.6rem;
        font-weight: 500;
        line-height: 9rem;
        border-radius: 0.4rem;
        color: var(--bs-point);
        border-color: var(--bs-point) !important;
    }
}