.img_box_9 {
  padding-top: calc(420% / 660 * 100);
}
.img_box_10 {
  padding-top: calc(284% / 386 * 100);
}
.img_box_11 {
  padding-top: calc(150% / 1200 * 100);
}
.img_box_12 {
  padding-top: calc(284% / 386 * 100);
}
.img_box_13 {
  padding-top: calc(180% / 590 * 100);
}
.ttl {
  font-size: 28px;
  font-family: "Pretendard";
  color: #252525;
  font-weight: bold;
  line-height: 0.929;
}
.sub_top_visual {
  background: linear-gradient(to top, #fff, #fff 66px, #f9f8d2 66px, #f9f8d2);
}
.sub_tour {
  display: flex;
  padding: 50px 35px 0;
}
.sub_tour_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sub_tour_left__top {
  position: relative;
  display: inline-block;
}
.sub_tour_left__top__text {
  font-size: 16px;
  font-family: "Pretendard";
  color: rgb(255, 255, 255);
  line-height: 1;
  position: absolute;
  right: 10px;
  top: 7px;
}
.sub_tour_left__ttl {
  font-size: 36px;
  font-family: "NanumSquare";
  color: rgb(37, 37, 37);
  font-weight: 800;
  line-height: 1.389;
  margin-top: 25px;
}
.sub_tour__left__more {
  margin-top: 30px;
  font-size: 18px;
  font-family: "Pretendard";
  font-weight: 500;
  color: #353535;
  line-height: 1.444;
}
.sub_tour__left__bottom {
  margin: auto 0 0 0;
  display: flex;
  align-items: center;
  gap: 19px;
  padding: 30px 0 20px;
}
.sub_tour__slide__scroll {
  width: 270px;
  height: 2px;
  background-color: #dbdbdb;
}
.sub_tour__slide__paging {
  display: flex;
  align-items: center;
  gap: 9px;
}
.sub_tour__slide__paging__divider {
  background-color: rgb(219, 219, 219);
  width: 1px;
  height: 12px;
}
.sub_tour_right {
}
.sub_swiper1 {
  width: 660px;
}
.sub_tour_section2 {
  padding: 100px 0 0 0;
}
.sub_swiper2 .img_box {
  border-radius: 16px;
}
.sub_swiper2__text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 18px;
  font-family: "Pretendard";
  color: rgb(255, 255, 255);
}
.swiper-button-sub-2 {
  border-style: solid;
  border-width: 1px;
  border-color: #dbdbdb;
  border-radius: 6px;
  background-color: #ffffffcc;
  width: 44px;
  height: 44px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-sub-2.swiper-button-lock {
  display: none;
}
.swiper-button-prev-sub-2 {
  left: -22px;
}
.swiper-button-next-sub-2 {
  right: -22px;
}
.sub_swiper2_pagination {
  padding: 30px 0 0 0;
  display: flex;
  justify-content: center;
}
.sub_swiper2_pagination .swiper-pagination-bullet-active {
  background-color: #39b9aa;
}
/* sub_section3 */

.sub_section3 {
  padding: 0;
}
.sub_section3__head {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 140px 0 0 0;
}
.sub_section3__head__ttl {
  font-size: 28px;
  font-family: "Pretendard";
  color: #252525;
  font-weight: bold;
}
.sub_section3_swiper {
  padding: 30px 0 0 0 !important;
}
.prd_name {
  margin-top: 25px;
}
.prd_price_ko {
  margin-top: 14px;
}
.sub_section3_swiper_pagination {
  padding: 20px 0 0 0;
  display: flex;
  justify-content: center;
}
.sub_section3_swiper_pagination .swiper-pagination-bullet-active {
  background-color: #39b9aa;
}

/* sub_tour_section4 */
.sub_tour_section4 {
  padding: 50px 0 0 0;
}
.sub_tour_section4_banner {
  position: relative;
}
.sub_tour_section4_banner__des {
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.ico_block {

}
.ico_block img {
  height: 100%;
  width: auto;
  max-width: unset;
}
.ico_block:last-child {
  transform: scale(-1);
}
.sub_tour_section4_banner__des__text {
  font-family: "Pretendard";
}
.sub_tour_section4_banner__des__ttl {
    font-size: 26px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.sub_tour_section4_banner__des__bottom {
    font-size: 18px;
    color: #ffffffcc;
    margin-top: 10px;
}
/* sub_tour_section5 */
.sub_tour_section5 {
  padding: 100px 0 0 0;
}
.sub_tour_section5__head {
}
.sub_tour_section5__head_ttl {
  font-size: 28px;
  font-family: "Pretendard";
  color: #252525;
  font-weight: bold;
  line-height: 0.929;
}
.sub_tour_section5__head__tabs1 {
}
.tour__head__tabs1__tabs {
  border-radius: 6px;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.tour__head__tabs1__line {
  background-color: #dbdbdb;
  width: 1px;
  height: 20px;
}
.tour__head__tabs1__tab {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999999;
  height: 50px;
}
.tour__head__tabs1__tab.active {
  color: #fff;
  background-color: #39b9aa;
  box-shadow: 0px 16px 13px 0px #39b9aa2e;
  border-radius: 6px;
  position: relative;
}
.tour__head__tabs1__tab.active::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #39b9aa;
  border-radius: 6px;
  z-index: -1;
  bottom: -5px;
  transform: rotate(45deg);
}
.sub_tour_section5__head__tabs2 {
  margin-top: 39px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub_tour_section5__head__tabs2 select {
  border: none;
  color: #222222;
  width: unset;
}
.tour__head__tabs2__tabs {
  display: flex;
  align-items: center;
  gap: 10px;
}
.tour__head__tabs2__tab {
  border-width: 1px;
  border-color: #dbdbdb;
  border-style: solid;
  height: 34px;
  font-size: 16px;
  font-family: "Pretendard";
  color: #757575;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  min-width: 60px;
  padding: 0 18px;
}
.tour__head__tabs2__tab.active {
  border-color: #39b9aa;
  color: #39b9aa;
}
.sub_tour_section5__prd_list {
  margin-top: 29px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.sub_tour_section5_item {
  width: calc((100% - 60px) / 4);
}
/* prd_list_pagination */
.prd_list_pagination {
  display: flex;
  margin-top: 40px;
  margin-bottom: 80px;
}
.prd_list_pagination__btn {
  margin: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #dbdbdb;
  background-color: #ffffff;
  width: 282px;
  height: 64px;
  border-radius: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-family: "Pretendard";
  color: rgb(37, 37, 37);
  cursor: pointer;
}
.prd_list_pagination__btn__pages {
  color: #cccccc;
  font-weight: 500;
}
.prd_list_pagination__btn__current {
  color: #353535;
}
.prd_list_pagination__btn__total {
}

/* sub_tour_section6 */
.sub_tour_section6 {
  padding: 20px 0 0 0;
}
.sub_tour_section6__head {
}
.sub_tour_section6__head__tabs {
  margin-top: 30px;
  display: flex;
  position: relative;
  overflow: auto;
}
.sub_tour_section6__head__tabs::before,
.sub_tour_section6__head__tabs__tab::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 12;
}
.sub_tour_section6__head__tabs__tab::before {
  width: calc(100% + 15px);
}
.sub_tour_section6__head__tabs__tab {
  display: flex;
  height: 54px;
  padding: 0 35px;
  font-size: 18px;
  font-family: "Pretendard";
  color: #999999;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sub_tour_section6__head__tabs__tab:nth-child(1) {
  z-index: 10;
}
.sub_tour_section6__head__tabs__tab:nth-child(2) {
  z-index: 9;
}
.sub_tour_section6__head__tabs__tab:nth-child(3) {
  z-index: 8;
}
.sub_tour_section6__head__tabs__tab:nth-child(4) {
  z-index: 7;
}
.sub_tour_section6__head__tabs__tab:nth-child(5) {
  z-index: 6;
}
.sub_tour_section6__head__tabs__tab:nth-child(6) {
  z-index: 5;
}
.sub_tour_section6__head__tabs__tab:nth-child(7) {
  z-index: 4;
}
.sub_tour_section6__head__tabs__tab:nth-child(8) {
  z-index: 3;
}
.sub_tour_section6__head__tabs__tab:nth-child(9) {
  z-index: 2;
}
.sub_tour_section6__head__tabs__tab:nth-child(10) {
  z-index: 1;
}
.sub_tour_section6__head__tabs__tab::after {
  content: "";
  width: calc(100% + 15px);
  height: 100%;
  position: absolute;
  background: url(/images/sub/tab_bg_1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position-x: left;
  left: 0;
  z-index: -1;
}
.sub_tour_section6__head__tabs__tab.active {
  color: #252525;
  z-index: 12;
}
.sub_tour_section6__head__tabs__tab.active::after {
  background: url(/images/sub/tab_bg_1_active.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position-x: left;
}
.sub_tour_section6_product_list {
  display: flex;
  gap: 50px 20px;
  flex-wrap: wrap;
  margin-top: 29px;
}
.sub_tour_section6_item {
  width: calc((100% - 60px) / 4);
}

/* sub_tour_section7 */
.sub_tour_section7 {
  padding: 120px 0 0 0;
}
.sub_tour_section7__head {

}
.sub_tour_section7__head_ttl {

}
.sub_tour_section7_product_list {
  display: flex;
  gap: 50px 20px;
  flex-wrap: wrap;
  margin-top: 29px;
}
.sub_tour_section7_product_item {
  width: calc((100% - 40px) / 3);
  position: relative;
}
.ico_special_prd {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}
.sub_tour_section7_product_item__name {
  font-size: 24px;
  font-family: "Pretendard";
  color: rgb(37, 37, 37);
  font-weight: bold;
  margin-top: 25px;
}
.sub_tour_section7_product_item__keywords {
    font-size: 16px;
    font-family: "Pretendard";
    color: rgba(37, 37, 37, 0.6);
    line-height: 2;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

/* sub_tour_section8 */
.sub_tour_section8 {
  padding: 100px 0 0 0;
}
.sub_tour_section8__banners {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.sub_tour_section8__banner {
  width: calc((100% - 20px) / 2);
}

/* list-hotel css */

.sub-hotel-navigation-container {
  padding: 16px 0;
  border-bottom: 0.5px solid rgba(204, 204, 204, 0.3);
  display: flex;
}

.sub-hotel-navigation-container .navigation-container-prev {
  display: flex;
  gap: 12px;
  margin-right: 60px;
  align-items: center;
}

.sub-hotel-navigation-container .navigation-container-next {
  display: flex;
  gap: 8px;
}

.content-sub-product-hotel .sub-hotel-container {
  display: flex;
  gap: 32px;
}

.content-sub-product-hotel .sub-hotel-container .category-left{
  width: 270px;
}

.content-sub-product-hotel .title {
  font-size: 28px;
  padding: 32px 0 16px;
  border-bottom: 1px solid;
}

.content-sub-product-hotel .subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 16px;
  font-weight: 600;
}

.content-sub-product-hotel .tab_box_area_ .tab_box_element_ {
  border-radius: 30px;
  height: auto;
  padding: 4px 15px;
  border: 1px solid #dbdbdb;
  text-wrap: nowrap;
  font-size: 16px;
  letter-spacing: -1px;
  line-height: 26px;
  text-transform: uppercase;
  color: #757575;
  font-weight: 500;
  font-family: "Pretendard";
  text-align: center;
  cursor: pointer;
}

.content-sub-product-hotel .tab_box_area_ .tab_box_element_.tab_active_ {
  border: 1px solid #39b9aa;
  color: #39b9aa;
}

.content-sub-product-hotel .tab_box_show_ {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.content-sub-product-hotel .category-left-item {
  padding-bottom: 16px;
  border-bottom: 0.5px solid rgba(204, 204, 204, 0.3);
}

[slider] {
  position: relative;
  height: 14px;
  border-radius: 10px;
  text-align: left;
  margin: 20px 0 20px 0;
}

[slider] > div {
  position: absolute;
  left: 13px;
  right: 15px;
  height: 14px;
}

[slider] > div > [inverse-left] {
  position: absolute;
  left: 0;
  height: 14px;
  border-radius: 10px;
  background-color: #CCC;
  margin: 0 7px;
}

[slider] > div > [inverse-right] {
  position: absolute;
  right: 0;
  height: 14px;
  border-radius: 10px;
  background-color: #CCC;
  margin: 0 7px;
}

[slider] > div > [range] {
  position: absolute;
  left: 0;
  height: 14px;
  border-radius: 14px;
  background-color: #326CF9;
}

[slider] > div > [thumb] {
  position: absolute;
  top: -7px;
  z-index: 2;
  height: 28px;
  width: 28px;
  text-align: left;
  margin-left: -11px;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  background-color: #FFF;
  border-radius: 50%;
  outline: none;
}

[slider] > input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 3;
  height: 14px;
  top: -2px;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

div[slider] > input[type=range]::-ms-track {
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

div[slider] > input[type=range]:focus {
  outline: none;
}

div[slider] > input[type=range]::-ms-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
  -webkit-appearance: none;
}

div[slider] > input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-tooltip {
  display: none;
}

[slider] > div > [sign] {
  opacity: 0;
  position: absolute;
  margin-left: -11px;
  top: -39px;
  z-index:3;
  background-color: #326CF9;
  color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

[slider] > div > [sign]:after {
  position: absolute;
  content: '';
  left: 0;
  border-radius: 16px;
  top: 19px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top-width: 16px;
  border-top-style: solid;
  border-top-color: #326CF9;
}

[slider] > div > [sign] > span {
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
}

[slider]:hover > div > [sign] {
  opacity: 1;
}

.date-container {
  display: flex;
  align-items: center;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  padding: 0 0 0 20px;
  max-width: 600px;
  font-weight: bold;
}

.label {
  font-weight: bold;
}

.date-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 20px;
}

.date-wrapper input {
  border: 0;
  width: 140px;
  padding: 0;
}

.date-wrapper input:hover {
  cursor: pointer;
}

.date {
  border: none;
  background: transparent;
  font-size: 1em;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.date::-webkit-inner-spin-button,
.date::-webkit-calendar-picker-indicator {
  display: none;
}

.suffix {
  margin-left: -24px;
}

.arrow {
  font-size: 24px;
  padding-bottom: 8px;
}

.content-sub-product-hotel .form_element_ {
  display: flex;
  gap: 8px;
  margin: 32px 0;
  width: 100%;
}

.content-sub-product-hotel .form_element_ button {
  background-color: #39b9aa;
  font-size: 16px;
  letter-spacing: -1px;
  line-height: 26px;
  text-transform: uppercase;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Pretendard";
  text-align: center;
  padding: 0 24px;
}

.content-sub-product-hotel .form_element_ .form_input_ {
  font-size: 16px;
  height: 52px;
  max-width: 100%;
  
}

.content-sub-product-hotel .form_element_ .form_input_ input {
  width: 360px;
  height: 100%;
  border-radius: 6px;
}

.content-sub-product-hotel .filter-container {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 0.5px solid rgba(204, 204, 204, 0.3);
}

.content-sub-product-hotel .filter-container div:first-child {
  display: flex;
}

.content-sub-product-hotel .filter-container .filter-content {
  margin-right: 20px;
  display: flex;
  font-weight: bold;
  align-items: center;
  gap: 4px;
}

.content-sub-product-hotel .list-tag {
  display: flex;
  gap: 6px;
}

.content-sub-product-hotel .list-tag .tag-item {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #F3F3F3;
  padding: 8px;
}

.content-sub-product-hotel .list-tag .tag-item img {
  padding-bottom: 2px;
}

.content-sub-product-hotel .filter-container button {
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 8px;
}

.content-sub-product-hotel .below-filter-content {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  padding-bottom: 20px;
  border-bottom: 0.5px solid rgba(204, 204, 204, 0.3);
}

.content-sub-product-hotel .below-filter-content .total_number {
  font-weight: bold;
}

.content-sub-product-hotel .below-filter-content .total_number p span {
  color: #39B9AA;
}

.content-sub-product-hotel .product-card-item-container {
  margin-top: 24px;
  display: flex;
  padding-bottom: 32px;
  border-bottom: 0.5px solid rgba(204, 204, 204, 0.3);
}

.content-sub-product-hotel .product-card-item-right {
  display: flex;
  flex-direction: column;
  width: 64.5%;
  margin-left: 32px;
}

.content-sub-product-hotel .product-card-item-right .title-container {
  display: flex;
  justify-content: space-between;
}

.content-sub-product-hotel .product-card-item-right .title-container h2 {
  font-size: 20px;
}

.content-sub-product-hotel .product-card-item-right .title-container .star-container {
  display: flex;
  gap: 16px;
}

.content-sub-product-hotel .product-card-item-right .star-container div:first-child {
  font-weight: bold;
}

.content-sub-product-hotel .product-card-item-right .star-content span {
  border-left: solid 1px #ccc;
  padding-left: 8px;
}

.content-sub-product-hotel .product-card-item-right .sub-title {
  margin-top: 16px;
  padding-bottom: 16px;
  border-bottom: 0.5px solid rgba(204, 204, 204, 0.3);
}

.content-sub-product-hotel .list-item-info .item-info {
  margin-top: 16px;
}

.content-sub-product-hotel .list-item-info .item-info h2 {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
}

.content-sub-product-hotel .list-item-info .item-info .tab_box_show_ {
  margin: 12px 0;
}

.content-sub-product-hotel .list-item-info .item-info .titem-info-label {
  font-weight: bold;
  padding: 20px;
  background-color: #F7F7F7;
}

.content-sub-product-hotel .list-item-info .item-info .titem-info-label span {
  color: #39B9AA;
}

.content-sub-product-hotel .list-item-info .item-info .item-price-info span.main {
  font-weight: bold;
  font-size: 26px;
}

.content-sub-product-hotel .list-item-info .item-info-label {
  padding: 20px;
  background-color: #F3F3F3;
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 18px;
}

.content-sub-product-hotel .list-item-info .item-info-label span {
  color: #39B9AA;
}

.content-sub-product-hotel .pagination {
  margin: 32px 0 128px 0 !important;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.content-sub-product-hotel .page-link {
  display: inline-block;
  padding: 10px 15px;
  margin: 0 5px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.content-sub-product-hotel .page-link:hover {
  background-color: #f0f0f0;
}

.content-sub-product-hotel .page-link.active {
  color: #39B9AA;
  border-color: #39B9AA;
}
