.date_hotel_list {
    position: absolute;
    top: 325px;
}

.date_hotel_detail {
    top: 930px;
}

.date_hotel_list .close {
    display: none;
}

.hotel_data_info {
    display: none;
}

@media screen and (max-width: 850px) {
    .daterangepicker {
        position: fixed;
        top: 0px !important;
        left: 0px !important;
        margin-top: 0px !important;
        height: calc(100% - 23rem);
        overflow-y: auto;
    }

    .daterangepicker .calendar-table td {
        max-width: 48px;
    }

    .date_hotel_list {
        position: fixed;
        top: 0;
        z-index: 999999;
    }

    .date_hotel_list .close {
        position: fixed;
        top: 1.7692rem;
        right: 1rem;
        width: 3.5385rem;
        height: 2.5385rem;
        background-size: 1.5385rem;
        background: url(/images/ico/close_icon_popup.png) no-repeat center;
        z-index: 999999;
    }

    .date_range_wrap {
        padding: 1rem 2rem;
    }

    .date_range_wrap .ttl_date {
        margin-bottom: 1rem;
    }

    .date_range_wrap .text-bold {
        font-weight: bold;
    }

    .daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
        font-size: 2.6rem;
        padding: 2rem;
    }

    .hotel_data_info {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 9999999;
        background-color: #fff;
        height: 23rem;
        box-shadow: 0 -0.3rem 0.6rem rgba(0, 0, 0, 0.16);
    }

    .btn_apply_wrap {
        padding: 0 2rem;
    }

    .hotel_data_info .btn_apply_ {
        border-radius: 0.6rem;
        background-color: #17469E;
        font-size: 2.2rem;
        line-height: 2.6rem;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: bold;
        font-family: "Pretendard";
        text-align: center;
        padding: 2.4rem;
        width: 100%;
        height: 7rem;
        margin-top: 2rem;
    }
}