.flex__s,
.flex__e,
.flex__c,
.flex_e_s,
.flex_e_e,
.flex_e_c,
.flex_e,
.flex_c_s,
.flex_c_e,
.flex_c_c,
.flex_c,
.flex_a_s,
.flex_a_e,
.flex_a_c,
.flex_a,
.flex_b_s,
.flex_b_e,
.flex_b_c,
.flex_b,
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    display: -ms-flexbox;
}

.flex_b_s,
.flex_b_e,
.flex_b_c,
.flex_b {
    justify-content: space-between;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
}

.flex_a_s,
.flex_a_e,
.flex_a_c,
.flex_a {
    justify-content: space-around;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
}

.flex_c_s,
.flex_c_e,
.flex_c_c,
.flex_c {
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

.flex_e_s,
.flex_e_e,
.flex_e_c,
.flex_e {
    justify-content: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
}

.flex__s,
.flex_e_s,
.flex_c_s,
.flex_a_s,
.flex_b_s {
    align-items: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
}

.flex__c,
.flex_e_c,
.flex_c_c,
.flex_a_c,
.flex_b_c {
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.flex__e,
.flex_e_e,
.flex_c_e,
.flex_a_e,
.flex_b_e {
    align-items: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
}

.tal {
    text-align: left !important;
}

.tar {
    text-align: right !important;
}

.tac {
    text-align: center !important;
}

.color_w {
    color: #fff !important;
}

.color_b1 {
    color: #252525 !important;
}

.color_b2 {
    color: #454545 !important;
}

.color_g1 {
    color: #757575 !important;
}

.color_g2 {
    color: #999999 !important;
}

.color_point {
    color: var(--bs-point) !important;
}

.color_point2 {
    color: var(--bs-point2) !important;
}

.flex_w {
    flex-wrap: wrap;
}

.dr-row {
    flex-direction: row;
}

.dr-col {
    flex-direction: column;
}

.dr-col-reverse {
    flex-direction: column-reverse;
}

.dr-row-reverse {
    flex-direction: row-reverse;
}

[class*="flex"].col_2 {
    flex-wrap: wrap;
    width: -webkit-calc(100% + (var(--mg-x) * 2));
    /* for Chrome, Safari */
    width: -moz-calc(100% + (var(--mg-x) * 2));
    /* for Firefox */
    width: calc(100% + var(--mg-x) * 2);
    /* for IE */
    margin-left: -webkit-calc(-1 * var(--mg-x));
    margin-left: -moz-calc(-1 * var(--mg-x));
    margin-left: calc(-1 * var(--mg-x));
    margin-top: -webkit-calc(-1 * var(--mg-t));
    margin-top: -moz-calc(-1 * var(--mg-t));
    margin-top: calc(-1 * var(--mg-t));
}

[class*="flex"].col_2 > * {
    width: -webkit-calc(50% - (var(--mg-x) * 2));
    width: -moz-calc(50% - (var(--mg-x) * 2));
    width: calc(50% - var(--mg-x) * 2);
    margin: var(--mg-t) var(--mg-x) 0;
}

.flex1 > * {
    flex: 1;
}

[class*="flex"].col_2 {
    flex-wrap: wrap;
    width: -webkit-calc(100% + (var(--mg-x) * 2));
    width: -moz-calc(100% + (var(--mg-x) * 2));
    width: calc(100% + var(--mg-x) * 2);
    margin-left: -webkit-calc(-1 * var(--mg-x));
    margin-left: -moz-calc(-1 * var(--mg-x));
    margin-left: calc(-1 * var(--mg-x));
}

[class*="flex"].col_2 > * {
    width: -webkit-calc(50% - (var(--mg-x) * 2));
    width: -moz-calc(50% - (var(--mg-x) * 2));
    width: calc(50% - var(--mg-x) * 2);
    margin: 0 var(--mg-x);
}

[class*="flex"].col_3 {
    flex-wrap: wrap;
    width: -webkit-calc(100% + (var(--mg-x) * 2));
    width: -moz-calc(100% + (var(--mg-x) * 2));
    width: calc(100% + var(--mg-x) * 2);
    margin-left: -webkit-calc(-1 * var(--mg-x));
    margin-left: -moz-calc(-1 * var(--mg-x));
    margin-left: calc(-1 * var(--mg-x));
    margin-top: -webkit-calc(-1 * var(--mg-t));
    margin-top: -moz-calc(-1 * var(--mg-t));
    margin-top: calc(-1 * var(--mg-t));
}

[class*="flex"].col_3 > * {
    width: -webkit-calc(33.333% - (var(--mg-x) * 2));
    width: -moz-calc(33.333% - (var(--mg-x) * 2));
    width: calc(33.333% - var(--mg-x) * 2);
    margin: var(--mg-t) var(--mg-x) 0;
}

[class*="flex"].col_4 {
    flex-wrap: wrap;
    width: -webkit-calc(100% + (var(--mg-x) * 2));
    width: -moz-calc(100% + (var(--mg-x) * 2));
    width: calc(100% + var(--mg-x) * 2);
    margin-left: -webkit-calc(-1 * var(--mg-x));
    margin-left: -moz-calc(-1 * var(--mg-x));
    margin-left: calc(-1 * var(--mg-x));
    margin-top: -webkit-calc(-1 * var(--mg-t));
    margin-top: -moz-calc(-1 * var(--mg-t));
    margin-top: calc(-1 * var(--mg-t));
}

[class*="flex"].col_4 > * {
    width: -webkit-calc(25% - (var(--mg-x) * 2));
    width: -moz-calc(25% - (var(--mg-x) * 2));
    width: calc(25% - var(--mg-x) * 2);
    margin: var(--mg-t) var(--mg-x) 0;
}

[class*="flex"].col_5 {
    flex-wrap: wrap;
    width: -webkit-calc(100% + (var(--mg-x) * 2));
    width: -moz-calc(100% + (var(--mg-x) * 2));
    width: calc(100% + var(--mg-x) * 2);
    margin-left: -webkit-calc(-1 * var(--mg-x));
    margin-left: -moz-calc(-1 * var(--mg-x));
    margin-left: calc(-1 * var(--mg-x));
    margin-top: -webkit-calc(-1 * var(--mg-t));
    margin-top: -moz-calc(-1 * var(--mg-t));
    margin-top: calc(-1 * var(--mg-t));
}

[class*="flex"].col_5 > * {
    width: -webkit-calc(20% - (var(--mg-x) * 2));
    width: -moz-calc(20% - (var(--mg-x) * 2));
    width: calc(20% - var(--mg-x) * 2);
    margin: var(--mg-t) var(--mg-x) 0;
}

[class*="flex"].col_6 {
    flex-wrap: wrap;
    width: -webkit-calc(100% + (var(--mg-x) * 2));
    width: -moz-calc(100% + (var(--mg-x) * 2));
    width: calc(100% + var(--mg-x) * 2);
    margin-left: -webkit-calc(-1 * var(--mg-x));
    margin-left: -moz-calc(-1 * var(--mg-x));
    margin-left: calc(-1 * var(--mg-x));
    margin-top: -webkit-calc(-1 * var(--mg-t));
    margin-top: -moz-calc(-1 * var(--mg-t));
    margin-top: calc(-1 * var(--mg-t));
}

[class*="flex"].col_6 > * {
    width: -webkit-calc(16.66% - (var(--mg-x) * 2));
    width: -moz-calc(16.66% - (var(--mg-x) * 2));
    width: calc(16.66% - var(--mg-x) * 2);
    margin: var(--mg-t) var(--mg-x) 0;
}

[class*="flex"].equal_sizes > * {
    width: 50%;
}

[class*="flex"].side_by_side > * {
    margin-top: 0;
}

[class*="flex"].side_by_side > * + * {
    margin-left: var(--mg-s);
}

[class*="flex"].half > * {
    width: -webkit-calc(50% - (var(--mg-s) / 2));
    width: -moz-calc(50% - (var(--mg-s) / 2));
    width: calc(50% - var(--mg-s) / 2);
}

[class*="flex"].half > * + * {
    margin-left: var(--mg-s);
}

.bg-gray {
    background-color: #f8f8f8 !important;
}

.bg-gray100 {
    background-color: #eeeeee !important;
}

.bg-gray100-lighten {
    background-color: rgba(238, 238, 238, 0.25) !important;
}

.bg-gray200 {
    background-color: #dbdbdb !important;
}

.bg-gray200-lighten {
    background-color: rgba(219, 219, 219, 0.25) !important;
}

.bg-gray300 {
    background-color: #fafafa !important;
}

.bg-gray300-lighten {
    background-color: rgba(187, 187, 187, 0.25) !important;
}

.bg-gray400 {
    background-color: #999999 !important;
}

.bg-gray400-lighten {
    background-color: rgba(153, 153, 153, 0.25) !important;
}

.bg-gray500 {
    background-color: #757575 !important;
}

.bg-gray500-lighten {
    background-color: rgba(117, 117, 117, 0.25) !important;
}

.bg-gray600 {
    background-color: #666666 !important;
}

.bg-gray600-lighten {
    background-color: rgba(102, 102, 102, 0.25) !important;
}

.bg-gray700 {
    background-color: #454545 !important;
}

.bg-gray700-lighten {
    background-color: rgba(69, 69, 69, 0.25) !important;
}

.bg-gray800 {
    background-color: #333333 !important;
}

.bg-gray800-lighten {
    background-color: rgba(51, 51, 51, 0.25) !important;
}

.bg-gray900 {
    background-color: #252525 !important;
}

.bg-gray900-lighten {
    background-color: rgba(37, 37, 37, 0.25) !important;
}

.bg-point {
    color: #fff;
    background-color: var(--bs-point) !important;
    border-color: var(--bs-point) !important;
}

.bg-point-lighten {
    background-color: var(--bs-point-lighten) !important;
}

.bg-point2 {
    color: #fff;
    background-color: var(--bs-point2) !important;
    border-color: var(--bs-point2) !important;
}

.bg-point2-lighten {
    background-color: var(--bs-bg-blue) !important;
    border-color: var(--bs-bg-blue) !important;
}

.bg-red {
    color: #fff;
    background-color: var(--bs-red) !important;
    border-color: var(--bs-red) !important;
}

.bg-red-lighten {
    background-color: rgba(255, 0, 0, 0.25) !important;
    border-color: rgba(255, 0, 0, 0.25) !important;
}

.bg-blue {
    background-color: var(--bs-blue) !important;
    border-color: var(--bs-blue) !important;
}

.bg-blue-lighten {
    background-color: rgba(170, 222, 255, 0.25) !important;
    border-color: rgba(170, 222, 255, 0.25) !important;
}

.bg-yellow {
    background-color: #ff0 !important;
    border-color: #ff0 !important;
}

.bg-yellow-lighten {
    background-color: rgba(255, 255, 0, 0.25) !important;
    border-color: rgba(255, 255, 0, 0.25) !important;
}

.bg-white {
    background-color: #fff !important;
    border-color: #fff !important;
}

.bg-white-lighten {
    background-color: rgba(255, 255, 255, 0.25) !important;
    border-color: rgba(255, 255, 255, 0.25) !important;
}

.bg-dark2 {
    background-color: #454545 !important;
    border-color: #454545 !important;
}

.bg-dark2-lighten {
    background-color: rgba(69, 69, 69, 0.25) !important;
    border-color: rgba(69, 69, 69, 0.25) !important;
}

.bg-dark {
    background-color: #252525 !important;
    border-color: #252525 !important;
}

.bg-dark-lighten {
    background-color: rgba(37, 37, 37, 0.25) !important;
    border-color: rgba(37, 37, 37, 0.25) !important;
}

.text-point {
    color: var(--bs-point) !important;
}

.text-deep-point {
    color: var(--bs-deep-point) !important;
}

.text-point2 {
    color: var(--bs-point2) !important;
}

.text-red {
    color: var(--bs-red) !important;
}

.text-blue {
    color: var(--bs-blue) !important;
}

.text-yellow {
    color: #ff0 !important;
}

.text-white {
    color: #fff !important;
}

.text-dark2 {
    color: #454545 !important;
}

.text-dark {
    color: #252525 !important;
}

.text-gray2 {
    color: #999 !important;
}

.text-gray {
    color: #757575 !important;
}

.ellipsis-1 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* 말줄임 적용 */
}

.ellipsis-2 {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.4545;
    max-height: 2.91em;
}

.d-inline-block {
    display: inline-block;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.d-inline-flex {
    display: inline-flex;
}

.border-none {
    border: none;
}

.border-top {
    border-top: 1px solid #dbdbdb;
}

.border-bottom {
    border-bottom: 1px solid #dbdbdb;
}

.w-10 {
    width: 10% !important;
}

.w-20 {
    width: 20% !important;
}

.w-30 {
    width: 30% !important;
}

.w-40 {
    width: 40% !important;
}

.w-50 {
    width: 50% !important;
}

.w-60 {
    width: 60% !important;
}

.w-70 {
    width: 70% !important;
}

.w-80 {
    width: 80% !important;
}

.w-90 {
    width: 90% !important;
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

.w-auto {
    width: auto !important;
}

.mx-w-unset {
    max-width: unset;
}

.mx-w-custom {
    max-width: var(--mx-w) !important;
}

.mb-30 {
    margin-bottom: 30px;
}

.only_web {
    display: block !important;
}

.only_mo {
    display: none !important;
}

.only_mo_flex {
    display: none !important;
}


.only_mo_inline {
    display: none !important;
}

.only_web_inline {
    display: inline-block !important;
}

.only_web_flex {
    display: flex !important;
}

small.web {
    display: inline-block !important;
}

small.mo {
    display: none !important;
}

small {
    width: 1px;
    height: 0.8em;
    display: inline-block;
    margin: -0.2em 0.5em 0 0.75em;
    vertical-align: middle;
}

.hidden {
    overflow: hidden;
}

.textarea_wrap {
    position: relative;
}

.placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 32px 34px;
}

.placeholder p {
    line-height: 1.5;
    color: #999;
}

.btn-default {
    color: #252525;
    border-color: #dbdbdb !important;
    background: #fff;
}

.btn-point {
    background-color: var(--bs-point) !important;
    border-color: var(--bs-point) !important;
    color: #fff !important;
}

.btn-primary {
    background-color: var(--bs-point2);
    border-color: var(--bs-point2);
    color: #fff !important;
}

.btn-secondary {
    background-color: var(--bs-point2);
    border-color: var(--bs-point2);
    color: #fff;
}

.btn-lemon {
    background-color: #e7f267;
    border-color: #e7f267;
    color: #fff;
}

.btn-purple {
    background-color: #54247d;
    border-color: #54247d;
    color: #fff;
}

.btn-tangerine {
    background-color: #ffb470;
    border-color: #ffb470;
    color: #fff;
}

.btn-orange {
    background-color: #fd7e14;
    border-color: #fd7e14;
    color: #fff;
}

.btn-darkBlue {
    background-color: #065f67;
    border-color: #065f67;
    color: #fff;
}

.btn-brown {
    background-color: #a56232;
    border-color: #a56232;
    color: #fff;
}

.btn-deepNight {
    background-color: #54247d;
    border-color: #54247d;
    color: #fff;
}

.btn-skyBlue {
    background-color: #a3dee2;
    border-color: #a3dee2;
    color: #fff;
}

.btn-blue {
    background-color: var(--bs-point);
    color: #fff;
}


.btn-darkGreen {
    background-color: #878d00;
    border-color: #878d00;
    color: #fff;
}

.btn-light {
    background-color: #f2f2f2;
    border-color: #f2f2f2 !important;
    color: #454545;
}

.btn-gray {
    background-color: #999999;
    border-color: #999999;
    color: #fff;
}

.btn-gray2 {
    background-color: #757575 !important;
    border-color: #757575 !important;
    color: #fff !important;
}

.btn-dark {
    background-color: #252525;
    border-color: #252525;
    color: #fff;
}

.btn-outline-point {
    color: var(--bs-point);
    border-color: var(--bs-point);
}

.btn-outline-primary {
    color: var(--bs-point2);
    border-color: var(--bs-point2);
}

.btn-outline-secondary {
    color: var(--bs-point2);
    border-color: var(--bs-point2);
}

.btn-outline-lemon {
    color: #e7f267;
    border-color: #e7f267;
}

.btn-outline-purple {
    color: #54247d;
    border-color: #54247d;
}

.btn-outline-tangerine {
    color: #ffb470;
    border-color: #ffb470;
}

.btn-outline-orange {
    color: #fd7e14;
    border-color: #fd7e14;
}

.btn-outline-darkBlue {
    color: #065f67;
    border-color: #065f67;
}

.btn-outline-brown {
    color: #a56232;
    border-color: #a56232;
}

.btn-outline-deepNight {
    color: #54247d;
    border-color: #54247d;
}

.btn-outline-skyBlue {
    color: #a3dee2;
    border-color: #a3dee2;
}

.btn-outline-darkGreen {
    color: #878d00;
    border-color: #878d00;
}

.btn-outline-light {
    color: #dbdbdb;
    border-color: #dbdbdb;
}

.btn-outline-gray {
    color: #999999;
    border-color: #999999;
}

.btn-outline-gray2 {
    color: #757575;
    border-color: #757575;
}

.btn-outline-dark {
    color: #252525 !important;
    border-color: #252525 !important;
}

.outline-point {
    border-color: var(--bs-point) !important;
}

.outline-primary {
    border-color: var(--bs-point) !important;
}

.outline-secondary {
    border-color: var(--bs-point2) !important;
}

.outline-lemon {
    border-color: #e7f267 !important;
}

.outline-purple {
    border-color: #54247d !important;
}

.outline-tangerine {
    border-color: #ffb470 !important;
}

.outline-orange {
    border-color: #fd7e14 !important;
}

.outline-darkBlue {
    border-color: #065f67 !important;
}

.outline-brown {
    border-color: #a56232 !important;
}

.outline-deepNight {
    border-color: #54247d !important;
}

.outline-skyBlue {
    border-color: #a3dee2 !important;
}

.outline-darkGreen {
    border-color: #878d00 !important;
}

.outline-light2 {
    border: 1px solid #eee !important;
}

.outline-light {
    border-color: #dbdbdb !important;
}

.outline-gray {
    border-color: #999999 !important;
}

.outline-gray2 {
    border-color: #757575 !important;
}

.outline-dark {
    border-color: #252525 !important;
}

/* 데이트피커 */
/* .ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
  display: none;
  position: relative;
  margin-top: 10px;
  background: #fff;
  border: solid 1px #dddddd;
  border-radius: 5px;
  z-index: 99999 !important;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
  table {
  background: #fff;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
  table
  thead
  tr
  th {
  width: 32px;
  line-height: 24px;
  height: 24px;
  text-align: center;
  padding-right: 5px;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
  table
  thead
  tr
  th
  span {
  font-size: 10.1px;
  font-weight: 300;
  color: #999999;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
  table
  tbody
  tr
  td {
  text-align: center;
  color: #666666;
  font-size: 12px;
  width: 35px;
  height: 35px;
  padding-right: 0px;
  background: #ffffff;
  margin: 1px;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
  table
  tbody
  tr
  td
  a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 33px;
  border-radius: 50%;
  font-weight: 300;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
  table
  tbody
  tr
  td
  a:hover {
  background-color: var(--bs-point);
  color: #fff;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
  table
  tbody
  tr
  td
  a.ui-state-default.ui-state-active {
  border: solid 1px var(--bs-point);
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
  table
  tbody
  tr
  td.ui-datepicker-unselectable.ui-state-disabled {
  background: #fff;
  color: #cecece;
}

.ui-datepicker-title {
  display: table;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.ui-datepicker-title span {
  text-align: center;
  color: #000000;
  font-size: 15px;
  font-weight: 500;
}
.ui-datepicker-title span.ui-datepicker-year {
  font-weight: 300;
}
.ui-datepicker-title select.ui-datepicker-year,
.ui-datepicker-title select.ui-datepicker-month {
  display: inline-block;
  border: 1px solid #dbdbdb;
  width: 32px;
  height: 20px;
  box-sizing: content-box;
}
.ui-datepicker-title select.ui-datepicker-month {
  margin-left: 10px;
}

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
  position: relative;
}
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all
  a.ui-datepicker-prev {
  text-indent: -9999px;
  position: absolute;
  background: url("../img/btn/calandar_left.png") no-repeat center;
  width: 16px;
  height: 18px;
  left: 10px;
  top: -2px;
  cursor: pointer;
}
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all
  a.ui-datepicker-next {
  text-indent: -9999px;
  position: absolute;
  background: url("../img/btn/calandar_right.png") no-repeat center;
  width: 16px;
  height: 18px;
  right: 10px;
  top: -2px;
  cursor: pointer;
} */


/* datepicker Style */
.ui-datepicker {
    width: 270px;
    padding: 0;
    display: none;
    border: 0;
    margin-top: 10px;
}

.ui-widget.ui-widget-content {
    border: 0;
    border-radius: 3px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    z-index: 99 !important;
}

.ui-datepicker .ui-widget-header {
    position: relative;
    padding: 15px 0 36px 0;
    border: 0;
    background: var(--bs-point);
    color: #fff;
    border-radius: 0;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 72px;
    height: 26px;
    line-height: 26px;
    background: rgba(0, 0, 0, 0.15) url(../img/btn/arrow-button.png) 100% -27px no-repeat;
    margin: 0 4px;
    padding: 0 6px;
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; /* 화살표 없애기 */
}

.ui-datepicker select.ui-datepicker-month:hover, .ui-datepicker select.ui-datepicker-year:hover {
    background: rgba(0, 0, 0, 0.3) url(../img/btn/arrow-button.png) 100% -27px no-repeat;
}

.ui-datepicker select::-ms-expand {
    display: none; /* 화살표 없애기 for IE10, 11*/
}

.ui-datepicker .ui-datepicker-title {
    line-height: 1.8em;
    text-align: center;
    margin: 0px 2.3em;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui-datepicker-title .ui-datepicker-year option, .ui-datepicker-title .ui-datepicker-month option {
    background: #fff;
    color: #333;
}

.ui-datepicker-title .ui-datepicker-year {
}

.ui-datepicker-title .ui-datepicker-month {
}

.ui-datepicker .ui-datepicker-calendar {
    position: relative;
    width: 260px;
    padding-top: 100px;
    margin: 0 auto;
}

.ui-datepicker-calendar thead tr {
    position: absolute;
    top: -24px;
    left: 5px;
    right: 5px;
}

.ui-datepicker-calendar thead th {
    float: left;
    display: block;
    padding: 0;
    width: 14.2857%;
    color: #fff;
    font-size: 11px;
    letter-spacing: 1px;
    opacity: 0.6
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 12px;
    width: 1.8em;
    height: 1.8em;
    text-indent: -9999px;
    cursor: pointer
}

.ui-datepicker .ui-datepicker-prev {
    left: 5px;
}

.ui-datepicker .ui-datepicker-prev.ui-state-hover {
    background: rgba(0, 0, 0, 0.1);
    border: 0;
}

.ui-datepicker .ui-datepicker-prev .ui-icon {
    background: url(../../images/ico/icon_prev_1.png) 0 0 no-repeat;
}

.ui-datepicker .ui-datepicker-next {
    right: 5px;
}

.ui-datepicker .ui-datepicker-next.ui-state-hover {
    background: rgba(0, 0, 0, 0.1);
    border: 0;
}

.ui-datepicker .ui-datepicker-next .ui-icon {
    background: url(../../images/ico/icon_next_1.png) 0 0 no-repeat;
}

.ui-datepicker .ui-state-default {
    display: block;
    border: 0;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 4px auto;
    font-size: 12px;
    text-align: center;
    background: #fff;
    font-weight: normal;
    color: #333;
    box-sizing: border-box;
}

.ui-datepicker .ui-state-default.ui-state-hover {
    background: rgba(0, 0, 0, 0.05);
}

.ui-datepicker-today .ui-state-default {
    color: var(--bs-point);
    font-weight: bold;
}

.ui-datepicker-current-day .ui-state-default {
    background: var(--bs-point) !important;
    color: #fff;
    font-weight: bold;
}

.ui-datepicker-buttonpane {
    overflow: hidden;
    border-top: 1px solid #eee;
}

.ui-datepicker-buttonpane button[data-handler="today"] {
    color: var(--bs-point);
    opacity: 0.75;
}

.ui-datepicker-buttonpane button[data-handler="hide"] {
}

/* ie add Style */
.ui-datepicker td, .ui-datepicker th {
    border: 0
}

.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    cursor: pointer;
    width: auto;
    margin: 0.5em 0.2em 0.4em;
    padding: 0.2em 0.6em 0.3em;
    overflow: visible;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}

.ui-corner-all {
    border-radius: 3px;
}

.ui-icon {
    display: block;
    width: 16px;
    height: 16px;
}

.datepick {
    position: relative;
}

.datepick .ui-datepicker-trigger {
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translateY(-50%);
}

/* mobile Responsive */
@media screen and (max-width: 480px) {
    .ui-datepicker {
        width: 270px !important;
        left: 50% !important;
        margin-left: -135px !important;
    }
}


@media screen and (max-width: 1500px) {

}

@media screen and (max-width: 850px) {
    .only_mo_flex {
        display: flex !important;
    }

    .ta_block_100 {
        display: block !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
        width: 100% !important;
    }

    .ta_block_100 > * {
        flex: unset;
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .ta_block_100 > *:nth-child(n + 2) {
        margin-top: var(--mo-mg-t);
    }

    small.web {
        display: none !important;
    }

    small.mo {
        display: inline-block !important;
    }

    .only_web {
        display: none !important;
    }

    .only_mo {
        display: block !important;
    }

    .only_mo_inline {
        display: inline-block !important;
    }

    .only_web_inline {
        display: none !important;
    }

    .only_web_flex {
        display: none !important;
    }

    [class*="flex"].mo_col_1 {
        width: 100%;
        margin-left: 0;
        margin-top: -webkit-calc(-1 * var(--mo-mg-t));
        margin-top: -moz-calc(-1 * var(--mo-mg-t));
        margin-top: calc(-1 * var(--mo-mg-t));
    }

    [class*="flex"].mo_col_1 > * {
        width: 100% !important;
        margin: var(--mo-mg-t) 0 0;
    }

    [class*="flex"].mo_col_2 {
        flex-wrap: wrap;
        width: -webkit-calc(100% + (var(--mo-mg-x) * 2));
        /* for Chrome, Safari */
        width: -moz-calc(100% + (var(--mo-mg-x) * 2));
        /* for Firefox */
        width: calc(100% + var(--mo-mg-x) * 2);
        /* for IE */
        margin-left: -webkit-calc(-1 * var(--mo-mg-x));
        margin-left: -moz-calc(-1 * var(--mo-mg-x));
        margin-left: calc(-1 * var(--mo-mg-x));
        margin-top: -webkit-calc(-1 * var(--mo-mg-t));
        margin-top: -moz-calc(-1 * var(--mo-mg-t));
        margin-top: calc(-1 * var(--mo-mg-t));
    }

    [class*="flex"].mo_col_2 > * {
        width: -webkit-calc(50% - (var(--mo-mg-x) * 2));
        width: -moz-calc(50% - (var(--mo-mg-x) * 2));
        width: calc(50% - var(--mo-mg-x) * 2);
        margin: var(--mo-mg-t) var(--mo-mg-x) 0;
    }

    .inner.mo_block_100 {
        display: block !important;
        margin-right: auto !important;
        margin-left: auto !important;

        width: calc(100% - 8.3333vw) !important;
    }

    [class*="flex"].mo_block_100,
    .mo_block_100 {
        display: block !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
        width: 100% !important;
        margin-top: 0 !important;
    }

    [class*="flex"].mo_block_100 > *,
    .mo_block_100 > * {
        flex: unset;
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    [class*="flex"].mo_block_100 > *,
    .mo_block_100 > * {
        margin-top: var(--mo-mg-t);
    }

    .mo-w-10 {
        width: 10% !important;
    }

    .mo-w-20 {
        width: 20% !important;
    }

    .mo-w-30 {
        width: 30% !important;
    }

    .mo-w-40 {
        width: 40% !important;
    }

    .mo-w-50 {
        width: 50% !important;
    }

    .mo-w-60 {
        width: 60% !important;
    }

    .mo-w-70 {
        width: 70% !important;
    }

    .mo-w-80 {
        width: 80% !important;
    }

    .mo-w-90 {
        width: 90% !important;
    }

    .mo-w-100 {
        width: 100% !important;
    }

    .mo-w-auto {
        width: auto !important;
    }

    .ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
        width: 3.4rem;
        height: 0.8667rem;
        line-height: 0.8667rem;
        background: rgba(0, 0, 0, 0.15) url(../img/btn/arrow-button.png) 100% -0.9rem no-repeat;
        margin: 0 0.1333rem;
        padding: 0 0.2rem;
        border: 0;
        border-radius: 0.1rem;
        color: #fff;
        font-size: 0.4333rem;
        font-weight: bold;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding-right: 1rem !important;
    }

    .ui-datepicker select.ui-datepicker-month:hover, .ui-datepicker select.ui-datepicker-year:hover {
        background: rgba(0, 0, 0, 0.3) url(../img/btn/arrow-button.png) 100% -1.2rem no-repeat;
    }
}
