.customer-form-page .con-form .form-group select {
    width: 130px !important;
}

.day_wrap_sect {
    border: 1px solid #dbdbdb;
    padding: 30px;
}

.item-info-check .view-policy {
    margin-right: 40px;
}

.item-info-check:hover .view-policy {
    background-color: #fff;
}

.cart_info_pop .memo {
    margin-top: 20px;
}

.tours-detail .container-calendar {
    display: block;
}

.tours-detail .container-calendar.tour {
    padding-top: 0;
    border-top: unset;
    gap: 40px;
    height: auto;
}

.tours-detail .container-calendar.tour.open_ {
    min-height: 500px;
}

.tours-detail .steps-type {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 110px;
    padding-left: 120px;
    margin-top: 50px;
}

.sec2-item-card .calendar_header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    cursor: pointer;
}

.sec2-item-card .calendar_header .desc_product {
    font-size: 22px;
    font-weight: 600;
    width: 65%;
}

.sec2-item-card .calendar_header .desc_product .desc_product_sub {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    margin-top: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    word-break: break-all;
}

.sec2-item-card .calendar_header .desc_product .desc_product_sub ul {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
    flex-direction: column;
}

.sec2-item-card .calendar_header .desc_product .desc_product_sub li {}

.sec2-item-card .calendar_header .box_price {
    font-size: 16px;
    color: #757575;
}

.sec2-item-card .calendar_header .box_price i {
    color: #000;
    font-size: 22px;
    font-weight: 600;
    margin-left: 10px;
}

.sec2-item-card .calendar_header .box_price .btn_oder {
    text-align: right;
}

.sec2-item-card .calendar_header .box_price .btn_oder button {
    padding: 7px 25px;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-top: 16px;
    width: 160px;
    height: 40px;
    background-color: #2a459f;
}

.sec2-item-card .desc_top {
    font-size: 17px;
    color: #757575;
    padding: 50px 0;
    text-align: center;
    line-height: 1.4;
    background-color: #fafafa;
    border-radius: 13px;
    margin-bottom: 50px;
}

.calendar_text_head {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    display: none;
}

.calendar_text_head.open_ {
    display: block;
}

.calendar_note {
    display: flex;
    gap: 40px;
    margin-top: 45px;
    font-size: 15px;
    font-weight: 500;
}

.calendar_note_cannot {
    padding-left: 20px;
    position: relative;
}

.calendar_note_cannot::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #cccccc;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.calendar_note_maybe {
    padding-left: 20px;
    position: relative;
}

.calendar_note_maybe::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #2a459f;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

table.book_tbl {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
}

table.book_tbl tr {
    border-top: 2px solid #dbdbdb;
    border-bottom: 2px solid #dbdbdb;
}

table.book_tbl th,
table.book_tbl td {
    font-weight: 400;
    text-align: left;
    padding: 14px 10px 14px 13px !important;
    position: static;
    /* border: 1px solid #dcdcdc */
}

table.book_tbl th {
    /* border-top: 1px solid #dcdcdc;
            border-right: 1px solid #dcdcdc;
            border-left: 1px solid #dcdcdc; */
    background-color: #f5f7f9 !important
}

table.book_tbl td {
    background: #fff;
    text-align: left;
    /* border: 1px solid #dcdcdc */
}

table.book_tbl td.label_flex label {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-right: 20px;
    float: left
}

table.book_tbl .custom_input {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 30px;
    width: 100%;
}

table.book_tbl .custom_input .val_wrap {
    display: flex;
    align-items: center;
    gap: 5px;
}

table.book_tbl .custom_input .selectricHideSelect {
    display: flex;
    align-items: center;
    gap: 10px;
}

table.book_tbl .custom_input .selectricWrapper select {
    width: 80px;
}

table.book_tbl .list {
    display: block;
    overflow: hidden
}

table.book_tbl .list li {
    float: left;
    margin-right: 20px;
    line-height: 16px
}

table.book_tbl .list li input {
    width: 14px;
    height: 14px;
    vertical-align: top;
    margin-right: 3px
}

table.book_tbl textarea.memo {
    width: 95%;
    padding: 5px
}

table.book_tbl span.ti_schedule {
    background: #93aac6;
    border: 1px solid #7a91ac;
    padding: 3px 10px;
    color: #fff
}

table.book_tbl .list_golf_mem .conts {
    display: flex;
    border: none;
    align-items: center;
    width: 100%
}

table.book_tbl .list_golf_mem .conts li {
    padding: 0
}

table.book_tbl .list_golf_mem .conts select {
    height: 30px;
    width: 50px;
    margin-right: 10px
}

table.book_result {
    width: 100%;
    margin-top: 20px
}

table.book_result th {
    background: #7d7d7d;
    color: #fff
}

table.book_result th,
table.book_result td {
    text-align: center;
    padding: 10px 0;
    line-height: 16px;
    border: 0
}

table.book_result td {
    background: #fff
}

table.book_result b {
    color: #fb7622
}

.fl {
    float: left;
}

.mt5 {
    margin-top: 5px;
}


.content-sub-hotel-detail .section6 .title-sec6 {
    font-size: 24px;
    margin: 64px 0 32px;
}

.content-sub-hotel-detail .section6 .card-list-recommemded .recommemded-item {
    width: unset
}

.title_sec2 {
    font-size: 24px;
    margin-bottom: 40px;
}

.calendar_container_tongle {
    padding-top: 50px;
    border-top: 1px solid #dbdbdb;
    position: relative;

}

.calendar_container_tongle .close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.tours-detail .section2 .sec2-item-card:last-child {
    padding-bottom: 30px;
}

.calendar_submit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

.calendar_submit button {
    padding: 10px 26px;
    border: 10px;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    background-color: #2a459f;
    border-radius: 8px;
    width: 250px;
    height: 66px;
}

.calendar_submit button.btn-cart {
    background-color: #fff;
    color: #000;
    border: 1px solid #dbdbdb;
}


.daterange_guilde_detail {
    visibility: hidden;
}

/* Custom datepicker and dateranger */


/*.drp-buttons .cancelBtn,*/
/*.drp-buttons .applyBtn {*/
/*    display: none;*/
/*}*/
.item-info-check {
    padding: 15px;
}

.title-second {
    font-size: 18px;
}

.title-second {
    margin-bottom: 20px;
}

.item_check_term_all_,
.item_check_term_ {
    background: url(/uploads/icons/form_check_icon.png) no-repeat calc(100% - 15px) 50% #f3f5f7;
    background-size: 23px 15px;
}

.item-info-check:hover {
    background-color: #fff;
    cursor: pointer;
}

.item_check_term_all_.checked_,
.item_check_term_.checked_ {
    background: url(/images/ico/check_2.png) no-repeat calc(100% - 15px) 50% #f3f5f7;
    background-size: 23px 15px;
}

@media screen and (min-width: 851px) {
    .daterangepicker {
        width: 1140px;
        left: 0px !important;
        /* left: calc((100% - 1140px) / 2); */
        /* height: auto; */
        /* display: block !important; */
        /* position: static !important; */
    }

    .daterangepicker .drp-calendar.left {
        padding: 20px 0 20px 20px;
    }

    .daterangepicker .calendar-table td .custom-info {
        width: 74px;
        height: 77px;
        font-size: 18px;
        gap: 6px;
        position: relative;
    }


    .daterangepicker .drp-calendar.right {
        padding: 20px 20px 20px 8px;
    }

    .daterangepicker .calendar-table td .custom-info .allow-text {
        font-size: 14px;
        padding: 8px;
    }

    .daterangepicker .calendar-table td .custom-info .sold-out-text {
        font-size: 14px;
        padding: 5px;
    }

    .daterangepicker .calendar-table table thead tr:nth-child(2) th {
        font-size: 18px;
        padding: 15px 10px;
    }

    .daterangepicker th.month {
        font-size: 18px;
        padding-bottom: 15px;
    }

    /* .daterangepicker .calendar-table td::after {
        display: none;
    } */
}

@media screen and (max-width: 850px) {
    .tours-detail .section2 .sec2-item-card {
        padding: 3.6rem 0 3.6rem 0;
    }

    .sec2-item-card .calendar_header {
        padding: 2rem 2.6rem 2rem 3rem;
    }

    .daterangepicker .calendar-table th,
    .daterangepicker .calendar-table td {
        font-size: 2.6rem;
        padding: 0.5rem;
    }

    .daterangepicker .calendar-table td .custom-info .sold-out-text {
        padding: 1.1rem 1.5rem;
        font-size: 1.5rem;
        font-weight: 400;
        border-radius: 0.5rem;
        max-width: 8rem;
    }

    .calendar_container_tongle {
        padding-top: 5rem;
        border-top: 1px solid #dbdbdb;
        position: relative;
    }

    .daterangepicker .calendar-table td .custom-info .allow-text {
        padding: 1.1rem 1.5rem;
        font-size: 1.5rem;
        font-weight: 400;
        border-radius: 0.5rem;
        max-width: 8rem;
    }

    table.book_tbl {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 5rem;
        border-bottom: 1px solid #dcdcdc;
    }

    table.book_tbl colgroup {
        display: none;
    }

    table.book_tbl tr {
        display: flex;
        flex-wrap: wrap;
        border: unset;
    }

    table.book_tbl tr th {
        display: none;
    }

    table.book_tbl tr td {
        /* width: 100%; */
        padding: 1.5rem !important;
        font-size: 2.4rem;
        position: relative;
        padding-left: 15rem !important;
    }

    table.book_tbl tr td input,
    select {
        width: 37rem;
        height: 8rem;
    }

    table.book_tbl tr td .custom_input .val_wrap input {
        width: 18rem;
    }

    table.book_tbl tr td .people_cnt_select {
        width: 39rem;
    }

    table.book_tbl tr td.count_date {
        display: flex;
        align-items: center;
    }

    table.book_tbl tr td.count_date .fl {
        margin-left: 0 !important;
        width: 37rem !important;
    }

    table.book_tbl tr td.checkin::before {
        content: "가이드 시작일: ";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    table.book_tbl tr td.checkout::before {
        content: "가이드 종료일: ";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    table.book_tbl tr td.people::before {
        content: "총인원: ";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .sec2-item-card .calendar_header .desc_product {
        font-size: 3rem;
        font-weight: 600;
    }

    .sec2-item-card .calendar_header .desc_product .desc_product_sub {
        font-size: 2.4rem;
        font-weight: 400;
        color: #757575;
        margin-top: 1.5rem;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .sec2-item-card .calendar_header .desc_product .desc_product_sub ul {
        gap: 1rem;
    }

    .sec2-item-card .calendar_header .box_price {
        font-size: 2.4rem;
        color: #757575;
    }

    .sec2-item-card .calendar_header .box_price i {
        font-size: 3rem;
        margin-left: 1rem;
    }

    .sec2-item-card .calendar_header .box_price .btn_oder button {
        padding: 0.7rem 2.5rem;
        border-radius: 0.6rem;
        color: #fff;
        font-size: 2.4rem;
        font-weight: 600;
        margin-top: 1.6rem;
        width: 100%;
        height: 6rem;
        background-color: #2a459f;
    }

    .daterangepicker .drp-calendar.left {
        padding: 1.2rem 0 0.8rem 1.6rem;
    }

    .calendar_text_head {
        font-size: 2.8rem;
    }

    .policy_wrap {
        padding: 4rem;
        margin-top: 3rem;
        background-color: #f3f5f7;
        border-radius: 0.8rem;
    }

    .tours-detail .container-calendar.tour.open_ {
        min-height: 122rem;
    }

    .title-second {
        margin-bottom: 2rem;
        font-size: 2.6rem;
    }

    .calendar_submit {
        margin-top: 5rem;
    }

    .calendar_submit button {
        padding: 1rem 2.6rem;
        border: 1rem;
        color: #fff;
        font-size: 3rem;
        font-weight: 400;
        background-color: #2a459f;
        border-radius: 0.8rem;
        width: 25rem;
        height: 6.6rem;
    }
}