.body_container.main_body_container {
    margin-top: 0;
    /*padding-top: 20px;*/
}

.img_box_1 {
    /*padding-top: calc(510% / 1159 * 100);*/
    padding-top: 23.65%;
}

.img_box_2 {
    padding-top: calc(150% / 224 * 100);
}

.img_box_3 {
    padding-top: calc(210% / 285 * 100);
}

.img_box_4 {
    padding-top: calc(180% / 590 * 100);
}

.img_box_5 {
    padding-top: calc(180% / 580 * 100);
}

.img_box_6 {
    padding-top: calc(102% / 140 * 100);
}

.img_box_7 {
    padding-top: calc(210% / 285 * 100);
}

.img_box_8 {
    padding-top: calc(310% / 224 * 100);
}

.main_sale_banner {
    position: fixed;
    top: 26%;
    left: 130px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.time_sale_banner {
    width: 123px;
    overflow: hidden;
}

.time_sale_wrap:not(.active) {
    display: none;
}

.time_sale_wrap {
    width: 100%;
    background-color: #0d0334;
    border-radius: 16px;
    transition: transform 1s ease-in-out;
}

.time_sale_wrap .time_sale_clock {
    padding: 10px 0;
    gap: 5px;
}

.time_sale_wrap .time_sale_clock i {
    display: inline-block;
    width: 25px;
    height: 23px;
    background: url("/images/ico/time_sale_clock.gif") no-repeat center/cover;
    background-size: 25px 23px;
}

.time_sale_wrap .time_sale_clock span {
    color: #ffffff;
    font-family: "Pretendard";
    font-weight: 500;
    font-size: 14px;
}

.time_sale_wrap .time_sale_product {
    padding: 0 5px;
}

.time_sale_wrap .time_sale_product img {
    width: 100%;
    height: 60px;
}

.time_sale_wrap .time_sale_product .time_sale_ttl {
    padding: 7px 10px;
    background-color: #fff;
}

.time_sale_wrap .time_sale_product .time_sale_ttl .subject {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.4;
    color: #353535;
    margin-bottom: 5px;
    text-align: center;
}

.time_sale_wrap .time_sale_product .time_sale_ttl .price {
    font-weight: bold;
    font-size: 15px;
    color: #17469e;
    text-align: center;
}

.time_sale_wrap .time_remaining {
    padding: 5px 0;
    flex-direction: column;
    gap: 5px;
}

.time_sale_wrap .time_remaining .ttl {
    font-size: 13px;
    color: #ffffff;
}

.time_sale_wrap .time_remaining .time {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.main_sale_banner.new {
    top: 1%;
}

.main_sale_banner.visible {
    top: 1%;
}

.main_sale_banner .coupon_sale {
    border-radius: 7px;
    width: 123px;
}

.main_sale_banner img {
    max-width: 123px;
    object-fit: cover;
}

.main_sale_banner .coupon_sale img {
    width: 123px;
    height: 123px;
    object-fit: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.main_sale_banner .coupon_sale .tit_cou {
    background-color: #110346;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 10px;
}

.main_sale_banner .coupon_sale .tit_cou p {
    font-size: 13px;
    text-align: center;
    line-height: 1.3;
    color: #fff;
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.swiper-button-main {
    /*background-color: rgba(0, 0, 0, 0.502);*/
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .18);
}

.swiper-button-prev-main {
    left: 60px;
    transform: rotate(180deg);
}

.swiper-button-next-main {
    right: 60px;
}

.swiper-button-main img {
    width: 16px;
    height: 32px;
}

.main_swiper {
    overflow: visible;
}

.main_visual_slider {
    position: relative;
    overflow: hidden;
}

.main_visual_slider .slide_item {
    padding: 0 10px;
}

.main_visual_slider.owl-carousel .owl-stage-outer {
    overflow: visible;
}

.main_visual_slider .img_box::before {
    transition: all 2s ease;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000000;
    z-index: 1;
}

.main_visual_slider .slide_item[aria-hidden="true"] .img_box::before {
    background-color: #00000080;
}

.main_visual_slider .owl-item:not(.active) .img_box::before {
    background-color: #00000080;
}

.main_visual_slider .owl-nav {
    height: 0;
}

.img_box_ttl_main {
    font-size: 48px;
    font-family: "NanumSquare";
    color: #ffffff;
    font-weight: bold;
    line-height: 1.25;
    position: absolute;
    left: 480px;
    top: 205px;
    z-index: 2;
}

/*.swiper-main-tools {*/
/*    position: absolute;*/
/*    bottom: 30px;*/
/*    right: 350px;*/
/*    z-index: 10;*/
/*}*/

.img_box_txt_main2 {
    font-size: 22px;
    line-height: 3.273;
}

.swiper-main-tools {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    padding-top: 30px;
}

.swiper-main-tools .play_pause {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #dbdbdb;
    border-radius: 50%;
    background-color: #ffffff;
    /*background-color: unset !important;*/
    width: 34px;
    height: 34px;
    cursor: pointer;
}

.relative {
    /*overflow: hidden;*/
}

.swiper-pagination-main {
    border-style: solid;
    border-width: 1px;
    border-color: #dbdbdb;
    background-color: #ffffff;
    /*background-color: unset !important;*/
    border-radius: 16px;
    width: 74px;
    height: 34px;
    color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_current_slide {
    /*color: #FFFFFF;*/
}

.main_visual .swiper-button {
    z-index: 9999;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .18);
    text-indent: -9999px;
    background-image: none;
}

.main_visual .swiper-button.swiper-button-next {
    right: 60px;
}

.main_visual .swiper-button.swiper-button-prev {
    left: 60px;
}

.main_visual .swiper-button:after {
    opacity: .45;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(/images/ico/spr_banner.webp) no-repeat 0 center;
}

.main_visual .swiper-button:hover {
    background-color: rgba(255, 255, 255, .28);
}

.main_visual .swiper-button.swiper-button-next:after {
    background-position: -65px 0;
}

.main_section2 {
    padding-top: 100px;
}

.main_section2 .ttl {
    font-size: 28px;
    text-align: center;
}

.main_swiper2 {
    margin-top: 40px;
    position: relative;
}

.main_swiper2__text {
    position: absolute;
    top: 40px;
    left: 32px;
    font-size: 20px;
    font-family: "Pretendard";
    color: #252525;
    font-weight: bold;
    line-height: 1.2;
}

.swiper-button-main-2 {
    border-style: solid;
    border-width: 1px;
    border-color: #dbdbdb;
    border-radius: 6px;
    background-color: #ffffffcc;
    width: 44px;
    height: 44px;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-main-2.swiper-button-lock {
    display: none;
}

.swiper-button-prev-main-2 {
    left: -22px;
}

.swiper-button-next-main-2 {
    right: -22px;
}

.main_section_review_prev_btn_ {
    top: 110px;
}

.main_section_review_next_btn_ {
    top: 110px;
}

.main_section3 {
    padding: 0;
}

.main_section3__head {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 140px 0 0 0;
}

.main_section3__head__ttl {
    font-size: 28px;
    font-family: "Pretendard";
    color: #252525;
    font-weight: bold;
}

.main_section3__place {
    display: flex;
    gap: 25px;
}

.main_section3__place_btn {
    font-size: 28px;
    font-family: "Pretendard";
    color: #cccccc;
    font-weight: bold;
    position: relative;
}

.main_section3__place_btn.active {
    color: #17469E;
}

.main_section3__place_btn.active::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #17469E;
    position: absolute;
    top: -2px;
    right: -12px;
    border-radius: 50%;
}

.main_section3__type {
    display: flex;
    gap: 10px;
}

.main_section3__type_btn {
    border-width: 1px;
    border-color: #dbdbdb;
    border-style: solid;
    min-width: 60px;
    height: 34px;
    border-radius: 16px;
    color: #757575;
}

.main_section3__type_btn.active {
    color: #17469E;
    border-color: #17469E;
}

.best_list {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 34px 20px;
}

.best_list_item {
    width: calc(25% - (60px / 4));
}

.best_list_item .breadcrumb {
    margin-top: 28px;
}

.main_section4 {
    margin-top: 120px;
}

.main_section4_community {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.community_item {
    border-style: solid;
    border-width: 1px;
    border-color: #eeeeee;
    padding: 12px 24px 12px 13px;
    display: flex;
    border-radius: 35px;
    align-items: center;
    gap: 11px;
}

.community_item_img {
    border-radius: 50%;
    background-color: #eeeff8;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.community_item_name {
    font-size: 18px;
    font-family: "Pretendard";
    color: #252525
}

.community_item_bread {
    width: 5px;
    height: 10px;
    position: relative;
    margin-left: 15px;
}

.community_item_bread::after {
    content: "";
    display: block;
    border-width: 1px 1px 0 0;
    border-color: rgb(153, 153, 153);
    border-style: solid;
    position: absolute;
    z-index: 1;
    width: 5px;
    height: 5px;
    transform: rotate(45deg);
}

.main_section5 {
    padding: 120px 0 0;
}

.main_section5__head {
    display: flex;
    gap: 47px;
    align-items: center;
}

.main_section5__head_ttl {
    font-size: 28px;
    font-family: "Pretendard";
    color: #252525;
    font-weight: bold;
}

.main_section5__head__bar {
    background-color: #252525;
    height: 2px;
    flex: 1;
}

.main_section5__words_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 60px;
}

.words_list_item {
    background-color: #fafafa;
    padding: 15px 30px;
    border-radius: 26px;
    font-size: 18px;
    font-family: "Pretendard";
    color: #252525;
}

.words_list_item.active {
    border-width: 2px;
    border-color: #17469E;
    border-style: solid;
    color: #17469E;
}

.main_hot {
    padding: 120px 0 0 0;
}

.main_hot__search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main_hot__search form.form_search_ {
}

.main_hot__search input {
    font-size: 20px;
}

.main_hot__search .search-icon {
    font-size: 20px;
}

.main_hot__search button {
    padding: 8px 20px;
    border-radius: 99px;
    background-color: rgb(23, 70, 158, 0.9);
    color: #fff;
}

.main_hot__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_hot__head__left {
    display: flex;
    align-items: center;
}

.main_hot__head_ttl {
    font-size: 28px;
    font-family: "Pretendard";
    color: #252525;
    font-weight: bold;
    margin-right: 35px;
}

.main_hot__head_ttl span {
    color: #17469E;
}

.main_hot__head__place {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.place_item {
    border-width: 1px;
    border-color: #dbdbdb;
    border-style: solid;
    height: 34px;
    font-size: 16px;
    font-family: "Pretendard";
    color: #757575;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
}

.place_item.active {
    border-color: #17469E;
    color: #17469E;
}

.place_item_golf {
    border-width: 1px;
    border-color: #dbdbdb;
    border-style: solid;
    height: 34px;
    font-size: 16px;
    font-family: "Pretendard";
    color: #757575;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
}

.place_item_golf.active {
    border-color: #17469E;
    color: #17469E;
}


.place_item_hotel {
    border-width: 1px;
    border-color: #dbdbdb;
    border-style: solid;
    height: 34px;
    font-size: 16px;
    font-family: "Pretendard";
    color: #757575;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
}

.place_item_hotel.active {
    border-color: #17469E;
    color: #17469E;
}

.main_hot__head__right {
}

.hot_product_list_swiper_pagination {
}

.hot_product_list {
    margin-top: 30px;
}

.hot_product_list__item {
    position: relative;
}

.btn_more_hot_product {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(219, 219, 219);
    background-color: rgb(255, 255, 255);
    width: 280px;
    height: 62px;
    font-size: 18px;
    font-family: "Pretendard";
    color: rgb(53, 53, 53);
    font-weight: bold;
    border-radius: 31px;
    margin: 50px auto 0;
}

.main_section7 {
    padding: 110px 0 0 0;
}

.main_section7__banner {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.main_section7__banner__item {
    width: calc(50% - 10px);
}

.main_section8 {
    padding: 120px 0 0 0;
}

.bar01 {
    background-color: #eeeeee;
    width: 100%;
    height: 1px;
}

.main_section9 {
    padding: 100px 0 0 0;
}

.main_section9__row {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.main_section9__col {
    width: calc(50% - 20px);
}

.main_section9__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.main_section9__head__ttl {
    font-size: 28px;
    font-family: "Pretendard";
    color: #252525;
    font-weight: bold;
}

.main_section9__col__img {
    margin-top: 40px;
}

.main_section9__prd {
    margin-top: 25px;
}

.main_section9__prd__item {
    display: flex;
    gap: 20px;
    padding-bottom: 15px;
}

.main_section9__prd__item + .main_section9__prd__item {
    border-top: 1px solid #eeeeee;
    padding-top: 20px;
}

.prd__item__left {
    width: 140px;
}

.prd__item__right {
    flex: 1;
    max-width: calc(100% - 175px);
}

.prd__item__info {
}

.main_section9 .prd_name {
    margin-top: 0;
}

.prd_description {
    font-size: 15px;
    font-family: "Pretendard";
    color: #757575;
    margin-top: 10px;
}

.main_section9 .breadcrumb {
    margin-top: 15px;
}

.main_hot .swiper-pagination-bullet-active {
    background-color: #17469E;
}

.main_section_review {
    padding: 109px 0;
    margin: 120px 0 0 0;
    background-color: #f7f7f7;
}

.main_section_review__head {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main_section_review__head_ttl {
    font-size: 28px;
    font-family: "Pretendard";
    color: #353535;
    font-weight: bold;
    text-align: center;
}

.main_section_review__head_ttl span {
    color: #17469E;
}

.main_section_review__head__more_review {
    position: absolute;
    right: 0;
    font-size: 18px;
    font-family: "Pretendard";
    color: #252525;
    font-weight: bold;
}

.main_section_review__list {
    margin-top: 50px;
}

.review__list__item {
    font-family: "Pretendard";
    background-color: #fff;
}

.review_list__item__body {
    padding: 0 20px 20px;
}

.review__list__item__type {
    font-size: 15px;
    color: #17469E;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.review__list__item__type span {
    position: relative;
    padding-right: 30px;
}

.review__list__item__type span:not(:last-child):after {
    content: "|";
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.review__list__item__title {
    font-size: 18px;
    color: #252525;
    margin-top: 10px;
}

.review__list__item__content {
    font-size: 16px;
    color: #757575;
    margin-top: 15px;
    line-height: 1.5;
}

.review__list__item__extra {
    margin-top: 25px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.review__list__item__extra__star {
    display: flex;
    gap: 5px;
    align-items: center;
}

.eye {
    display: flex;
    gap: 5px;
    align-items: center;
}

.eye_icon {
}

.eye_cnt {
    font-size: 16px;
    color: #757575;
}

.main_section_magazine {
    margin-top: 120px;
}

.main_section_magazine__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_section_magazine__head__ttl {
    font-size: 28px;
    font-family: "Pretendard";
    color: #353535;
    font-weight: bold;
    text-align: center;
}

.main_section_magazine__head__ttl span {
    color: #17469E;
}

.main_section_magazine__head__more {
    font-size: 18px;
    font-family: "Pretendard";
    color: #252525;
    font-weight: bold;
}

.magazine_swiper {
    margin-top: 50px;
}

.magazine_swiper .swiper-pagination-bullet-active {
    background-color: #17469E;
}

.magazine_swiper__pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.img_box__shadow {
    background-color: #ffffff33;
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 100%;
    z-index: 2;
}

.magazine_content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    overflow: hidden;
    background: linear-gradient(to bottom, #2c6baec2, #2c6baec2 50%, #ffffff33 70%, #ffffff33 90%, #2c6bae1a);
}

.magazine_content_txt {
    font-size: 22px;
    font-family: "Pretendard";
    color: #ffffff;
    font-weight: bold;
    line-height: 1.4;
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
    min-width: 65%;
}

.magazine_item_ {
    position: relative;
}

.img_box__shadow,
.magazine_content {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.magazine_item_:hover .img_box__shadow,
.magazine_item_:hover .magazine_content {
    opacity: 1;
    transform: translateY(0);
}

.hot_product_list_swiper_1_btn_prev,
.hot_product_list_swiper_1_btn_next,
.hot_product_list_swiper_1_btn_prev,
.hot_product_list_swiper_1_btn_next {
    top: 33%;
}

.main_section3 .hidden {
    display: none !important;
}

.main_hot .number_item_label {
    position: absolute;
    width: 28px;
    height: 26px;
    top: 3%;
    border-radius: 10px 0 10px 0;
    left: 3%;
    padding: 5px 0 0 10px;
    color: white;
    font-size: 14px;
    background-color: #767676;
}

.main_hot .number_item_label.number_one {
    background-color: var(--bs-point);
}

.main_section7__banner__item {
    position: relative;
}

.main_section7__banner__item .text-content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.main_section7__banner__item .text-content h3 {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 2rem;
}

.side-bar-inc {
    z-index: 9999;
    position: fixed;
    top: 26%;
    right: 140px;
}

.side-bar-inc.new {
    top: 1%;
}

.side-bar-inc.visible {
    top: 1%;
}

.side-bar-inc-main {
    width: 125px;
    /* height: 351px; */
    border-radius: 6px;
    border: 1px solid #ccc;
    background: white;
}

.side-bar-inc .top_cart {
    background-color: #ccc;
    gap: 5px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 10px;
}

.side-bar-inc .top_cart img {
    cursor: pointer;
    transform: rotate(180deg);
}

.side-bar-inc .side-bar-cart {
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    background-color: #dbdbdb;
}

.side-bar-inc .side-bar-cart p,
.side-bar-inc .side-bar-cart span {
    font-size: 14px;
    color: #000;
}

.side-bar-inc .side-center-card {
    margin-top: 5px;
    gap: 2px;
    display: flex;
    flex-direction: column;
}

.side-bar-inc .side-center-card .map_img_n {
    max-width: 125px;
}

.side-bar-inc .side-bar-cart h2 {
    color: var(--bs-point);
    font-size: 16px;
} 

.side-bar-inc .top_cart h3 {
    font-size: 15px;
    color: #000;
    margin-bottom: 0;
}

.side-bar-inc .side-bar-slide {
    margin-top: 15px;
    gap: 5px;
}

.side-bar-inc .side-bar-slide img {
    cursor: pointer;
    margin-bottom: 10px;
}

.side-bar-inc .side-bar-above {
    padding: 0px 10px 0 10px;
}

.side-bar-inc .title-side-bar {
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.side-bar-inc .img-sidebar {
    margin-bottom: 6px;
    width: 100%;
}

.side-bar-new {
    position: fixed;
    z-index: 999;
    bottom: 30px;
    right: -0.5%;
    width: 125px;
}

.side-bar-new .info_chat {
    position: absolute;
    top: -54px;
    right: 17px;
    width: auto;
    margin: 0;
    padding: 15px 10px 13px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    text-align: left;
    border-radius: 15px;
    background: #fff;
    box-shadow: rgb(0 0 0 / 14%) 1px 2px 8px 0;
    white-space: nowrap;
}

.side-bar-new .info_chat:before {
    content: '';
    position: absolute;
    right: 25px;
    bottom: -8px;
    border-top: 9px solid #fff;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
}

.side-bar-new .btn_close {
    position: absolute;
    top: 10px;
    left: auto;
    right: 10px;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    border-radius: 50%;
    background: #ebebeb url(/images/ico/btn_close2.png) no-repeat center !important;
    background-size: 50% !important;
    opacity: .7;
}

.side-bar-new .info_chat em {
    font-size: 13px;
    font-weight: 400;
    color: #666;
}

.side-bar-new .banner-side-bar {
    display: block;
    width: 100%;
    margin-top: 20px;
    width: 238px;
}


.scroll-to-top {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0;
    visibility: hidden;
    border: 1px solid #ccc;
}

.scroll-to-top img {
    width: 20px;
    height: 20px;
}

.scroll-to-top.visible {
    opacity: 1;
    visibility: visible;
}

.pagination_sidebar {
    display: flex;
    justify-content: center;
    color: #ccc;
}

.pagination_sidebar span {
    color: black;
    margin-bottom: 10px;
}

.side-bar-inc .side-bar-below {
    display: flex;
}

.side-bar-inc .side-bar-below .left {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    height: 43px;
}

.side-bar-inc .side-bar-below .right {
    border-top: 1px solid #ccc;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    height: 43px;
}

.side-bar-inc .left,
.side-bar-inc .right {
    cursor: pointer;
}

.side_bar_swipper {
    overflow: hidden;
}

.side-bar-inc .img-container {
    position: relative;
    width: 100%;
    /* overflow: hidden; */
}

.side-bar-inc .slide {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    transition: left 0.5s ease-in-out;
    opacity: 0;
}

.side-bar-inc .slide.active {
    left: 0;
    opacity: 1;
}

.side-bar-new .icon-wrap-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.side-bar-new .robot-container {
    padding: 8px;
    width : 66px;
    height: 66px;
    display: flex;
    align-items: center;
    /*background-color: #9c75f2;*/
    background-color: #ffec9e;
    border-radius: 50%;
    cursor: pointer;
}

.breadcrumb_item {
    margin: 0 5px;
}

@media screen and (min-width: 1921px) {
    .side-bar-inc {
        top: 26%;
        right: 12%;
    }

    .main_sale_banner {
        top: 26%;
        left: 12%;
    }
}

@media screen and (min-width: 2400px) {
    .side-bar-inc {
        top: 23%;
        right: 16%;
    }

    .main_sale_banner {
        top: 23%;
        left: 16%;
    }
}

@media screen and (min-width: 2560px) {
    .side-bar-inc {
        top: 22%;
        right: 19%;
    }

    .main_sale_banner {
        left: 19%;
        top: 22%;
    }
}

@media screen and (min-width: 2880px) {
    .side-bar-inc {
        top: 20%;
        right: 22%;
    }

    .main_sale_banner {
        top: 20%;
        left: 22%;
    }
}

@media screen and (min-width: 3840px) {
    .side-bar-inc{
        top: 14%;
        right: 29%;
    }

    .main_sale_banner {
        top: 14%;
        left: 29%;
    }
}

@media screen and (min-width: 5760px) {
    .side-bar-inc {
        top: 10%;
        right: 36%;
    }

    .main_sale_banner {
        top: 10%;
        left: 36%;
    }

}

@media screen and (min-width: 7680px) {
    .side-bar-inc {
        top: 7%;
        right: 39%;
    }

    .main_sale_banner {
        top: 7%;
        left: 39%;
    }
}


@media screen and (max-width: 1440px) {
    .side-bar-inc {
        display: none;
    }

    .main_sale_banner, .main_sale_banner.new {
        display: none !important;
    }
    
    .side-bar-new {
      display: none;
    }
}