@media screen and (max-width: 850px) {
  /* .main_section2 {
    padding-top: 20rem !important;
  } */

  .owl-prev,
  .owl-next {
    display: none;
  }

  .main_section2>.body_inner>.ttl {
    font-size: 3.8rem;
  }

  .swiper_pagination_main_swiper2_box {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 1.4;
  }

  .hot_product_list_swiper_1_btn_prev,
  .hot_product_list_swiper_1_btn_next,
  .hot_product_list_swiper_2_btn_prev,
  .hot_product_list_swiper_2_btn_next {
    display: none !important;
  }

  .swiper_pagination_main_swiper2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper_pagination_main_swiper2 .swiper-pagination-bullet-active {
    background: #17469E;
  }

  .main_swiper2__text {
    font-size: 3rem !important;
  }

  .main_section3__head {
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
  }

  .main_section3__head__ttl {
    font-size: 3.8rem !important;
  }

  .main_section3__place_btn {
    font-size: 3.8rem !important;
  }

  .main_section3__type_btn {
    font-size: 2.6rem !important;
    height: 5rem !important;
    width: 9rem !important;
    border-radius: 4rem !important;
  }

  .main_section3__place_btn.active::after {
    width: 1.2rem !important;
    height: 1.2rem !important;
  }

  .main_section3__place {
    padding: 1rem 0;
  }

  .best_list {
    gap: 4rem 2rem !important;
  }

  .best_list_item {
    width: calc((100% - 2rem) / 2);
  }

  .breadcrumb_item {
    font-size: 2.6rem;
  }

  .prd_name {
    font-size: 2.8rem !important;
  }

  .star_avg {
    font-size: 2.6rem;
  }

  .star_review_cnt {
    font-size: 2.6rem;
  }

  .prd_price_ko {
    font-size: 3.2rem !important;
  }

  .prd_price_ko>span {
    font-size: 2.6rem !important;
  }

  .prd_price_thai {
    font-size: 2.6rem !important;
  }

  .main_section4_community {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .community_item {
    border-width: 2px;
    width: 32rem;
    height: 11.8rem;
    border-radius: 8.2rem;
    justify-content: center;
  }

  .community_item_name {
    font-size: 2.8rem;
  }

  .community_item_bread::after {
    content: "";
    z-index: 1;
    width: 1.5rem;
    height: 1.5rem;
    transform: rotate(45deg);
  }

  .community_item_img {
    border-radius: 50%;
    background-color: #eeeff8;
    width: 6.6rem;
    height: 6.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .community_item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-wrap: nowrap;
    padding-left: 3rem;
  }

  .main_section5__head_ttl {
    font-size: 3.8rem;
  }

  .words_list_item {
    font-size: 2.8rem;
    border-radius: 5rem;
    border-width: 3px !important;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
  }

  .main_hot__head_ttl {
    font-size: 3.8rem;
  }

  .main_hot__head__place {
    margin-top: 3rem;
    margin-bottom: 6rem;
  }

  .place_item {
    font-size: 2.6rem;
    padding: 1.5rem;
    border-width: 0.2rem;
    border-radius: 3rem;
    height: 4.8rem;
  }

  .btn_more_hot_product {
    font-size: 2.8rem;
    height: 8.5rem;
    border-width: 2px;
    border-radius: 6rem;
    width: 37.5rem;
  }

  .main_section7__banner {
    flex-direction: column;
    gap: 3rem;
  }

  .main_section7__banner__item {
    width: 100%;
  }

  .hot_product_list_swiper_pagination_1 .swiper-pagination-bullet-active {
    background: #17469E;
    /* scale: 1.4; */
  }

  .hot_product_list_swiper_pagination_1 .swiper-pagination-bullet {
    /* scale: 1.4; */
  }

  .hot_product_list_swiper_pagination_2 .swiper-pagination-bullet-active {
    background: #17469E;
    /* scale: 1.4; */
  }

  .hot_product_list_swiper_pagination_2 .swiper-pagination-bullet {
    scale: 1.4;
  }

  .btn_more_hot_product {
    margin-top: 7.5rem;
  }

  .main_section9__row {
    flex-direction: column;
    gap: 10rem;
  }

  .main_section9__col {
    width: 100%;
  }

  .main_section9__head__ttl {
    font-size: 3.8rem;
    line-height: 1.2;
  }

  .btn_more {
    font-size: 2.8rem;
    font-weight: bold;
  }

  .magazine_swiper {
    margin-bottom: 5rem;
  }

  .prd__item__left {
    width: 22rem;
  }

  .main_section_review__head_ttl {
    font-size: 3.8rem;
  }

  .eye_cnt {
    font-size: 2.6rem;
  }

  .eye_icon {
    width: 2.4rem;
    height: 1.8rem;
    margin-top: 0.5rem;
  }

  .prd_description {
    font-size: 2.6rem;
    width: 41rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .main_section_review__list {
    margin-top: 10rem;
  }

  .main_section_review__head__more_review {
    right: 2rem;
    top: 10rem;
    font-size: 2.8rem;
  }

  .review__list_swiper_btn_prev {
    left: 0rem;
    top: -3rem;
    border-style: solid;
    border-width: 1px;
    border-color: #dbdbdb;
    border-radius: 6px;
    background-color: #ffffffcc;
    width: 6rem;
    height: 6rem;
    position: absolute;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .review__list_swiper_btn_next {
    left: 7.7rem;
    top: -3rem;
    border-style: solid;
    border-width: 1px;
    border-color: #dbdbdb;
    border-radius: 6px;
    background-color: #ffffffcc;
    width: 6rem;
    height: 6rem;
    position: absolute;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ico_prev_slide,
  .ico_next_slide {
    width: 3rem;
    height: 3rem;
  }

  .swiper-wrapper-cus-top {
    margin-top: 4rem;
  }

  .review__list__item__type {
    font-size: 2.6rem;
  }

  .review__list__item__title {
    font-size: 2.8rem;
  }

  .review__list__item__content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* Số dòng muốn hiển thị trước khi cắt */
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3em;
    /* Điều chỉnh chiều cao để phù hợp với số dòng */
    line-height: 1.5em;
    font-size: 2.6rem;
  }

  .main_section_magazine__head__ttl {
    font-size: 3.8rem;
  }

  .main_section_magazine__head__more {
    font-size: 2.8rem;
  }

  .magazine_swiper__pagination .swiper-pagination-bullet-active {
    color: #17469E;
    scale: 1.6;
  }

  .magazine_swiper__pagination .swiper-pagination-bullet {
    scale: 1.6;
  }

  .magazine_swiper__pagination {
    margin-bottom: 0.5rem;
  }

  .img_box_1 {
    padding-top: 50%;
  }

  .img_box_1_m img {
    object-fit: contain;
  }

  .main_body_container .img_box_1_m img {
    object-fit: cover;
  }

  .main_visual_slider .owl-item:not(.active) .img_box::before {
    background-color: transparent;
  }

  .img_box_2_m {
    /* padding-top: inherit; */
  }

  .main_swiper2_btn_next,
  .main_swiper2_btn_prev {
    display: none;
  }

  .main_section9__col__img {
    margin-bottom: 5rem;
  }

  .main_section9__prd__item {
    margin-bottom: 3rem;
  }

  .main_section9__prd__item+.main_section9__prd__item {
    padding-top: 4rem;
  }

  /* .swiper-main-tools {
padding-top: 0 !important; */
  /* } */
  .breadcrumb_location>.breadcrumb_item+.breadcrumb_item::before {
    content: "";
    position: absolute;
    left: -1.5rem;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(/images/ico/ico_breadcrumb.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    width: 1.5rem;
    height: 2.0rem;
    display: inline-block;
    /* margin: 0 20px; */
  }

  .breadcrumb {
    display: flex;
    gap: 26px;
    align-items: center;
  }

  .magazine_content_txt {
    font-size: 3.2rem;
    font-family: "Pretendard";
    color: #ffffff;
    font-weight: bold;
    line-height: 1.4;
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
    min-width: 65%;
  }

  .main_section_review {
    margin: 6rem 0;
  }

  .main_section8 {
    padding: 8rem 0 4rem 0;
  }

  .main_section9 {
    padding: 5rem 0 3rem 0;
  }

  .main_hot {
    padding: 11rem 0 0 0;
  }

  .main_section3__head {
    padding: 7rem 0 0 0;
  }

  .main_section2 {
    padding-top: 5rem;
  }

  .main_section5 {
    padding: 7rem 0 0;
  }

  .main_section4 {
    margin-top: 9rem;
  }

  .main_section5__words_list {
    margin-top: 7rem;
  }

  .main_hot__search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


.main_hot__search button {
  padding: 1rem 2rem;
  border-radius: 99px;
  background-color: rgb(23, 70, 158, 0.9);
  color: #fff;
}

  .bar01 {
    /* display: none; */
  }

  .body_container.main_body_container {
    margin-top: 0;
    padding-top: 0;
  }

  .main_body_container .main_section2 .swiper_pagination_main_swiper2 {
    display: none;
  }

  .main_section_magazine {
    margin-top: 9rem;
  }

  .main_section_review {
    padding: 10.9rem 0;
  }

  .main_section7 {
    padding: 11rem 0 0 0;
  }

  .swiper-main-tools {
    gap: 0.9rem !important;
    padding-top: 3rem !important;
  }

  .main_body_container .img_box_1_m {
    padding-top: 60%;
  }

  .main_visual .swiper-button:after,
  .main_visual .swiper-button.swiper-button-next,
  .main_visual .swiper-button.swiper-button-prev {
    display: none;
  }

  .best_list {
    margin-top: 5rem;
  }

  .best_list_item .breadcrumb {
    margin-top: 2.8rem;
  }

  .breadcrumb_item {
    margin: 0 0.5rem !important;
  }

  .gap_10 {
    gap: 1rem !important;
  }

  .main_section5__words_list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  .main-page-cus-css-mobile .prd__item__right {
    max-width: calc(100% - 29rem);
  }

  .main-page-cus-css-mobile .community_item_bread {
    height: 1.8rem;
    position: unset;
    margin-left: unset;
    width: unset;
  }

  .main-page-cus-css-mobile .main_section7__banner__item .text-content h3 {
    font-size: 3.4rem;
    margin-bottom: -0.6rem;
    line-height: 5rem;
  }

  .main-page-cus-css-mobile .prd_price_thai {
    padding-bottom: 0.3rem;
  }

  .main-page-cus-css-mobile .next-icon-m {
    width: 1.1rem;
    height: 2rem;
  }

  .hotel-main-page-cus-css-mobile .form_gr_ {
    width: 62rem;
    height: 10rem;
    border-width: 0.3rem;
  }

  .hotel-main-page-cus-css-mobile .main_visual_content_ label {
    top: 1.1rem !important;
  }

  .hotel_day_popup_ {
    left: -1.5rem;
    top: 0;
  }

  .hotel_day_popup_ .header img {
    width: 1rem;
    height: 1.5rem;
  }

  .hotel_day_popup_ .header p {
    font-size: 2rem;
  }

  .hotel_day_popup_ .header img {
    width: 1rem;
    height: 1.5rem;
  }

  .hotel_day_popup_ .header {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  .hotel_day_popup_content_ {
    width: 69rem;
    padding: 1rem 2rem;
    border: 2px solid #dbdbdb;
    border-radius: 2rem;
  }

  .hotel_day_popup_ .canl_tabel .body .day {
    width: 9.2rem;
    height: 7.5rem;
  }

  .hotel_day_popup_ .day_area_ {
    width: 100%;
  }

  .hotel_day_popup_ .canl_tabel .body .day span.label span.label {
    position: absolute;
    top: 3.7rem;
    right: 0.8rem;
    font-size: 2rem !important;
    font-weight: 400;
    color: white !important;
    padding: 0.4rem 1.5rem;
    border-radius: 0.5rem;
  }

  .list_day_popup_list_ {
    flex-direction: column;
  }

  .hotel_day_popup_ .date_number {
    top: 1rem;
    right: 1.5rem;
  }

  .hotel_day_popup_ .hotel_day_popup_content_ .list_btn_ .btn_cancel_ {
    font-size: 2.6rem;
    letter-spacing: -1px;
    text-transform: uppercase;
    border-radius: 0.5rem;
    text-align: center;
    line-height: unset !important;
    padding: 0.8rem 1.2rem;
    background-color: #fff;
    color: #252525;
    font-weight: bold;
    border: 0.2rem solid #ccc;
  }

  .hotel_day_popup_ .hotel_day_popup_content_ .list_btn_ .btn_apply {
    font-size: 2.6rem;
    letter-spacing: -1px;
    text-transform: uppercase;
    border-radius: 0.5rem;
    text-align: center;
    line-height: unset !important;
    padding: 0.8rem 1.2rem;
    color: #fff;
    background-color: #17469E;
    font-weight: 400;
  }

  .sub_tour_section2 {
    padding: 43rem 0 0 0;
  }

  .hotel_day_popup_ .hotel_day_popup_content_ .list_btn_ {
    margin-top: 2rem;
    gap: 2rem;
  }

  .main_page_01 .main_visual_content_ .form_element_ .form_gr_item_ {
    max-height: 7.5rem !important;
  }

  .form_gr_ p {
    font-size: 2.6rems;
  }

  .main_page_01 .main_visual_content_ .form_element_ .form_gr_item_flex_ label {
    right: 2rem !important;
  }

  .form_gr_ {
    border: 0.2rem solid #dbdbdb;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.3rem solid #dbdbdb;
    border-radius: 0.6rem;
    overflow: hidden;
  }

  .main_sale_banner.visible {
    display: none;
  }

}