#header {
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #252525;
    /* position: fixed; */
    width: 100%;
    background-color: white;
    z-index: 999;
    position: relative;
}

#header>hr {
    border: 0;
    height: 1px;
    background: #eeeeee;
}

.select2-container--default .select2-selection--single {
    border: none !important;
}

.flex_header_top {
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 18px;
}

.flex_header_top select {
    height: 1px;
    width: 1px;
}

.img-flag {
    margin-top: 3px;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main-search-container {
    display: flex;
    align-items: center;
    position: relative;
}

#header .main-search-container {
    width: 400px;
}

#header .main-search-container #search_input_pc__header {
    padding-right: 40px !important;
}

.search-input {
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 13px 20px !important;
    outline: none;
    /* width: 400px !important; */
    font-size: 17px;
}

.search-icon {
    margin-left: -35px;
    color: #333;
    cursor: pointer;
}

.search_words_list {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    z-index: 1;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
}

.search_words_list li:hover {
    background-color: #dfdddd;
}

.search_words_list li a {
    display: block;
    padding: 13px 20px;
    cursor: pointer;
}

.search_words_list::-webkit-scrollbar {
    width: 5px;
}

.search_words_list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
}

.search_words_list::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 3px;
}


.btn_show_select {
    height: 44px;
    display: flex;
    align-items: center;
    border: 1px solid #17469E;
    border-radius: 24px;
    padding:  0 22px;
    color: #17469E;
}

.btn_show_select.active {
    background-color: #17469E;
    color: #fff;
}

.custom-select-rounded {
    margin-left: 30px;
}


.custom-select-rounded .select2-container--default .select2-selection--single {
    border: 2px solid #000 !important;
    border-radius: 30px;
    /* Rounded corners */
    background-color: white;
    padding: 5px 20px;
    /* Adjust padding as needed */
    height: auto;
    width: 200px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.custom-select-rounded .select2-container--default .select2-selection--single .select2-selection__arrow {
    position: absolute;
    right: 10px;
    top: 9px !important;
    /* top: 50%;
    transform: translateY(-50%); */
}

.custom-select-rounded .select2-container--default .select2-selection--single .select2-selection__rendered {
    text-align: center;
    /* Center text */
    color: black;
}

.custom-select-rounded .select2-dropdown {
    border-radius: 0;
    /* Optional: remove border radius from dropdown */
}

.custom-select-rounded .select2-results__option {
    padding: 8px 16px;
}

.custom-select-rounded .select2-results__option--highlighted {
    background-color: #ddd;
    color: black;
}

.custom-select-rounded .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
}

.icon-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    gap: 30px;
}

.icon-menu-item {
    text-align: center;
    color: #333;
    font-size: 14px;
    text-decoration: none;
}

.icon-menu-item.icon_my_page {
    display: flex;
    align-items: center;
    position: relative;

}

.icon-menu-item.icon_my_page:hover {
    scale: none;

}

.icon-menu-item.icon_my_page:hover .list_item {
    display: block;
}

.icon-menu-item.icon_my_page .list_item {
    position: absolute;
    top: 112%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 0;
    background-color: #fff;
    z-index: 1;
    width: 180px;
    border: 1px solid #17469e;
    border-radius: 20px;
    display: none;
}

.icon-menu-item.icon_my_page .list_item::after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background-color: transparent;
    position: absolute;
    top: -10px;
    left: 0;
}

.icon-menu-item.icon_my_page .list_item .item_link {
    padding: 10px 24px;
    font-size: 18px;
}

.icon-menu-item.icon_my_page .list_item .item_link:hover {
    background-color: #eee;
}




.icon-menu-item.icon_my_page p {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 600;
}

.icon-menu-item:nth-child(3) {
    width: auto;
}

.icon-menu-item img {
    margin-bottom: 10px;
}

.icon-menu-item:hover {
    color: #000;
}



.flex_header_top a.active_ {
    background-color: #17469E;
    padding: 6px 22px;
    border-radius: 25px;
    color: #fff;
}

.flex_header_top_content_list {
    gap: 18px;
}

.flex_header_top_content_list li {
    position: relative;
}

.flex_header_top_content_list li a {
    position: relative;
    padding: 6px 18px;
    border-radius: 16px;
    color: #1d1919;
    font-weight: 500;
    font-size: 21px;
}

.flex_header_top_content_list li:hover a {
    background-color: #17469E;
    color: #fff;
}

.flex_header_top_content_list li.new:hover a::after {
    display: none;
}

.flex_header_top_content_list li:hover a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 8px solid #17469E;
    border-bottom: 8px solid transparent;
}


.flex_header_top_content_list li:hover .sub_nav_menu {
    display: flex;
}

.flex_header_top_content_list li .sub_nav_menu {
    position: absolute;
    top: 40px;
    width: 270px;
    background-color: #fff;
    padding: 30px 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    border-radius: 20px;
    display: none;
    border: 1px solid #17469E;
}

.flex_header_top_content_list li .sub_nav_menu::after {
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    position: absolute;
    top: -30px;
    left: 0;
    background-color: transparent;
}

.flex_header_top_content_list li .sub_nav_menu a.sub_item {
    width: 45%;
    text-align: left;
    padding: 12px 10px;
    border-bottom: 1px solid #eee;
    display: block;
    border-radius: unset;
}

.flex_header_top_content_list li:hover .sub_nav_menu a.sub_item {
    background-color: unset;
    color: unset;
}

.flex_header_top_content_list li:hover .sub_nav_menu a.sub_item p {
    font-size: 18px;
}

.flex_header_top_content_list li:hover .sub_nav_menu a.sub_item::after {
    display: none;
}

.flex_header_top_content_list li .sub_nav_menu a.sub_item:hover {
    /* background-color: #dbdbdb; */
    color: unset;
}

.custom_select_rounded {
    display: flex;
    align-items: center;
    gap: 20px;
    display: none;
}

.custom_select_rounded.show {
    display: flex;
}

.custom_select_rounded .select_custom_ {
    min-width: 100px;
    border-radius: 22px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    padding: 10px 0 10px 20px;
    font-size: 16px;
    letter-spacing: -1px;
    line-height: 26px;
    text-transform: uppercase;
    color: #252525;
    font-weight: 500;
    font-family: "Pretendard";
    height: 44px;
}

.custom_select_rounded .select_custom_.active_ {
    border: 1px solid #17469E;
    color: #17469E;
}

.custom_select_rounded .text_custom_ {
    font-size: 16px;
    letter-spacing: -1px;
    line-height: 26px;
    text-transform: uppercase;
    color: #454545;
    font-weight: 500;
    font-family: "Pretendard";
}

.custom_select_rounded .text_custom_v2_ {
    min-width: 70px;
    min-height: 44px;
    border-radius: 22px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    font-size: 16px;
    letter-spacing: -1px;
    line-height: 26px;
    text-transform: uppercase;
    color: #252525;
    font-weight: 500;
    font-family: "Pretendard";
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom_select_rounded .select_custom_.active_ {
    background: #fff url(/images/ico/select_ico_active.png) right 20px center no-repeat;
}

.header_replace {
    height: 245px;
    width: 100%;
    display: none;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#popupContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    height: 80%;
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    background-color: white;
}

#popupIframe {
    width: 100%;
    height: calc(100% - 40px); 
    border: none;
}

#closeButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: #17469E;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
}

#closeButton:hover {
    background: #d32f2f;
}


@media screen and (max-width: 850px) {
    .select_res_header {
        font-size: 1.4rem;
        /* min-width: 16.2rem; */
    }

    .header_logo_m {
        width: 21rem;
        height: 4.7rem;
    }

    .burger {
        cursor: pointer;
        /* background-image: url("/uploads/icons/menu_m.png"); */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hamburger {
        cursor: pointer;
        width: 3.4rem;
        height: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hamburger .bar {
        height: 0.3rem;
        background-color: #333;
        transition: all 0.3s ease;
    }

    .hamburger.change .bar1 {
        transform: rotate(-45deg) translate(-0.8rem, 0.8rem);
    }

    .hamburger.change .bar2 {
        opacity: 0;
    }

    .hamburger.change .bar3 {
        transform: rotate(45deg) translate(-0.7rem, -0.8rem);
    }

    .nav-active {
        display: flex;
    }

    .flex_header_top {
        display: flex;
        padding: 1rem 0;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
    }

    .flex_header_top.body_inner {
        padding-bottom: 2.4rem;
        padding-top: 1.5rem;
        border-bottom: 0.3rem solid rgb(238, 238, 238);
        padding-inline: 3rem;
    }

    .menu_mobile .body_inner {
        padding-inline: 3rem;
        padding-top: 3rem;
    }

    .flex_header_top>.burger>img {
        max-width: 3.7rem;
        height: 3.5rem;
    }

    .search_m_header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-icon-m {
        position: absolute;
        right: 1rem;
        top: 2rem;
        transform: translateY(-1rem);
        transform: translateX(-2rem);
        color: #333;
        width: 4rem;
        height: 4rem;
    }

    .search-container-m {
        margin-top: 4rem;
        margin-bottom: 2rem;
        position: relative;
        display: flex;
        align-items: center;
    }

    .search-input-m {
        border: 0.2rem solid #ddd;
        border-radius: 5rem;
        padding: 1.3rem 2rem !important;
        outline: none;
        width: 66rem !important;
        font-size: 1.4rem;
        height: 7.8rem;
    }

    .search-input-m::placeholder {
        font-size: 2.6rem;
        color: #999999;
    }

    .flex_header_mo_bots {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }

    .flex_header_mo_bot {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .select_header_m {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url("../../uploads/icons/arrow-select-m.png") no-repeat right center;
        background-size: 2rem;
        background-position: calc(100% - 1rem) center;
        padding-right: 1.5rem;
        width: 12rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        border-radius: 3rem;
        padding: 0 2rem;
        border: 0.2rem solid #e9e9e9;
        color: #252525;
        font-size: 2.6rem;
    }

    .select_header_m_no_arr {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding-right: 1.5rem;
        width: 12rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        border-radius: 3rem;
        padding: 0 2.5rem;
        border: 0.2rem solid #e9e9e9;
        color: #252525;
        font-size: 2.6rem;
    }

    .select_header_m.on {
        background: url("../../uploads/icons/arrow-select-m-active.png") no-repeat right center;
        background-size: 2rem;
        background-position: calc(100% - 1rem) center;
        padding-right: 1.5rem;
        width: 12rem;
        height: 5rem;
        border-radius: 3rem;
        border: 0.2rem solid #17469E;
        color: #17469E;
    }

    .font-26 {
        font-size: 2.6rem;
    }

    .mtb {
        margin-top: 5rem;
        margin-bottom: 2rem;
    }

    .inner_header_m {
        margin-top: 1rem;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 2.6rem !important;
        width: 1.2rem !important;
    }

    .custom-select-lang {
        width: 100%;
        /* Đặt chiều rộng cho màn hình nhỏ hơn */
        position: relative;
    }

    .select2-container--default .select2-results__options {
        max-height: 20rem;
        overflow-y: auto;
    }

    .flex_header_top_item {
        max-width: 30%;
    }

    #header_mobile {
        /* position: fixed; */
        top: 0;
        z-index: 100;
        background-color: white;
        margin-top: 0;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.5rem 1.5rem;
    }

    #header_mobile .nav-container {
        width: 71.3rem;
        padding: 3rem 0 3rem 3rem;
        text-align: center;
        overflow-y: scroll;
    }

    #header_mobile .scroll-con {
        display: flex;
        align-items: center;
        gap: 3.6rem;
    }

    #header_mobile .scroll-con span {
        font-size: 2.8rem;
        font-weight: 500;
        display: inline-block;
        white-space: nowrap;
    }

    #header_mobile .scroll-con span a.active_ {
        color: var(--bs-point);
        position: relative;
    }

    #header_mobile .scroll-con span a.active_::before {
        content: "";
        position: absolute;
        bottom: -3rem;
        right: 0;
        width: 100%;
        height: 0.4rem;
        background-color: var(--bs-point);
    }

    .scroll-con::-webkit-scrollbar {
        display: none;
    }

    #header_mobile .scroll-con::-webkit-scrollbar {
        display: none;
    }

    .header_mobile__wrap {
        position: relative;
    }

    .menu_mobile {
        display: none;
        position: absolute;
        top: 100%;
        z-index: 1;
        background-color: #fff;
        width: 100%;
        border-bottom: 0.2rem solid #eeeeee;
    }

    .menu_mobile__head {
        display: flex;
        align-items: center;
        gap: 3rem;
        border-bottom: 0.2rem solid #eeeeee;
        padding-bottom: 3rem;
    }

    .menu_mobile__head>li {
        border-width: 0.2rem;
        border-color: #dbdbdb;
        border-style: solid;
        border-radius: 0.6rem;
        background-color: #ffffff;
        height: 7.2rem;
        font-size: 2.6rem;
        font-family: "Pretendard";
        color: #757575;
        line-height: 1;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu_mobile__tools {
        display: flex;
        flex-wrap: wrap;
        padding-top: 3.8rem;
        padding-bottom: 2.9rem;
    }

    .menu_mobile__tools>li {
        width: 25%;
    }

    .menu_mobile__tools>li>a {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        font-size: 2.6rem;
        font-family: "Pretendard";
        color: #757575;
        line-height: 0.923;
    }

    .menu_mobile__list {
        display: flex;
        flex-direction: column;
    }

    .menu_mobile__list>li>a {
        font-size: 2.8rem;
        font-family: "Pretendard";
        color: #353535;
        font-weight: 700;
        line-height: 1;
    }

    .menu_mobile__list>li {
        padding: 3.5rem 0;
        border-top: 0.2rem solid #eeeeee;
    }

    .popup_search_mo {
        display: none;
        position: absolute;
        top: -1rem;
        z-index: 99;
        background-color: #fff;
        width: 100%;
        border-bottom: 0.2rem solid #eeeeee;
        height: 92rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.5rem 1.5rem;
    }

    .popup_search_mo .title-ps {
        font-size: 3.4rem;
        font-weight: 600;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 0.2rem solid rgb(238, 238, 238);
    }

    #header_mobile .input-form-ps {
        padding: 0 3rem;
        margin-top: 4.4rem;
        position: relative;
    }

    #header_mobile .input-form-ps input {
        border-radius: 0.5rem;
        border-width: 0.2rem;
        font-size: 2.8rem;
    }

    #header_mobile .input-form-ps img {
        width: 3.7rem;
        height: 3.6rem;
        position: absolute;
        top: 2.1rem;
        right: 5.4rem;
    }

    #header_mobile .text-c-ps {
        margin-top: 3rem;
        padding: 0 3rem;
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    #header_mobile .text-c-ps label {
        width: 14.5rem;
        height: 5.2rem;
        color: white;
        background-color: var(--bs-point);
        border-radius: 9.9rem;
        text-align: center;
        padding: 1rem 0rem;
    }

    #header_mobile .text-c-ps span {
        font-size: 2.8rem;
        font-weight: 500;
    }

    .popup_search_mo .header_ps {
        height: 9rem;
        position: relative;
    }

    .popup_search_mo .header_ps img {
        position: absolute;
        right: 3.7rem;
        top: 3rem;
        width: 3rem;
        height: 3.1rem;
    }

    .quick-header-footer {
        background-color: white;
        display: flex;
        position: fixed;
        bottom: 0;
        z-index: 101;
        width: 100%;
        gap: 8rem;
        padding: 0 4rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0rem 2.0769rem 2.1154rem, rgba(0, 0, 0, 0.12) 0rem -0.4615rem 1.1538rem, rgba(0, 0, 0, 0.12) 0rem 0.1538rem 0.2308rem, rgba(0, 0, 0, 0.17) 0rem 0.4615rem 0.5rem, rgba(0, 0, 0, 0.09) 0rem -0.1154rem 0.1923rem;
    }

    .quick-header-footer .nav-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 6.7rem;
        margin: 2.2rem 0;
        width: 6.4rem;
    }

    .quick-header-footer .nav-item img.nav-pic {
        max-width: 3.8rem;
        max-height: 3.7rem;
    }

    .quick-header-footer .nav-item img.nav-pic-cus {
        max-width: 7.5rem;
        max-height: 6.5rem;
    }

    .quick-header-footer .nav-item span {
        font-size: 2rem;
    }

    .quick-header-footer .nav-con-cus {
        background-color: #ffec9e;
        border-radius: 9.9rem;
        margin-top: -6.5rem;
        height: 9.4rem;
        width: 9.4rem;
        text-align: center;
        padding: 1.9rem 0;
        /* box-shadow: 0rem 1rem 1.6rem 0rem var(--bs-point); */
    }

    .header_replace {
        height: 19rem !important;
    }

    #mobile_menu {
        z-index: 100;
        position: fixed;
        left: 0;
        right: 0;
        border-top: none;
        display: none;
        background-color: #fff;
        bottom: 8.4rem;
        height: 100rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 0.5rem 1.5rem;
        padding: 0 ;
    }

    #mobile_menu .m_my {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        padding: 3rem 0;
        border-bottom: 2px solid #eee;
        background-color: #fbfbfb;

    }

    #mobile_menu .m_my li {
        border: 0.2rem solid rgb(219, 219, 219);
        padding: 1.3rem 0;
        border-radius: 0.6rem;
        color: #787878;
        margin-right: 0.4231rem;
        width: 16rem;
        text-align: center;
    }

    #mobile_menu .gnb_menu_item {
        /* padding: 4rem 3rem; */
        border-bottom: 0.2rem solid #ccc;
    }

    #mobile_menu .gnb_menu_item .menu_level_1 {
        padding: 3rem 4rem;
        background-color: #fefefe;
        border-bottom: 1px solid #fafafa;
    }

    #mobile_menu .gnb_menu_item .menu_level_2 {
        padding: 3rem 7rem;
        background-color: #f4f5f6;
        border-bottom: 1px solid #fff;
        display: none;
    }
    
    #mobile_menu .gnb_menu_item .menu_level_1 img {
        width: 3.2rem;
    }

    #mobile_menu .gnb_menu_item .menu_level_1 img.up {
        transform: rotate(180deg);
    }



    #mobile_menu .scroll-menu-mo {
        height: 100%;
        padding-bottom: 10rem;
    }

    #mobile_menu .scroll-menu-mo .gnb_menu {
        height: 80rem;
        overflow-y: scroll;
    }

    #mobile_menu .gnb_menu_item a {
        font-size: 3rem;
        font-weight: 600;
    }
}

@media screen and (max-width: 550px) {
    .select_res_header {
        font-size: 14px;
    }

    .img-flag {
        margin-top: 1rem;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 3.6rem !important;
        width: 2.2rem !important;
        top: 2px !important;
        right: 8px !important;
    }
}

@media screen and (max-width: 450px) {
    .select_res_header {
        font-size: 1.8rem;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 3.6rem !important;
        width: 2.2rem !important;
        top: 5px !important;
        right: 12px !important;
    }
}