/* popup */
/* popup */
#dim {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10000;
}

#popupRoom,
#popup_img {
    max-width: 870px;
    width: 90%;
    max-height: 630px;
    height: 100%;
    background-color: transparent;
    position: fixed;
    top: 60%;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
    z-index: 10001;
}

#popupRoom,
#popup_img {
    display: block;
    overflow: hidden;
}

#popupRoom.on,
#popup_img.on {
    display: none;
}

#popupRoom strong,
#popup_img strong {
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding: 0 2%;
    line-height: 50px;
    background-color: #222222;
    width: 100%;
    color: #ffffff;
}

#popupRoom .closed_btn,
#popup_img .closed_btn {
    position: absolute;
    top: 12px;
    right: 2%;
    width: 30px;
    height: 30px;
}

/* slick */
#popupRoom .slick-slide img,
#popup_img .slick-slide img {
    width: 870px;
    height: 490px;
    object-fit: cover;
}

#popupRoom .slick-slide,
#popup_img .slick-slide {
    max-height: 490px;
}

#popupRoom .slick-arrow,
#popup_img .slick-arrow {
    position: absolute;
    z-index: 1;
}

#popupRoom .slick-prev,
#popup_img .slick-prev {
    left: 0;
}

#popupRoom .slick-next,
#popup_img .slick-next {
    right: 0;
}

#popupRoom .slick-prev,
#popup_img .slick-prev {
    background: url("/images/ico/btn_prev.png") no-repeat 0 0;
    width: 60px;
    height: 60px;
}

#popupRoom .slick-next,
#popup_img .slick-next {
    background: url("/images/ico/btn_next.png") no-repeat 0 0;
    width: 60px;
    height: 60px;
    transform: translateY(-50%);
}

.slick-prev:before,
.slick-next:before {
    display: none;
}

.slick-dots {
    bottom: 15px !important;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    gap: 10px;
}

.slick-dots li button:before {
    display: none;
}

.slick-dots li {
    width: 10px;
    height: 10px;
}

.slick-dots li.slick-active button {
    background: url("/images/ico/active_dot.png") no-repeat 0 0;
    width: 10px;
    height: 10px;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    background: url("/images/ico/active_dot.png") no-repeat 0 0;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.slick-dots li button {
    background: url("/images/ico/unactive_dot.png") no-repeat 0 0;
    width: 10px;
    height: 10px;
}

/* popup_wrap */
.popup_wrap {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    font-family: 'Noto Sans KR';
    z-index: 9999;
}

.popup_wrap .pop_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 480px;
    width: calc(100% - 30px);
    background: #fff;
    border-radius: 4px;
    z-index: 1;
}

.popup_wrap.popup_view_room .pop_box {
    max-width: 1000px;
    padding: 2%;
    height: 600px;
    overflow-y: scroll;
    box-sizing: border-box;
    border-radius: 20px;
}

.popup_wrap.popup_policy_room .pop_box {
    max-width: 700px;
    height: 700px;
    overflow-y: scroll;
    border-radius: 20px;
}

.popup_view_room .pop_body {
    display: flex;
    justify-content: space-between;
}

.popup_view_room .list_room_img {
    width: 48%;
}

.popup_view_room .room_content {
    width: 48%;
}

.popup_view_room .room_content .room_name {
    margin: 0;
    font-size: 22px;
    color: #333;
    padding-bottom: 30px;
}

.popup_view_room .room_content .room_info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-bottom: ;
}

.popup_view_room .room_content .room_info .info_tit {
    color: gray;
    padding-bottom: 15px;
    font-size: 13px;
}

.popup_view_room .room_content .room_info .info_txt p {
    color: #333;
    font-size: 14px;
    line-height: 24px;
}

.popup_view_room .room_content .room_info .info_detail {
    color: gray;
    line-height: 24px;
    font-size: 14px;
    text-align: justify;
}

.popup_view_room p.ptxt01 {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    color: #2ab6ad;
    font-size: 13px;
    text-align: justify;
    line-height: 24px;
}

.popup_wrap.promotion_pop .pop_box {
    max-width: 760px;
    padding: 0 40px;
}

.popup_wrap.benefit_pop .pop_box {
    max-width: 760px;
    padding: 0 40px;
}

.popup_wrap.promotion_pop .pop_box .popup_contents {
    margin-top: 20px;
    max-height: 400px;
    overflow-y: auto;
}

.popup_wrap.promotion_pop .pop_box .popup_contents .text_blue {
    font-size: 18px;
    font-weight: 500;
    color: #3c95c2;
    margin-bottom: 22px;
}

.popup_wrap.promotion_pop .pop_box .popup_contents .promotion_wrap p{
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
}

.popup_wrap.promotion_pop .pop_box .popup_contents .promotion_wrap input {
    background-color: #ebf1f6;
    width: 100%;
    border-radius: 12px;
    border: unset;
}

.popup_wrap.promotion_pop .pop_box .popup_contents .promotion_wrap + .promotion_wrap {
    margin-top: 20px;
}

.popup_wrap .pop_box_comment {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 840px;
    width: calc(100% - 30px);
    background: #ffffff;
    border-radius: 16px;
    border: 1px solid #c1c1c1;
    z-index: 1;
}

.popup_wrap .pop_box_comment .close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 28px;
    height: 28px;
    background: url('/images/time_sale/ico_close.png') no-repeat center;
}

.popup_wrap .pop_box_comment .pop_body .padding {
    padding: 85px 30px 50px;
}

.popup_wrap .pop_box_comment .comment_detail_top {
    display: flex;
    gap: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eeeeee;
}

.popup_wrap .pop_box_comment .comment_detail_top .comment_detail_img {
    width: 200px;
    height: 140px;
}

.popup_wrap .pop_box_comment .comment_detail_top .comment_detail_img img {
    width: 100%;
    height: 100%;
}

.popup_wrap .pop_box_comment .comment_detail_top .comment_content {
    padding-top: 20px;
}

.popup_wrap .pop_box_comment .comment_detail_top .comment_content h4 {
    font-weight: 600;
    font-size: 20px;
    font-family: "Pretendard";
    line-height: 26px;
    color: #252525;
}

.popup_wrap .pop_box_comment .comment_detail_top .comment_content .status {
    font-family: "Pretendard";
    font-weight: 500;
    font-size: 16px;
    color: #757575;
    margin-top: 20px;
}

.popup_wrap .pop_box_comment .comment_detail_top .comment_content .status .red {
    color: #cf2a27;
}

.popup_wrap .pop_box_comment .comment_detail_top .comment_content .date {
    font-family: "Pretendard";  
    font-size: 16px;
    font-weight: 300;
    color: #757575;
    text-align: left;
    margin: 10px 0 10px;
}

.popup_wrap .pop_box_comment .comment_detail_wrap {
    padding: 30px 0 20px;
}

.popup_wrap .pop_box_comment .comment_detail_wrap .comment_total {
    font-family: "Pretendard";
    font-size: 18px;
    color: #757575;
}

.popup_wrap .pop_box_comment .comment_detail_wrap .comment_total .total {
    color: #2a459f;
}

.popup_wrap .pop_box_comment .comment_write {
    margin-top: 25px;
    position: relative;
}

.popup_wrap .pop_box_comment .comment_write .line {
    display: inline-block;
    width: 1px;
    height: 90px;
    background-color: #dddddd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 140px;
}

.popup_wrap .pop_box_comment .comment_write .btn_comment {
    position: absolute;
    top: 0;
    right: 0;
    width: 140px;
    height: 132px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Pretendard";
    font-size: 18px;
    color: #252525;
}

.popup_wrap .pop_box_comment textarea {
    width: 100%;
    height: 132px;
    border-radius: 6px;
    border: 1px solid #dbdbdb;
    padding: 15px 160px 20px 20px;
    font-size: 16px;
    resize: none;
}

.popup_wrap .pop_box_comment .comment_list {
    border-top: 1px solid #e7e7e7;
    max-height: 350px;
    overflow-y: scroll;
}

.popup_wrap .pop_box_comment .comment_el {
    border-bottom: 1px solid #e7e7e7;
}

.comment_list .comment_el .comment_wrap {
    padding: 30px 20px;
    position: relative;
}

.comment_list .comment_el .comment_wrap .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment_list .comment_el .comment_wrap .info .left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.comment_list .comment_el .comment_wrap .info .user {
    font-weight: 600;
    font-size: 18px;
    font-family: "Pretendard";
    color: #454545;
}

.comment_list .comment_el .comment_wrap .info .date {
    font-size: "Pretendard";
    font-size: 18px;
    color: #bbbbbb;
}

.comment_list .comment_el .comment_wrap .info button {
    font-family: "Pretendard";
    font-size: 18px;
    color: #2a459f;
}

.comment_list .comment_el .comment_wrap .info .setting .btn_edit {
    margin-left: 30px;
    position: relative;
}

.comment_list .comment_el .comment_wrap .info .setting .btn_edit::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -17px;
    transform: translateY(-50%);
    width: 2px;
    height: 16px;
    background-color: #ececec;
}

.comment_list .comment_el .comment_wrap .content {
    font-family: "Pretendard";
    font-size: 18px;
    line-height: 26px;
    color: #252525;
    margin-top: 25px;
}

.comment_list .comment_el .comment_wrap.comment_reply_wrap {
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 0;
}

.comment_list .comment_el .comment_wrap .comment_reply_write {
    display: flex;
    align-items: center;
    gap: 20px;
}

.comment_list .comment_el .comment_wrap .comment_reply_write i {
    display: inline-block;
    width: 17px;
    height: 23px;
    background: url("/images/time_sale/ico_reply_arrow.png") no-repeat center/cover;
    background-size: 17px 23px;
}

.comment_list .comment_el .comment_wrap .comment_reply_write .comment_write {
    width: 100%;
}

.comment_list .comment_el .comment_wrap .comment_reply_write .comment_write textarea,
.comment_list .comment_el .comment_wrap .comment_edit .comment_write textarea {
    height: 100px;
}

.comment_list .comment_el .comment_wrap .comment_reply_write .comment_write .btn_comment,
.comment_list .comment_el .comment_wrap .comment_edit .comment_write .btn_comment {
    height: 100px;
}

.comment_list .comment_el .comment_wrap .comment_reply_write .comment_write .line,
.comment_list .comment_el .comment_wrap .comment_edit .comment_write .line {
    height: 51px;
}

.comment_list .comment_el .comment_wrap .ico_reply {
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 0;
    width: 20px;
    height: 20px;
    background: url("/images/time_sale/ico_reply.png") no-repeat center/cover;
    background-size: 20px 20px;
}

textarea::placeholder {
    color: #bbbbbb;
    font-size: 16px;
  }
  

.popup_wrap.edit_input_pop .pop_box {
    max-width: 600px;
    width: calc(100% - 30px);
}

.popup_wrap .pop_box .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 23px;
    height: 23px;
    background: url('/images/ico/close_icon_popup.png') no-repeat center;
}

.popup_wrap .pop_box .pop_txt p {
    margin-top: 50px;
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #252525;
    text-align: center;
}

.popup_wrap .pop_box .pop_desc {
    margin-top: 30px;
}

.popup_wrap .pop_box .pop_desc p {
    font-family: "Noto Sans KR";
    font-size: 16px;
    line-height: 28px;
    color: #454545;
    text-align: center;
}

.popup_wrap .pop_box .padding {
    padding-bottom: 45px;
}

.popup_wrap .pop_box input {
    height: 50px;
    width: 300px;
}

.popup_wrap .pop_box .wrap_check {
    flex-direction: column;
}

.popup_wrap .pop_box .pop_input {
    margin-top: 60px;
}

.popup_wrap .pop_box .pop_input.wrap_check {
    margin-top: 30px;
    padding: 0 75px;
}

.popup_wrap .pop_box .pop_input.wrap_check .check_box {
    margin-bottom: 20px;
}

.popup_wrap .pop_box .pop_input button {
    padding: 10px 30px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    color: #454545;
    font-family: "Noto Sans KR";
    font-size: 16px;
    line-height: 28px;
}

.edit_input_pop .pop_box .pop_input {
    margin-top: 30px;
}

.popup_wrap .pop_box .pop_input button:last-child {
    background-color: #253dbe;
    color: #ffffff;
    margin-left: 10px;
}

.popup_wrap .pop_input .check_box input[type="radio"]:checked,
.popup_wrap .pop_input .check_box input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.popup_wrap .pop_input .check_box input[type="radio"]:checked + label,
.popup_wrap .pop_input .check_box input[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

.popup_wrap .pop_input .check_box input[type="radio"]:checked + label:before,
.popup_wrap .pop_input .check_box input[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

.popup_wrap .pop_input .check_box input[type="radio"]:checked + label:after,
.popup_wrap .pop_input .check_box input[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #2e3e92;
    position: absolute;
    top: 5px;
    left: 5px;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.popup_wrap .pop_input .check_box input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.popup_wrap .pop_input .check_box input[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.popup_wrap .pop_input .check_box label {
    font-size: 16px;
    font-family: "Noto Sans KR";
    color: #252525;
    margin-left: 10px;
}

.popup_wrap .wrong_alert {
    color: red;
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
}

.popup_wrap .dim {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

/* modal */
.modal_common {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: none;
}

.pop_dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: -1;
}

.modal_common .pop_item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
}

.modal_common.img_pop .pop_item {
    max-width: 400px;
    width: 100%;
}

.img_pop .pop_top {
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-sizing: border-box;
}

.modal_common .btn_close {
    display: block;
    width: 14px;
    height: 14px;
    background: no-repeat center;
    background-image: url(/images/ico/close_icon_popup.png);
    border: none;
    margin: 0 7px 0 auto;
    font-size: 0;
    color: transparent;
}

.pop_content {
    width: 400px;
    max-width: 100%;
    height: 565px;
    display: flex;
    background-color: #333;
    max-height: calc(100% - 28px);
}

@media screen and (max-width: 850px) {
    .popup_wrap .pop_box {
        max-width: 100%;
        /* height: 9.9286rem; */
    }

    .popup_wrap.edit_input_pop .pop_box {
        max-width: 100%;
        /* height: 13rem; */
    }

    .report_pop .pop_box {
        height: 25rem;
    }

    .popup_wrap .pop_box .close {
        position: absolute;
        top: 0.7692rem;
        right: 0.7692rem;
        width: 1.5385rem;
        height: 1.5385rem;
        background-size: 1.5385rem;
        background: url('/images/ico/close_icon_popup.png') no-repeat center;
    }

    .popup_wrap .pop_box .pop_txt p {
        margin-top: 1.9231rem;
        font-family: "Noto Sans KR";
        font-weight: 500;
        font-size: 1.2308rem;
        line-height: 1.3846rem;
        color: #252525;
        text-align: center;
    }

    .popup_wrap .pop_box .pop_desc {
        margin-top: 1.1538rem;
    }

    .popup_wrap .pop_box .pop_desc p {
        font-family: "Noto Sans KR";
        font-size: 1rem;
        line-height: 1.3846rem;
        color: #454545;
        text-align: center;
    }

    .popup_wrap .pop_box .padding {
        padding-bottom: 4.5rem;
    }

    .popup_wrap .pop_box input {
        height: 3.2143rem;
        width: 15.7857rem;
    }

    .popup_wrap .pop_box .wrap_check {
        flex-direction: column;
    }

    .popup_wrap .pop_box .pop_input {
        margin-top: 2.3077rem;
    }

    .report_pop .pop_box .pop_input {
        margin-top: 3.0769rem;
    }

    .popup_wrap .pop_box .pop_input.wrap_check {
        margin-top: 1.5385rem;
        padding: 0 2.8846rem;
    }

    .popup_wrap .pop_box .pop_input.wrap_check .check_box {
        margin-bottom: 0.7692rem;
    }

    .popup_wrap .pop_box .pop_input button {
        padding: 0.5769rem 1.3462rem;
        border: 1px solid #dbdbdb;
        border-radius: 4px;
        color: #454545;
        font-family: "Noto Sans KR";
        font-size: 1rem;
        line-height: 1.3846rem;
    }

    .edit_input_pop .pop_box .pop_input {
        margin-top: 1.1538rem;
    }

    .popup_wrap .pop_box .pop_input button:last-child {
        background-color: #253dbe;
        color: #ffffff;
        margin-left: 0.7692rem;
    }

    .popup_wrap .pop_input .check_box input[type="radio"]:checked,
    .popup_wrap .pop_input .check_box input[type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    .popup_wrap .pop_input .check_box input[type="radio"]:checked + label,
    .popup_wrap .pop_input .check_box input[type="radio"]:not(:checked) + label {
        position: relative;
        padding-left: 1.5385rem;
        cursor: pointer;
        line-height: 1.1538rem;
        display: inline-block;
        color: #666;
    }

    .popup_wrap .pop_input .check_box input[type="radio"]:checked + label:before,
    .popup_wrap .pop_input .check_box input[type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 1.2308rem;
        height: 1.2308rem;
        border: 1px solid #ddd;
        border-radius: 100%;
        background: #fff;
    }

    .popup_wrap .pop_input .check_box input[type="radio"]:checked + label:after,
    .popup_wrap .pop_input .check_box input[type="radio"]:not(:checked) + label:after {
        content: '';
        width: 0.6923rem;
        height: 0.6923rem;
        background: #2e3e92;
        position: absolute;
        top: 0.2692rem;
        left: 0.2692rem;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .popup_wrap .pop_input .check_box input[type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    .popup_wrap .pop_input .check_box input[type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .popup_wrap .pop_input .check_box label {
        font-size: 1rem;
        font-family: "Noto Sans KR";
        color: #252525;
        margin-left: 0.7692rem;
    }

    .popup_wrap .wrong_alert {
        font-size: 1rem;
        margin-top: 0.2rem;
    }

    .popup_place__head {
        border-bottom: 1px solid #222222;
        padding-bottom: 2.5rem;
        padding-top: 5.5rem;
    }

    .popup_place__head__ttl {
        font-size: 3.6rem;
        font-weight: 700;
    }

    .popup_wrap.promotion_pop .pop_box .popup_contents {
        margin-top: 2rem;
    }

    .popup_wrap.promotion_pop .pop_box .popup_contents .text_blue {
        font-size: 2.8rem;
        font-weight: 500;
        color: #3c95c2;
        margin-bottom: 2.2rem;
    }

    .popup_wrap.promotion_pop .pop_box .popup_contents .promotion_list {
        overflow-y: auto;
        max-height: 35rem;
    }

    .popup_wrap.promotion_pop .pop_box .popup_contents .promotion_wrap input {
        background-color: #ebf1f6;
        width: 100%;
        border-radius: 1.2rem;
        border: unset;
        height: 6.2143rem;
        font-size: 2rem;
    }

    .popup_wrap.promotion_pop .pop_box .popup_contents .promotion_wrap + .promotion_wrap {
        margin-top: 2rem;
    }

    .popup_wrap.promotion_pop .pop_box .close {
        position: absolute;
        top: 1.7692rem;
        right: 2.7692rem;
        width: 2.5385rem;
        height: 2.5385rem;
        background-size: 1.5385rem;
        background: url(/images/ico/close_icon_popup.png) no-repeat center;
    }

    .popup_view_room .pop_body {
        flex-direction: column;
    }

    .popup_view_room .list_room_img {
        width: 100%;
    }
    
    .popup_view_room .room_content {
        width: 100%;
    }
    
    .popup_view_room .room_content .room_name {
        margin: 0;
        font-size: 3rem;
        color: #333;
        padding-bottom: 3rem;
    }
    
    .popup_view_room .room_content .room_info {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }
    
    .popup_view_room .room_content .room_info .info_tit {
        color: gray;
        padding-bottom: 1.5rem;
        font-size: 2.3rem;
    }
    
    .popup_view_room .room_content .room_info .info_txt p {
        color: #333;
        font-size: 2.4rem;
        line-height: 1.4;
    }
    
    .popup_view_room .room_content .room_info .info_detail {
        color: gray;
        line-height: 1.4;
        font-size: 2.4rem;
        text-align: justify;
    }
    
    .popup_view_room p.ptxt01 {
        border-top: 1px solid #ddd;
        padding-top: 1rem;
        color: #2ab6ad;
        font-size: 2.3rem;
        text-align: justify;
        line-height: 1.4;
    }

    .popup_wrap.popup_view_room .pop_box {
        padding: 4rem 0.5rem;
        padding-left: 1.5rem;
        border-radius: 2rem;
        height: 70rem;
        width: calc(100% - 3rem);
        max-width: 100%;
    }

    .popup_wrap.popup_view_room .pop_box .close {
        width: 2.5385rem;
        height: 2.5385rem;
        background-size: 2.5385rem;

    }
}
